/*
Theme Name: Maxima
Theme URI: -
Description: Maxima Wordpress Theme
Version: 1.02
Author: Goodlayers
Author URI: http://goodlayers.com
License:
License URI:
Tags: white, light, Orange, two-columns, flexible-width, custom-background, custom-colors, featured-images, theme-options
*/

/* #Style Reset
================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; padding: 0; border: 0;
	font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
a{ text-decoration: none; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* #Basic Styles
================================================== */
body {
	line-height: 155%; line-height:1.55; 
	-webkit-text-size-adjust: 100%;
	font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif; 
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal; line-height: 1.3; margin-bottom: 15px;
	font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif; }	
/*--- web safe font ---* 
	HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif
	Georgia, "Times New Roman", Times, serif
 *--- web safe font ---*/
 
p{ margin-bottom: 20px; }
p:last-child{ margin-bottom: 0px;}

table { border-width: 1px; border-style: solid; width: 100%; }
tr th{ border-bottom-width: 1px; border-bottom-style: solid; text-align: left; }
tr th, tr td{ padding: 9px 20px; border-right: 1px solid; }
tr th:last-child, tr td:last-child{ border-right: 0px; }
table th{ font-weight: bold; }
	
em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }	
sup { height: 0; line-height: 1; position: relative; top: -0.6em; 
	vertical-align: baseline !important; vertical-align: bottom; font-size: 10px;}
sub { height: 0; line-height: 1; position: relative; top: +0.2em; 
	vertical-align: baseline !important; vertical-align: bottom; font-size: 10px;}

ul,ol{ margin-left: 20px; }
ul{ list-style: disc; }	
ol{ list-style: decimal; }
li{ padding: 3px 0px; }

blockquote{ margin: 10px 10px 10px 20px; padding: 15px 20px 15px 25px; border-left-width: 3px; border-left-style: solid;
	font-style: oblique; font-size: 17px; font-family: Georgia,"Times New Roman",Times,serif; }

form, fieldset{ margin-bottom: 20px; }	

button, input[type="submit"], input[type="reset"], input[type="button"] { 
	margin: 0px; padding: 9px 13px; display: inline-block; font-size: 12px; 
	font-weight: bold; cursor: pointer; border-width: 1px; border-style: solid; 
	
	background: url('images/button-shadow.png'); border-width: 1px; border-style: solid; 	}
	
/*	
button, input[type="submit"], input[type="reset"], input[type="button"] { 
	margin: 0px; padding: 6px 12px; display: inline-block; 
	background: url('images/button-gradient.png') repeat-x; font-weight: bold; cursor: pointer; 
	border-width: 1px; border-style: solid;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	background-image: url('images/button-gradient-hover.png'); }
*/
	
input[type="text"], input[type="password"], input[type="email"],
textarea, select {  padding: 4px 4px; margin: 0; outline: none; max-width: 100%; margin-bottom: 10px; border-width: 1px; border-style: solid;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
input[type="checkbox"], input[type="radio"] { display: inline; margin-bottom: 10px; }	
select { padding: 0; }	

/* #Wordpress Style
================================================== */
.alignleft, img.alignleft { float:left; margin: 5px 20px 20px 0px; }
.alignright, img.alignright { float:right; margin: 5px 0px 20px 20px; }
.aligncenter, img.aligncenter { display:block; margin: 5px auto; }
.alignnone, img.alignnone { margin: 5px 20px 20px 0; }
.wp-caption { text-align: center; padding: 8px 3px 5px; max-width: 100%;
	border-width: 1px; border-style: solid; background: #ffffff;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.wp-caption img { border: 0 none; padding: 0; margin: 0; max-width: 98.5%; width: auto; }
.wp-caption p.wp-caption-text { line-height: 1.5; font-size: 10px; margin: 0; }
.wp-smiley { margin: 0 !important; max-height: 1em; }

.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

.sticky{}
.bypostauthor{}

/* #Custom Style
================================================== */
.hidden{ display: none; }
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.pt20{ padding-top: 20px !important; }
.pb20{ padding-bottom: 20px !important; }
.mb0{ margin-bottom: 0px !important; } .mb1{ margin-bottom: 1px !important; } .mb2{ margin-bottom: 2px !important; }
.mb3{ margin-bottom: 3px !important; } .mb4{ margin-bottom: 4px !important; } .mb5{ margin-bottom: 5px !important; }
.mb6{ margin-bottom: 6px !important; } .mb7{ margin-bottom: 7px !important; } .mb8{ margin-bottom: 8px !important; }
.mb9{ margin-bottom: 9px !important; } .mb10{ margin-bottom: 10px !important; } 
.mb11{ margin-bottom: 11px !important; } .mb12{ margin-bottom: 12px !important; } .mb13{ margin-bottom: 13px !important; }
.mb14{ margin-bottom: 14px !important; } .mb15{ margin-bottom: 15px !important; } .mb16{ margin-bottom: 16px !important; }
.mb17{ margin-bottom: 17px !important; } .mb18{ margin-bottom: 18px !important; } .mb19{ margin-bottom: 19px !important; }
.mb20{ margin-bottom: 20px !important; }
.mb21{ margin-bottom: 21px !important; } .mb22{ margin-bottom: 22px !important; } .mb23{ margin-bottom: 23px !important; }
.mb24{ margin-bottom: 24px !important; } .mb25{ margin-bottom: 25px !important; } .mb26{ margin-bottom: 26px !important; }
.mb27{ margin-bottom: 27px !important; } .mb28{ margin-bottom: 28px !important; } .mb29{ margin-bottom: 29px !important; }
.mb30{ margin-bottom: 30px !important; }
.mb31{ margin-bottom: 31px !important; } .mb32{ margin-bottom: 32px !important; } .mb33{ margin-bottom: 33px !important; }
.mb34{ margin-bottom: 34px !important; } .mb35{ margin-bottom: 35px !important; } .mb36{ margin-bottom: 36px !important; }
.mb37{ margin-bottom: 37px !important; } .mb38{ margin-bottom: 38px !important; } .mb39{ margin-bottom: 39px !important; }
.mb40{ margin-bottom: 40px !important; }
.mb41{ margin-bottom: 41px !important; } .mb42{ margin-bottom: 42px !important; } .mb43{ margin-bottom: 43px !important; }
.mb44{ margin-bottom: 44px !important; } .mb45{ margin-bottom: 5px !important; } .mb46{ margin-bottom: 46px !important; }
.mb47{ margin-bottom: 47px !important; } .mb48{ margin-bottom: 48px !important; } .mb49{ margin-bottom: 49px !important; }
.mb50{ margin-bottom: 50px !important; }

/*--- color animation ---*/
a, .portfolio-context{
	transition: color 300ms, background-color 300ms, opacity 300ms;
	-moz-transition: color 300ms, background-color 300ms, opacity 300ms;    /* FF3.7+ */
	-o-transition: color 300ms, background-color 300ms, opacity 300ms;      /* Opera 10.5 */
	-webkit-transition: color 300ms, background-color 300ms, opacity 300ms; /* Saf3.2+, Chrome */ }

/* #Theme Style
================================================== */

/*--- custom full background ---*/
div.gdl-custom-full-background{ position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; z-index: -1; }
div.gdl-custom-full-background img{ 
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;
	min-width: 50%; min-height: 50%; z-index: -1; }
	
/*--- button ---*/
a.gdl-button{ display: inline-block; cursor: pointer; padding: 1px 15px; 
	height: 28px; line-height: 27px; margin-bottom: 20px; margin-right: 10px; 
	background: url('images/button-shadow.png'); border-width: 1px; border-style: solid; text-transform: uppercase; font-weight: bold; }
a.gdl-button.small{ padding: 1px 12px; height: 26px; line-height: 26px; font-size: 11px; }
a.gdl-button.large{ padding: 2px 20px; height: 33px; line-height: 34px; font-size: 14px; }

/*
a.gdl-button{ display: inline-block; font-weight: bold; cursor: pointer; 
	padding: 1px 15px; height: 28px; line-height: 28px;
	border-width: 1px; border-style: solid;  
	background: url('images/button-gradient.png') repeat-x; 
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
a.gdl-button:hover{ background-image: url('images/button-gradient-hover.png'); }
*/

/*--- preloader ---*/
.preloader { display: block; background:url(images/loading.gif) center center no-repeat; }

/*--- logo ---*/
div.logo-wrapper{ text-align: center; margin: 0px 10px; max-width: 100%; float: left; line-height: 0; } 
div.logo-wrapper a{ display: inline-block; }
div.logo-wrapper h1{ margin: 0px; line-height: 0; } 
div.logo-wrapper img{ display: block; }

div.logo-right-text{ margin-left: 10px; margin-right: 10px; }
div.logo-right-text-content{ margin-bottom: 12px; }

/*--- top navigation ---*/
div.top-navigation-wrapper{ position: relative; z-index: 20; border-bottom-width: 1px; border-bottom-style: solid; }
div.top-navigation-wrapper-gimmick{ height: 3px;  }
div.top-navigation-container.container{ text-align: center; font-size: 12px; line-height: 100%; }
div.top-navigation-left{ float: left; line-height: 18px; margin-left: 10px; padding-top: 13px; padding-bottom: 13px; }
div.top-navigation-right{ float: right; line-height: 17px; margin-right: 10px; display: inline-block; padding-top: 13px; padding-bottom: 0px; }
.tel{
	float: right;
	color:black !important;
	padding-top: 3px !important;
	margin-bottom:0px !important;
	font-size:19px !important;
}
.top-navigation-right-text { float: left; }
div.floating-nav-wrapper .sf-menu li a{ text-transform: uppercase; font-weight: bold; }  
div.floating-nav-wrapper .sf-menu li li a{ font-weight: normal; text-transform: none; }

div.floating-nav-wrapper ul.sf-menu li:hover ul, 
div.floating-nav-wrapper ul.sf-menu li.sfHover ul{ top: 19px; padding-top: 0px; }
div.floating-nav-wrapper ul.sf-menu li:hover ul li.sfHover ul,
div.floating-nav-wrapper ul.sf-menu li.sfHover ul li.sfHover ul{ top: 0px; padding-top: 0px; }

/*--- social icon ---*/
div.social-wrapper { float: right; margin-left: 45px; }
div.social-wrapper img{ display: block; max-width: 18px; height: auto; }
div.social-wrapper div.social-icon { float: left; margin-right: 8px; cursor: pointer; }
div.social-wrapper div.social-icon:last-child { margin-right: 0px; }

div.shortcode-social-icon{ float: left; margin-right: 10px; }
div.shortcode-social-icon img{ display: block; max-width: 32px; }

/*--- navigation ---*/
div.gdl-navigation-wrapper{ position: relative; float: right; }
div.gdl-current-menu { height: 2px; margin-top: -1px; position: absolute; }
div.navigation-wrapper{ margin: 0px 10px; font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif; }
div.navigation-wrapper .sf-menu li a{ text-transform: uppercase; font-weight: bold; } 
div.navigation-wrapper .sf-menu li li a{ font-weight: normal; text-transform: none; }
.sf-menu .sf-sub-indicator { display: none; }
.sf-menu li li .sf-sub-indicator { display: inline; }

div.responsive-menu-wrapper{ margin: 0px 10px; }
div.responsive-menu-wrapper select{ width: 100%; height: 25px; }

/*--- top search ---*/
div.top-search-wrapper{ float: left; margin-left: 10px; }
div.top-search-wrapper .search-text{ width: 1px; overflow: hidden; float: left; }
div.top-search-wrapper form { margin-bottom: 0px; }
div.top-search-wrapper input[type="text"]{ padding: 13px 12px; line-height: 18px; height: 18px; border: 0px; margin-bottom: 0px; width: 150px; 
-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; display: none; }
div.top-search-wrapper input[type='submit'] { float: left; height: 16px; margin: 14px 15px; padding: 0px 29px 0px 0px; 
	border-width: 0px; border-right-width: 1px; border-right-style: solid; 
	background-size: 16px 16px !important; }

/*--- page title ---*/
div.page-header-inner-wrapper{ overflow: hidden; position: relative; background-position: center 0px; 
	background-image: url('images/header-gradient.png'); background-repeat: repeat-x; }
div.page-header-container { padding-top: 20px; padding-bottom: 15px; }
h1.page-header-title{ font-size: 25px; font-family:'Open sans'; line-height: 25px; margin: 0px 10px; 
	text-transform: uppercase; float: left; }
div.page-header-caption{ margin: 5px 10px 0px; font-size: 14px; line-height: 14px; float: right; font-weight: bold; }
div.page-header-caption span{ margin-right: 5px; }
div.page-title-top-shadow{ position: absolute; z-index: 1; left: 0px; right: 0px; top: 0px; height: 37px;
	background-repeat: no-repeat;  z-index: 90;
	/*background-image: url('images/page-title-top-shadow.png'); background-position: center 0px;*/ }
div.page-title-bottom-shadow{ position: absolute; z-index: 1; left: 0px; right: 0px; bottom: 0px; height: 7px; 
	/*background: url('images/page-title-bottom-shadow.png') repeat-x;*/ }

div.gdl-header-wrapper{ margin-bottom: 10px; position: relative; }
div.gdl-header-wrapper.navigation-on{ padding-right: 70px; }
h3.gdl-header-title{ font-size: 18px; padding-bottom: 4px; display: inline-block; margin-bottom: 0px;
	border-bottom-width: 1px; border-bottom-style: solid; 
	text-transform: uppercase;
	}

/*--- page content ---*/
div.gdl-page-item{ padding-top: 50px; }

/*--- top slider / layer slider ---*/
div.gdl-top-slider-wrapper{ margin: 0px auto;  position: relative;
	border-bottom-width: 6px; border-bottom-style: solid; }
div.header-outer-wrapper,
div.content-outer-wrapper{ position: relative; }
div.gdl-top-slider li { padding: 0; }

div.ls-maxima .ls-nav-prev,
div.gdl-top-slider .nivo-directionNav a.nivo-prevNav,
div.gdl-top-slider .flex-direction-nav li .flex-prev{ width: 32px; height: 76px; 
	top: 50%; left: 0px; margin-top: -38px;
	background-image: url('images/top-slider-nav-left2.png'); 
	background-position: center center; background-repeat: no-repeat; }
div.ls-maxima .ls-nav-next,
div.gdl-top-slider .nivo-directionNav a.nivo-nextNav,
div.gdl-top-slider .flex-direction-nav li .flex-next{ width: 32px; height: 76px; 
	top: 50%; right: 0px; margin-top: -38px;
	background-image: url('images/top-slider-nav-right2.png'); 
	background-position: center center; background-repeat: no-repeat; }

div.gdl-top-slider div.ls-maxima a.ls-nav-prev,
div.gdl-top-slider div.ls-maxima a.ls-nav-next,
div.gdl-top-slider .nivo-directionNav a.nivo-prevNav,
div.gdl-top-slider .nivo-directionNav a.nivo-nextNav,
div.gdl-top-slider .flex-direction-nav li .flex-prev,
div.gdl-top-slider .flex-direction-nav li .flex-next{ opacity: 0; filter: alphat(opacity=0); }	
div.gdl-top-slider:hover div.ls-maxima a.ls-nav-prev,
div.gdl-top-slider:hover div.ls-maxima a.ls-nav-next,
div.gdl-top-slider:hover .nivo-directionNav a.nivo-prevNav,
div.gdl-top-slider:hover .nivo-directionNav a.nivo-nextNav,
div.gdl-top-slider:hover .flex-direction-nav li .flex-prev,
div.gdl-top-slider:hover .flex-direction-nav li .flex-next{ opacity: 1; filter: alphat(opacity=1); }
	
/*--- sidebar ---*/
div.gdl-page-item.columns{ float: right; }
div.gdl-left-sidebar.columns{ float: left; }

div.custom-sidebar{ margin-bottom: 45px; position: relative; }

h3.custom-sidebar-title{ line-height: 19px; position: relative;
	padding-bottom: 10px; margin-bottom: 0px; text-transform: uppercase; }

div.custom-sidebar-title-wrapper{ position: relative; margin-bottom: 15px; 
	border-bottom-width: 1px; border-bottom-style: solid; }
div.custom-sidebar-title-wrapper .custom-sidebar-title{ float: left; padding-right: 5px; }
div.custom-sidebar-title-wrapper .sidebar-bottom-bar{ width: 40px;
	position: absolute; left: 0px; bottom: -2px;
	border-bottom-width: 2px; border-bottom-style: solid; }

div.gdl-sidebar-wrapper{ overflow: hidden; }
div.gdl-sidebar-wrapper .custom-sidebar-title{ display: inline-block; }

div.gdl-right-sidebar .sidebar-wrapper{ padding-top: 55px;  }
div.gdl-left-sidebar .sidebar-wrapper{ padding-top: 55px; }

/*--- footer ---*/
div.footer-wrapper{ overflow: hidden; }
div.footer-wrapper .custom-sidebar{ margin-bottom: 40px; }
div.footer-container{ margin-top: 55px; }

div.footer-twitter-wrapper{ padding: 15px 0px; position: relative;
	background-image: url('images/twitter-bar-shadow.png'); background-repeat: repeat-x; }
div.footer-twitter-wrapper .twitter-container{ position: relative; }
div.footer-twitter-wrapper .gdl-twitter-icon{ position: absolute; font-size: 20px; line-height: 24px; right: 30px; top: 50%; margin-top: -12px; }
div.footer-twitter-wrapper .gdl-twitter-wrapper{ position: relative; padding: 0px 50px; } 
div.footer-twitter-wrapper ul{ margin: 0px; list-style: none; text-align: right; font-weight: bold; }

div.gdl-twitter-navigation{ position: absolute; left: 10px; top: 50%; margin-top: -5px; z-index: 999; }
div.gdl-twitter-navigation a{ width: 6px; height: 11px; float: left; cursor: pointer; margin-left: 10px; 

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */}
div.gdl-twitter-navigation a:first-child{ margin-left: 0px; }
div.gdl-twitter-navigation a.next{ background-position: -6px; }
div.twitter-bar-top-shadow{ height: 7px; position: absolute; left: 0px; right: 0px; top: 0px; 
	background: url('images/twitter-bar-top-shadow.png') repeat-x; }
div.twitter-bar-bottom-shadow{ height: 7px; position: absolute; left: 0px; right: 0px; bottom: 0px;
	background: url('images/twitter-bar-bottom-shadow.png') repeat-x; }

/*--- footer stunning ---*/
div.footer-stunning-wrapper{ padding: 36px 0px; background-image: url('images/footer-stunning-background.jpg');
	background-position: center; background-repeat: no-repeat; }
div.footer-stunning-container{ position: relative; }
div.footer-stunning-inner-wrapper{ margin: 0px 10px; }
div.footer-stunning-wrapper .footer-stunning-icon{ width: 65px; position: absolute; 
	top: 50%; margin-top: -32px; left: -32px; }
div.footer-stunning-wrapper .footer-stunning-content{ position: relative; padding: 30px 35px; }
div.footer-stunning-wrapper .footer-stunning-content.stun-icon-on{ margin-left: 32px; padding-left: 55px; }
div.footer-stunning-wrapper .footer-stunning-content.button-on{ margin-right: 200px; }
div.footer-stunning-wrapper .footer-stunning-title{ font-size: 21px; margin-bottom: 8px; }
div.footer-stunning-wrapper .footer-stunning-caption{ font-size: 13px; }
div.footer-stunning-button-wrapper{ position: absolute; right: 30px; top: 50%; margin-top: -19px; }
div.footer-stunning-button-wrapper .gdl-button{ margin: 0px; }


/*--- copyright ---*/
div.copyright-wrapper{ margin: 15px 20px 0px; padding: 0px 0px; position: relative; }
div.copyright-border{ border-style: solid; border-top-width: 1px; border-bottom-width: 1px; }
div.copyright-left{ padding: 20px 0px 25px; text-align: center; line-height: 1.9; }


/*-- about author (blog) ---*/
div.about-author-wrapper{ margin-top: 30px; margin-bottom: 30px; padding: 18px; }
div.about-author-avartar{ float: left; margin-right: 20px; }
div.about-author-info{ overflow: hidden; }
h5.about-author-title{ font-size: 18px; margin-top: 3px; margin-bottom: 10px; }

/*--- stack images ---*/
div.stack-images-wrapper img{ display: block; }
div.stack-images-wrapper .stack-images-single{ margin-bottom: 20px; position: relative; }
div.stack-images-wrapper .stack-images-caption{ max-width: 65%; position: absolute; right: 20px; bottom: 20px; }

/*--- single portfolio ---*/
div.gdl-single-portfolio{ margin-bottom: 25px; }
div.single-portfolio .port-media-wrapper{ max-width: 68%; float: left; margin-right: 20px; overflow: hidden; }
div.single-portfolio .port-media-wrapper.gdl-video { width: 68%; }
div.single-portfolio .port-media-wrapper.gdl-slider{ width: 68%; }
div.single-portfolio .port-media-wrapper.gdl-slider .flex-control-nav{ display: none; }
div.single-portfolio .port-info-wrapper{ padding-bottom: 25px; margin-bottom: 25px;
	border-bottom-width: 1px; border-bottom-style: solid; }
div.single-portfolio .port-info{ margin-bottom: 6px; }
div.single-portfolio .port-info .head{ font-weight: bold; }
div.single-portfolio .port-content-wrapper{ overflow: hidden; }
div.single-portfolio .port-nav{ margin-bottom: 15px; }
div.single-portfolio .gdl-related-portfolio{ padding-top: 50px; }
div.row div.gdl-related-portfolio div.gdl-header-wrapper{ margin-bottom: 40px; }

div.single-portfolio.single-sidebar .port-media-wrapper,
div.single-portfolio.both-sidebar .port-media-wrapper{ max-width: 100%; margin-right: 0px; float: none; margin-bottom: 20px; }
div.single-portfolio.single-sidebar .port-content-wrapper,
div.single-portfolio.both-sidebar .port-content-wrapper{ overflow: visible; }
div.single-portfolio.single-sidebar .port-nav .port-prev-nav, 
div.single-portfolio.single-sidebar .port-nav .port-next-nav, 
div.single-portfolio.both-sidebar .port-nav .port-prev-nav,
div.single-portfolio.both-sidebar .port-nav .port-next-nav { margin-bottom: 15px; }

/*--- Leave Reply ---*/
h3.social-share-title{ font-size: 18px; }
div.social-shares ul{ list-style: none; margin-left: 0px; }
div.social-shares ul li{ float: left; margin-right: 13px; margin-bottom: 8px; }
div.social-shares ul li img{ display: block; max-width: 32px; height: auto; }

/*--- Comments ---*/
div.comment-wrapper{  margin-top: 40px; }
div.comment-wrapper .comment-title{  font-size: 18px; }
div.comment-wrapper .comment-form-comment{  margin-right: 40px; }
div.comment-wrapper #reply-title{ font-size: 18px; margin-bottom: 15px; }

div.comment-wrapper input[type="text"], input[type="password"] {
	width: 320px; height: 20px; max-width: 70%; line-height: 20px; padding: 5px; margin: 5px 5px 25px; float: left; }
div.comment-wrapper textarea{
	height: 165px; width: 590px; max-width: 100%; line-height: 20px; padding: 5px; margin: 5px 5px 25px; }

div.comment-wrapper input { float: left; }
div.comment-wrapper label { float: left; line-height: 32px; margin: 5px 0px 0px 10px; }
div.comment-wrapper span { line-height: 24px; margin-right: 2px; }

div.comment-wrapper .comment-form-captcha img { float: left; margin-right: 20px; margin-top: 1px; }
div.comment-wrapper .comment-form-captcha input { float: left; width: 205px; max-width: 40%; }

ol.comment-list{ margin: 0px; list-style: none; }
ol.comment-list .comment-body{ border-bottom-width: 1px; border-bottom-style: solid; margin-top: 22px; padding-bottom: 22px; }
ol.comment-list ul{ margin: 0px 0px 0px 30px; list-style: none; }
div.comment-avartar{ float: left; }
div.comment-context{ margin-left: 80px; }
span.comment-author{  margin-right: 5px; font-size: 16px; }
span.comment-date{  margin-right: 5px; font-style: italic; font-family: 'Droid Serif'; font-size: 11px;}
span.comment-time{ margin-right: 5px; font-style: italic; }
div.comment-content{ margin-top: 7px; }

div.comment-wrapper #respond{ margin-top: 30px; }

/*--- Site map ---*/
div.sitemap-page .custom-sidebar-title { display: inline-block; }

/*--- Floating Nav ---*/
div.floating-nav-wrapper{ text-align: center; line-height: 0; display: none;
	position: fixed; top: 0px; left: 0px; right: 0px; z-index: 100; padding: 0px 0px; }
div.floating-nav-wrapper ul.sf-menu{ display: inline-block; line-height: 1; padding-top:10px; padding-bottom:10px; }	
	
body.admin-bar div.floating-nav-wrapper{ top: 28px; }

/* #Page Item
================================================== */

/*--- accordion ---*/
ul.gdl-accordion{ list-style: none; margin-left: 0px; }
ul.gdl-accordion li{ position: relative; margin-bottom: 12px; border-width: 3px; border-style: solid; } 
ul.gdl-accordion li:last-child{ margin-bottom: 0px; } 
ul.gdl-accordion li .accordion-title{ margin: 0px; padding: 7px 0px 7px 17px; font-size: 15px; cursor: pointer; background-position: 0px center; background-repeat: no-repeat; text-transform: uppercase; }
ul.gdl-accordion li .accordion-content{ padding: 5px 20px 15px 38px; }
ul.gdl-accordion li span.accordion-icon{ display: inline-block; margin-right: 12px; margin-bottom: 1px;
	width: 8px; height: 8px; background-size: 8px 8px; }

ul.gdl-accordion li ul{ margin-left: 30px; list-style: disc; }
ul.gdl-accordion li li{ background: none; margin: 0px; overflow: visible; }

/*--- blog ---*/
div.gdl-blog-widget{ margin-bottom: 40px; }
div.gdl-blog-widget:last-child{ margin-bottom: 0px; }
div.gdl-blog-widget .blog-media-wrapper{ margin-bottom: 18px; }
div.gdl-blog-widget .blog-media-wrapper img{ display: block; }
div.gdl-blog-widget .blog-media-wrapper .flexslider{ overflow: hidden; }
div.gdl-blog-widget .blog-media-wrapper.gdl-slider .flex-control-nav{ display: none; }
div.gdl-blog-widget .blog-content-wrapper{ overflow: hidden; }
div.gdl-blog-widget .blog-title{ font-size: 16px; margin-bottom: 4px; padding-right: 20px; text-transform: uppercase; }
div.gdl-blog-widget .blog-content{ padding-right: 20px; }
div.gdl-blog-widget .blog-info-wrapper{ font-size: 11px; margin-bottom: 12px; }
div.gdl-blog-widget .blog-info-wrapper i{ padding-right: 7px; }
div.gdl-blog-widget .blog-info-divider{ margin: 0px 6px; }
div.gdl-blog-widget .blog-date, div.gdl-blog-widget .blog-comment{ float: left; } 
div.gdl-blog-widget .blog-continue-reading{ display: inline-block; margin-top: 12px; margin-bottom: 0px; font-style: italic; }

div.blog-carousel-wrapper{ overflow: hidden; }
div.blog-carousel-wrapper .blog-nav-wrapper{ position: absolute; top: 0px; right: 10px; }
div.blog-carousel-wrapper .blog-nav{ width: 28px; height: 28px; display: block;
	cursor: pointer; margin: 0px; float: left;
	background-size: 6px 11px; background-repeat: no-repeat; background-position: center;
	margin-right: 2px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */}
div.blog-carousel-wrapper .blog-nav.left{ margin-right: 2px; }

div.blog-item-holder .gdl-blog-medium{ margin-bottom: 40px; } 
div.blog-item-holder .gdl-blog-medium:last-child{ margin-bottom: 0px; } 
div.gdl-blog-medium .blog-content-wrapper{ overflow: hidden; padding-bottom: 40px; }	
div.gdl-blog-medium .blog-medium-media-wrapper{ margin-right: 25px; float: left; width: 29%; overflow: hidden; }
div.gdl-blog-medium .blog-media-wrapper img{ display: block; }
div.gdl-blog-medium .blog-media-wrapper .flexslider{ overflow: hidden; }
div.gdl-blog-medium .blog-media-wrapper.gdl-slider .flex-control-nav{ display: none; }
div.gdl-blog-medium .blog-context-wrapper{ overflow: hidden; }
div.gdl-blog-medium .blog-title{ font-size: 31px; margin-top: 0px; margin-bottom: 15px; }
div.gdl-blog-medium .blog-info-wrapper{ font-size: 11px; margin-top: 12px; text-transform: uppercase; 
	border-width: 2px 0px 1px; border-style: solid; }
div.gdl-blog-medium .blog-info-wrapper i{ padding-right: 7px; font-size: 14px; }
div.gdl-blog-medium .blog-info-wrapper div:first-child{ border-left: 0px; }
div.gdl-blog-medium .blog-comment, div.gdl-blog-medium .blog-tag, div.gdl-blog-medium .blog-author,
div.gdl-blog-medium .blog-date{ float: left; padding: 6px 16px; border-left-width: 1px; border-left-style: solid; } 
div.gdl-blog-medium .blog-continue-reading{ font-size: 13px; display: block; margin-top: 15px; margin-bottom: 15px; font-style: italic; }
	
div.blog-item-holder .gdl-blog-full{ margin-bottom: 40px; } 
div.gdl-blog-full .blog-content-wrapper{ overflow: hidden; padding-bottom: 10px; }
div.gdl-blog-full .blog-media-wrapper{ margin-bottom: 25px; }
div.gdl-blog-full .blog-media-wrapper img{ display: block; }
div.gdl-blog-full .blog-media-wrapper .flexslider{ overflow: hidden; }
div.gdl-blog-full .blog-media-wrapper.gdl-slider .flex-control-nav{ display: none; }
div.gdl-blog-full .blog-title{ font-size: 31px; margin-top: 0px; margin-bottom: 20px; }
div.gdl-blog-full .blog-info-wrapper{ font-size: 11px; margin-bottom: 20px; text-transform: uppercase; 
	border-width: 2px 0px 1px; border-style: solid; }
div.gdl-blog-full .blog-info-wrapper i{ padding-right: 7px; font-size: 14px; }
div.gdl-blog-full .blog-info-wrapper div:first-child{ border-left: 0px; }
div.gdl-blog-full .blog-comment, div.gdl-blog-full .blog-tag, div.gdl-blog-full .blog-author,
div.gdl-blog-full .blog-date{ float: left; padding: 6px 16px; border-left-width: 1px; border-left-style: solid; } 
div.gdl-blog-full .blog-continue-reading{ font-size: 13px; display: block;
	margin-top: 15px; margin-bottom: 0px; font-style: italic; }

/*--- blog/port pagination ---*/
div.gdl-pagination{ float: right; margin-top: 0px; }
div.gdl-pagination a,
div.gdl-pagination span{ display: block; padding: 5px 9px; margin-left: 5px; float: left; font-size: 12px; } 

div.portfolio-pagination .gdl-pagination{ margin-top: 0px; }

/*--- column service ---*/
div.column-service-wrapper{ text-align: left; } 
div.column-service-wrapper.center-icon{ text-align: center; } 
div.column-service-wrapper i.column-service-icon{ font-size: 40px; display: inline-block; }
div.column-service-wrapper.left-icon .column-service-icon{ max-width: 60px; margin-right: 10px; /*float: left;*/ }
div.column-service-wrapper.center-icon .column-service-icon{ margin: 0px auto; margin-bottom: 20px; }
div.column-service-wrapper .column-service-content-wrapper{ overflow: hidden; }
div.column-service-wrapper .column-service-title{ font-size: 19px; margin-bottom: 12px; }
div.column-service-wrapper .column-service-button a.gdl-button{ margin: 20px 0px 0px; }

/*--- contact form ---*/
div.contact-form-wrapper{ padding-top: 0px; }
div.footer-wrapper div.contact-form-wrapper{ padding-top: 0px; }
div.contact-form-wrapper ol{ margin: 0px; list-style: none; }
div.contact-form-wrapper ol li{ margin-bottom: 20px; }
div.contact-form-wrapper ol li.form-textarea,
div.contact-form-wrapper ol li.form-input{ margin-right: 22px;  }
div.contact-form-wrapper ol li.sending-result{ max-width: 622px; display: none; }
div.contact-form-wrapper ol li.sending-result .message-box-wrapper{ padding: 10px 15px 10px 15px; }
div.contact-form-wrapper ol li div.error{ display: none; }

div.contact-form-wrapper  input[type="text"], input[type="password"] {
	width: 337px; height: 20px; line-height: 20px; padding: 5px; margin: 10px 5px 5px;
	line-height: 20px; max-width: 100%; display: block; }
div.contact-form-wrapper textarea{
	height: 165px; width: 600px; margin: 10px 5px 5px; padding: 5px; max-width: 100%;
	line-height: 20px; display: block; }
	
div.contact-form-wrapper .contact-submit{ float: left; padding: 8px 13px; }
div.contact-form-wrapper .contact-loading{
	width: 16px; height: 16px; float: left; margin: 7px 0px 0px 15px; display:none;
	background: url('images/loading.gif'); }


/*--- divider ---*/
div.gdl-divider-wrapper .gdl-divider{ overflow: hidden; padding-top: 6px;
	border-bottom-width: 1px; border-bottom-style: solid; }
div.gdl-divider-wrapper .scroll-top{ font-size: 11px; line-height: 11px; float: right; 
	padding-left: 6px; cursor: pointer; }
div.gdl-divider {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
div.gdl-divider .scroll-top{ text-align: right; font-size: 11px;
margin-bottom: 2px; cursor: pointer; }

/*--- gallery ---*/
div.gdl-gallery-image img{ display: block; }

/*--- Message Box ---*/
div.message-box-wrapper{ border:1px solid; padding: 20px; margin-bottom: 20px; }
div.message-box-title{ font-weight: bold; font-size: 14px; margin-top: 2px; }
div.message-box-content{ margin-top: 12px; }

div.message-box-wrapper.red{ background-color: #ffdcdd; border-color: #e9b9bb; color: #713a3c;}
div.message-box-wrapper.red .message-box-title{ color: #8d4345;}
div.message-box-wrapper.yellow{ background-color: #ffffe0; border-color: #e1db8b; color: #4d4d39;}
div.message-box-wrapper.yellow .message-box-title{ color: #737357;}
div.message-box-wrapper.blue{ background-color: #c2e1ee; border-color: #8ec3d9; color: #3d5058;}
div.message-box-wrapper.blue .message-box-title{ color: #475d66;}
div.message-box-wrapper.green{ background-color: #e1ffd9; border-color: #badeb1; color: #435b3d;}
div.message-box-wrapper.green .message-box-title{ color: #526d4b;}

/*--- personnal ---*/
div.personnal-item-wrapper{ margin-bottom: 40px; }
div.personnal-item{ border-width: 1px; border-style: solid;  }
div.personnal-item .personnal-position{ font-size: 16px; margin: 0px 20px 18px; }
div.personnal-item .personnal-thumbnail{ margin: 0px 0px 15px; }
div.personnal-item .personnal-thumbnail img{ display: block; }
div.personnal-item .personnal-title{ font-size: 24px; line-height: 1; margin: 25px 20px 3px;  }
div.personnal-item .personnal-content{ margin: 0px 20px; padding-bottom: 20px; }
div.personnal-item .personnal-social-info{ padding: 15px 20px; border-top-width: 1px; border-top-style: solid; }
div.personnal-item .personnal-social-info .shortcode-social-icon{ margin-right: 8px; }
div.personnal-item .personnal-social-info .shortcode-social-icon img{ max-width: 18px;  }

/*--- portfolio item ---*/
div.portfolio-item .portfolio-media-wrapper{ overflow: hidden; position: relative; }
div.portfolio-item .portfolio-media-wrapper img{ display: block; }
div.portfolio-item .portfolio-media-wrapper.gdl-slider .flex-control-nav{ display: none; }
div.portfolio-item .portfolio-context{ padding: 16px 40px 16px 0px; position: relative; text-align: left; }
div.portfolio-item .portfolio-title{ font-size: 17px; margin-bottom: 4px; text-transform: uppercase; position: relative; z-index: 2; }
div.portfolio-item .portfolio-tag{ font-style: italic; font-size: 13px; position: relative; z-index: 1; }
div.portfolio-item .portfolio-excerpt{ margin-top: 15px; margin-bottom: 0px; }
div.portfolio-item .portfolio-excerpt .port-continue-reading{ margin-top: 10px; display: block; text-align: right; }
div.portfolio-item .port-bottom-border{ height: 2px; position: absolute; left: 0px; right: 0px; bottom: 0px; }

a.view-all-projects{ font-style: italic; float: right; line-height: 26px; }
div.portfolio-carousel-description-caption{ margin-top: 20px; margin-bottom: 25px; }

div.portfolio-carousel-wrapper{ overflow: hidden; text-align: center; }
div.portfolio-carousel-wrapper .portfolio-item{ float: left; }

div.portfolio-carousel-wrapper .port-nav-wrapper{ position: absolute; top: 0px; right: 10px; }

div.port-nav-wrapper a.view-all-projects{ float: left; display: block; font-size: 18px; line-height: 28px;
	margin: 0px 10px 0px 8px; }
div.single-portfolio .port-nav a,
div.portfolio-carousel-description .port-nav,
div.portfolio-carousel-wrapper .port-nav{ width: 28px; height: 28px; display: block;
	cursor: pointer; margin: 0px; float: left;
	background-size: 6px 11px; background-repeat: no-repeat; background-position: center;
	margin-right: 2px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */}
div.portfolio-carousel-wrapper .port-nav.left{ margin-right: 2px; }

div.portfolio-filter-wrapper{ position: relative; margin-bottom: 45px; margin-top: 5px; }
div.portfolio-filter-wrapper div.port-current-bar{
	position: absolute; bottom: -1px; border-bottom-width: 2px; border-bottom-style: solid; }
div.no-header  div.portfolio-filter-header-divider{ height: 0px; overflow: hidden; position: relative; top: 9px;
	border-bottom-width: 1px; border-bottom-style: solid; }
div.no-header  ul.portfolio-item-filter{ margin-right: 15px; line-height: 18px; }


ul.portfolio-item-filter{ float: left; margin-left: 0px; list-style: none; overflow: hidden; padding-bottom: 3px;
	border-bottom-width: 1px; border-bottom-style: solid; }
ul.portfolio-item-filter li{ float: left; padding-right: 5px; font-size: 16px; line-height: 1.2; }
ul.portfolio-item-filter li:first-child span{ display: none; }

div.portfolio-media-wrapper.gdl-image a.hover-wrapper{ display: block;
	position: absolute; width: 100%; height: 100%; 
	transition: none; -moz-transition: none; -o-transition: none; -webkit-transition: none;  }
div.portfolio-media-wrapper span.portfolio-thumbnail-image-hover{
	position: absolute; opacity: 0.75; filter: alpha(opacity=75); left: 0px; right: 0px; bottom: 0px; height: 0px; }
div.portfolio-media-wrapper span.hover-icon{ 
	top: 50%; left: 50%; margin-left: -18px; margin-top: -18px; width: 36px; height: 36px; display: none;
	position: absolute; }
div.portfolio-item .page-item-title{ font-size: 18px; margin-bottom: 0px; margin-top: 18px; }
div.portfolio-item .page-item-content{ margin-top: 10px;}

/*--- price item ---*/
div.price-table-wrapper{ margin: 20px 10px 0px; }
div.price-item-wrapper{ text-align: center; }
div.price-item-inner-wrapper{ margin: 0px 3px; border-style: solid; border-width: 1px; 
	 -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.08);
	 -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.08);
	 box-shadow: 0px 0px 8px rgba(0,0,0,0.08); }
div.price-item .price-title-wrapper{ padding-bottom: 5px; }
div.price-item .price-title{ font-size: 19px; padding: 6px 20px; text-transform: uppercase; }
div.price-item .price-tag{ font-size: 42px; line-height: 1; padding: 15px 20px; 
	background-image: url('images/price-active.png'); background-position: 0px 0px; background-repeat: repeat-x; font-weight: bold; } 
div.price-item .price-tag .price-suffix{ font-weight: normal;  font-size: 14px; margin-left: 5px; font-weight: bold; } 
div.price-item .price-content{ font-size: 13px; text-align: center; line-height: 1.5; padding-bottom: 25px; }
div.price-item .price-content ul li { text-align: left; }
div.price-item .price-button-wrapper{ margin-bottom: 10px; }
div.price-item .price-button{  font-size: 13px; display: inline-block; cursor: pointer; 
	padding: 4px 15px; border-width: 0px; border-style: solid; }
	
div.shortcode-price-list{ padding: 10px 20px 10px; 
	border-bottom-width: 1px; border-bottom-style: solid; }
div.shortcode-price-content{ padding: 25px 20px 25px; }

div.best-active{ margin-top: -25px; position: relative; z-index: 1; }
div.best-active .price-item { height: auto !important; }		
div.best-active .price-item .price-title{ font-size: 22px; border-width: 0px; }	
div.best-active .price-item .price-tag{ padding: 25px 20px; border-width: 0px; }	
div.best-active .price-item .price-tag .price-suffic{ font-size: 17px; }	
div.best-active .price-item .price-content{ padding-bottom: 25px; }	
div.best-active .price-item .price-button-wrapper{ margin-bottom: 30px; }	
div.best-active .price-item .price-button{ padding: 7px 18px; }

/*--- slider ---*/
div.gdl-top-slider h2.gdl-slider-title{ display: block; display: block; padding: 0px; }
div.gdl-top-slider h2.gdl-slider-title span{ display: block; display: block; padding: 11px 22px; }

div.gdl-slider-wrapper{ position: relative; text-align: center; background: #f2f2f2; }
h2.gdl-slider-title{ font-size: 28px; display: block; padding: 11px 22px; margin-bottom: 0px; float: left; }
div.gdl-slider-caption{ font-size: 13px; display: inline-block; float: left; text-align: left;
	 border-right-width: 0px; border-right-style: solid; }
div.gdl-slider-inner-caption{ padding: 18px 24px; opacity: 0.8; filter: alpha(opacity=80); line-height: 1.65; }
div.gdl-slider li{ padding: 0; }

/*--- stunning text ---*/
div.stunning-text-wrapper{ text-align: left; position: relative; }
div.stunning-text-inner-wrapper{ padding: 24px 30px; }
div.stunning-text-wrapper .stunning-text-content{ overflow: hidden; }
div.stunning-text-wrapper .stunning-text-title{ font-size: 23px; margin-bottom: 8px; }
div.stunning-text-wrapper .stunning-text-caption{ font-size: 13px; }
	
div.stunning-text-wrapper.shadow-on{ background-repeat: no-repeat; background-position: 0px 5px;
	background-image: url('images/stunning-gradient.png'); }
div.stunning-text-wrapper.shadow-on .stunning-text-shadow{ height: 32px; 
	background: url('images/stunning-shadow.png') 0px no-repeat; }

/*--- tab ---*/
div.gdl-tab ul.gdl-tab-title{ zoom: 1; }
div.gdl-tab ul.gdl-tab-title:before, 
div.gdl-tab ul.gdl-tab-title:after{ content: '\0020'; display: block; 
	overflow: hidden; visibility: hidden; width: 0; height: 0; }
div.gdl-tab ul.gdl-tab-title:after{ clear: both; }
div.gdl-tab ul.gdl-tab-title{ margin: 0px; list-style: none; 
	border-bottom-width: 1px; border-bottom-style: solid; }
div.gdl-tab ul.gdl-tab-title li{ float: left; height: 34px; padding: 0; }
div.gdl-tab ul.gdl-tab-title li a{ padding: 0px 20px; cursor: pointer; height: 32px; line-height: 32px;
	display: block; font-weight: bold; 
	border-top-width: 1px; border-right-width: 1px; border-style: solid; }
div.gdl-tab ul.gdl-tab-title li a.active{ border-top-width: 2px; padding-bottom: 1px; }
div.gdl-tab ul.gdl-tab-title li:first-child a{ border-left-width: 1px; }

div.gdl-tab ul.gdl-tab-content{ margin: 0px; list-style: none; }
div.gdl-tab ul.gdl-tab-content{ padding: 20px; 
	border-width: 1px; border-style: solid; border-top: 0px; }
div.gdl-tab ul.gdl-tab-content li { padding: 0; }
div.gdl-tab ul.gdl-tab-content li{ display: none; }
div.gdl-tab ul.gdl-tab-content li li{ display: block; }
div.gdl-tab ul.gdl-tab-content li.active{ display: block; }
div.gdl-tab ul.gdl-tab-content ol li { display: list-item; }

/*--- testimonial ---*/
div.gdl-static-testimonial .testimonial-content{ padding: 5px 0px 5px 20px; font-size: 17px; font-style: italic; }
div.gdl-static-testimonial .testimonial-info{ text-align: left; margin-left: 25px; margin-top: 10px;}
div.gdl-static-testimonial .testimonial-author{ font-weight: bold; }
div.gdl-static-testimonial .testimonial-item{  border-left-width: 3px; border-left-style: solid; margin-bottom: 10px; padding-bottom: 10px; }

div.gdl-carousel-testimonial{ -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
div.gdl-carousel-testimonial .testimonial-item{ display: none;}
.testimonial-item{ background-color:#ff7800!important;} 
div.gdl-carousel-testimonial .testimonial-item:first-child{ display: block; }
div.gdl-carousel-testimonial .testimonial-content{ font-size: 17px; padding: 25px 20px 25px 28px; 
	font-style: italic; margin-bottom: 10px; border-width: 3px; border-style: solid; }
div.gdl-carousel-testimonial .testimonial-icon{ float: left; margin-right: 20px; margin-bottom: 1px; margin-top: 6px;
	width: 26px; height: 26px; background-size: 26px 26px; }
div.gdl-carousel-testimonial .testimonial-inner-content{ overflow: hidden; }
div.gdl-carousel-testimonial .testimonial-info{ font-size: 14px; padding-left: 75px; background:#ff7800;padding-bottom:10px; }
div.gdl-carousel-testimonial .testimonial-info .testimonial-author{ font-weight: bold; color:#ffffff;}
div.gdl-carousel-testimonial .testimonial-navigation{ position: absolute; right: 20px; top: -6px; z-index: 100; }
div.gdl-carousel-testimonial .testimonial-navigation a{ width: 28px; height: 28px; display: block;
	cursor: pointer; margin: 0px ; float: left;
	background-size: 6px 11px; background-repeat: no-repeat; background-position: center;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */}
div.gdl-carousel-testimonial .testimonial-navigation a.testimonial-prev{ margin-right: 2px; }


div.gdl-carousel-testimonial.gdl-shortcode{ position: relative; }
div.gdl-carousel-testimonial.gdl-shortcode .testimonial-navigation{ right: 0px; top: -45px; }

/*--- toggle box ---*/
ul.gdl-toggle-box{ list-style: none; margin-left: 0px; }
ul.gdl-toggle-box li{ position: relative; margin-bottom: 12px; border-width: 3px; border-style: solid; } 
ul.gdl-toggle-box li:last-child{ margin-bottom: 0px; } 
ul.gdl-toggle-box li .toggle-box-title{ margin: 0px; padding: 7px 0px 7px 17px; font-size: 15px; cursor: pointer; background-position: 0px center; background-repeat: no-repeat; text-transform: uppercase; }
ul.gdl-toggle-box li .toggle-box-content{ padding: 5px 20px 15px 38px; }

ul.gdl-toggle-box li span.toggle-box-icon{ display: inline-block; margin-right: 12px; margin-bottom: 1px;
	width: 8px; height: 8px; background-size: 8px 8px; }

ul.gdl-toggle-box li ul{ margin-left: 30px; list-style: disc; }
ul.gdl-toggle-box li li{ background: none; margin: 0px; overflow: visible; }
	
/* #Shortcode
================================================== */

/*--- progress bar ---*/
div.progress-bar-wrapper{ margin-bottom: 15px; }
div.progress-bar-wrapper .progress-bar{ font-size: 15px; line-height: 15px;
	background: url('images/progress-bar-shadow.png'); }
div.progress-bar-wrapper .progress-bar-inner{ padding: 12px 20px; }
div.progress-bar-wrapper .progress-bar span.title{ float: left; }
div.progress-bar-wrapper .progress-bar span.percent{ float: right; font-weight: bold; }

/*--- block quote ---*/
blockquote.left{ width: 33%; float: left;  }
blockquote.right{  width: 33%; float: right; }
blockquote.center{ text-align: center; margin: 10px 10px 20px 20px; }

/*--- code ---*/
.gdl-code{
	overflow: hidden; padding: 15px; border: 1px #e5e5e5 solid; clear: both; background: #ffffff; color: #2c2c2c;
	margin-bottom: 20px;  font-size: 13px;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; }

/*--- column ---*/
.shortcode1-4{ margin-right: 2%; float: left; margin-bottom: 20px; width: 23%;    }
.shortcode1-3{ margin-right: 2%; float: left; margin-bottom: 20px; width: 31.33%; }
.shortcode1-2{ margin-right: 2%; float: left; margin-bottom: 20px; width: 48%;    }
.shortcode2-3{ margin-right: 2%; float: left; margin-bottom: 20px; width: 64.66%; }
.shortcode3-4{ margin-right: 2%; float: left; margin-bottom: 20px; width: 73%;    }

.shortcode1-5{ margin-right: 2%; float: left; margin-bottom: 20px; width: 18%; }
.shortcode2-5{ margin-right: 2%; float: left; margin-bottom: 20px; width: 38%; }
.shortcode3-5{ margin-right: 2%; float: left; margin-bottom: 20px; width: 58%; }
.shortcode4-5{ margin-right: 2%; float: left; margin-bottom: 20px; width: 78%; }

.shortcode1-4.last{ margin-right: 0; width: 25%;    }
.shortcode1-3.last{ margin-right: 0; width: 31%; }
.shortcode1-2.last{ margin-right: 0; width: 50%;    }
.shortcode2-3.last{ margin-right: 0; width: 66.66%; }	
.shortcode3-4.last{ margin-right: 0; width: 75%;    }

.shortcode1-5.last{ margin-right: 0; width: 20%; }
.shortcode2-5.last{ margin-right: 0; width: 40%; }
.shortcode3-5.last{ margin-right: 0; width: 60%; }
.shortcode4-5.last{ margin-right: 0; width: 80%; }

.shortcode1-1{ width: 100%; }
	
/*--- drop cap ---*/
div.shortcode-dropcap{ margin-top: 2px; margin-bottom: 0px; margin-right: 7px; margin-left: 2px; float: left; font-size: 25px; font-size: 29px; 
	width: 32px; height: 32px; line-height: 30px; text-align: center; float: left; }
div.shortcode-dropcap.circle{ -moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px; font-size: 18px; margin-right: 10px; }

/*--- gallery ---*/
div.gdl-gallery-image.shortcode{ margin-right: 20px; margin-bottom: 20px; float: left; }

/*--- list ---*/
ul.shortcode-list { list-style: none; margin-left: 0px; }	
ul.shortcode-list li{ line-height: 2.0; }	
ul.shortcode-list li span{ margin-right: 3px; }
ul.shortcode-list li  i{ margin-right: 8px; }

/* #Sidebar Widget 
================================================== */

/*--- recent post/port widget ---*/
div.gdl-recent-post-widget, div.gdl-recent-port-widget{ padding-top: 10px; }
div.recent-post-widget{ margin-bottom: 20px; }
div.recent-post-widget:last-child{ margin-bottom: 0px; }
div.recent-post-widget .recent-post-widget-thumbnail{ padding: 3px; float: left; margin-right: 13px; }
div.recent-post-widget .recent-post-widget-thumbnail img{ display: block; }
div.recent-post-widget .recent-post-widget-context{ overflow: hidden; }
div.recent-post-widget .recent-post-widget-title{ font-size: 15px; font-weight: normal; padding-top: 2px; margin-bottom: 7px; line-height: 1.3; }
div.recent-post-widget .recent-post-widget-info{ font-size: 12px; font-style: italic; }

div.recent-port-widget .recent-port-widget-thumbnail{ padding: 3px; float: left; margin-right: 15px; margin-bottom: 15px; }
div.recent-port-widget .recent-port-widget-thumbnail img{ display: block; }
div.recent-port-widget.second-style .recent-port-widget-thumbnail img{ width: 65px; height: auto; }

div.footer-wrapper div.recent-post-widget .recent-post-widget-thumbnail,
div.footer-wrapper div.recent-port-widget .recent-port-widget-thumbnail{ padding: 3px; }
div.footer-wrapper div.custom-sidebar ul li { background-position: 0px 13px !important; }
div.footer-wrapper div.custom-sidebar .flickr-widget img, 
div.footer-wrapper div.recent-port-widget.second-style .recent-port-widget-thumbnail img { width: 78px; height: 78px; }


/*--- flickr widget ---*/
div.flickr-widget .flickr_badge_image{ float: left; margin-right: 10px; margin-bottom: 10px; }
div.flickr-widget .flickr_badge_image img{ display: block; }

/*--- twitter widget ---*/
ul#twitter_update_list{ font-family: 'Droid Serif'; font-style: italic; list-style: none; margin-left: 0px;  }
ul#twitter_update_list li{ padding-left: 0px; background: none; padding-bottom: 9px; padding-top: 9px; border-bottom-width: 1px; border-bottom-style: solid; }
ul#twitter_update_list li:last-child{ border-bottom-width: 0px; }
ul#twitter_update_list li a { display: block; margin-top: 8px; }
ul#twitter_update_list li span a { display: inline-block; margin-top: 0px; margin-right: 6px; padding-left: 2px; }

/*--- rss widget ---*/
h3.custom-sidebar-title .rsswidget img{ margin-bottom: -1px; margin-right: 3px; }

/*--- personnal widget ---*/
div.gdl-personnal-widget{ display: inline-block; margin-top: 8px; }
div.personnal-widget-item{ display: none; }
div.personnal-widget-item:first-child{ display: block; }
div.personnal-widget-item .personnal-widget-thumbnail{ margin-bottom: 15px; }
div.personnal-widget-item .personnal-widget-thumbnail img{ display: block; }
div.personnal-widget-item .personnal-widget-info{  font-weight: bold; margin-bottom: 10px; }

div.personnal-widget-navigation{ position: absolute; right: 0px; top: 3px; z-index: 100; }
div.personnal-widget-navigation .personnal-widget-prev,
div.personnal-widget-navigation .personnal-widget-next{ width: 4px; height: 7px; padding: 3px 3px; margin-left: 1px; float: left;
	background-repeat: no-repeat; background-position: center center; cursor: pointer; }

/*--- search widget ---*/	
div.custom-sidebar .gdl-search-form{ padding-top: 12px; }
div.custom-sidebar #search-text{ margin-right: 22px; }
div.custom-sidebar #searchform{ position: relative; margin-bottom: 0; }
div.custom-sidebar #search-text input[type="text"]{ padding: 6px 5px; margin: 5px 5px; width: 100%; height: 18px; line-height: 18px; }
div.custom-sidebar #searchform br.clear{ display: none; }	
div.custom-sidebar #searchsubmit{ background-color: transparent; border: none; position: absolute; 
	width: 26px; height: 26px; padding: 0px; top: 8px; margin-top: 0px; right: 10px; }

div.footer-wrapper #search-text input[type="text"]{ margin: 0px; }
div.footer-wrapper #searchsubmit{ top: 2px; right: 15px; }
	
/*--- contact form ---*/	
div.sidebar-wrapper .contact-form-wrapper{ padding-top: 7px; }
div.sidebar-wrapper .contact-form-wrapper input{ height: 18px; line-height: 18px; }
div.sidebar-wrapper .contact-form-wrapper textarea{ height: 65px; }

div.footer-wrapper .contact-form-wrapper input{ margin: 5px 0px 0px; height: 18px; line-height: 18px;
	-webkit-box-shadow: none !important; box-shadow: none !important; } 
div.footer-wrapper .contact-form-wrapper textarea{ margin: 5px 0px 0px; height: 65px;
	-webkit-box-shadow: none !important; box-shadow: none !important; } 
div.footer-wrapper .contact-form-wrapper button{ background-image: none; }	

/*--- tag cloud ---*/
.tagcloud{ display: inline-block; margin-bottom: 13px; margin-top: 3px; }
.tagcloud a{
	font-size: 12px !important; display: block; float: left; padding: 5px 10px; margin-right: 7px;
	margin-top: 7px; border: 0px solid; border-color: inherit; font-weight: bold; }

/*--- sidebar list style ---*/
div.custom-sidebar ul{ list-style: none; margin-left: 0px; }
div.custom-sidebar ul li{ padding: 7px 0px 7px 15px; background-position: 0px 12px !important; border-style: solid; border-bottom-width: 1px; }
div.custom-sidebar ul li:last-child{ border-bottom: 0; } 
div.custom-sidebar ul ul{ margin-top: 8px; border-top-width: 1px; border-top-style: solid; }
div.custom-sidebar ul ul li:last-child{ padding-bottom: 0px; }

div.custom-sidebar ul.gdl-accordion li { padding-left: 0px; background: none; }
div.custom-sidebar ul.gdl-toggle-box li { padding-left: 0px; background: none; }

/*--- Calendar ---*/
#calendar_wrap{ border-color: inherit; padding-bottom: 10px;}
#wp-calendar{ width: 100%; border-color: inherit; border-width: 0px; }
#wp-calendar caption{ font-size: 13px; font-weight: bold; margin: 10px auto 15px; padding-bottom: 6px; border-bottom: 0px solid; border-color: inherit; }
#wp-calendar td{ padding: 4px; text-align: center; border-right: 0px; }
#wp-calendar th{ padding: 0px; text-align: center; border-right: 0px; border-bottom: 0px; background: transparent;  }

/*--- flickr widget ---*/
div.custom-sidebar .flickr-widget{ display: block; padding-bottom: 18px; padding-top: 12px; }
div.custom-sidebar .flickr-widget img{ width: 65px; height: 65px; }
div.custom-sidebar .flickr_badge_image{	margin: 0px 15px 15px 0px; float: left; padding: 4px; }
div.footer-wrapper .custom-sidebar .flickr_badge_image{ padding: 5px; }

/*--- Text Widget ---*/
div.textwidget{ padding-top: 0px; }


/* #Plugin
================================================== */	

/*---Isotope---*/
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s; }
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width; }
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:         top, left, opacity;
	transition-property:         transform, opacity; }
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s; }

.navigation-wrapper .cufon[alt=" "] {
display: none !important;
}

/*--- Elements Shadow ---*/
div.personnal-item{ 
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1); 
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.1); 
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1); }
	
/*--- Icon Shortcode ---*/
.gdl-icon-shortcode{ padding-right: 5px; }


/*--- Custom for icoon shotcode page---*/
.span3 ul { list-style: none; }
.span3 ul  { margin-left: 0px; }
.span3 ul li i { margin-right: 5px; line-height: 32px;  }
.span3 { width: 33%; float: left; }

/*--- Retina Images ---*/

div.page-header-wrapper input[type="submit"]{ background-image: url('images/icon/light/top-search.png');
	background-size: 13px 13px; background-repeat: no-repeat; background-position: center; background-color: transparent; }	
div.portfolio-media-wrapper span{ background-repeat: no-repeat; background-position: center; background-size: 36px 36px; }	
div.portfolio-media-wrapper span.hover-link{ background-image: url('images/image-overlay-link.png'); }
div.portfolio-media-wrapper span.hover-video{ background-image: url('images/image-overlay-video.png'); }
div.portfolio-media-wrapper span.hover-zoom{ background-image: url('images/image-overlay.png'); }
div.about-us-wrapper .about-us-button-wrapper.pdf-icon-on{ background-image: url('images/pdf-icon.png'); }
	
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	div.page-header-wrapper input[type="submit"]{ background-image: url('images/icon/light/top-search.png@2x'); }
	div.portfolio-media-wrapper span.hover-link{ background-image: url('images/image-overlay-link@2x.png'); }
	div.portfolio-media-wrapper span.hover-video{ background-image: url('images/image-overlay-video@2x.png'); }
	div.portfolio-media-wrapper span.hover-zoom{ background-image: url('images/image-overlay@2x.png'); }	
	div.about-us-wrapper .about-us-button-wrapper.pdf-icon-on{ background-image: url('images/pdf-icon@2x.png'); }
}
/* custom */
#text-5{
	margin-left:30px;
}
#main-superfish-wrapper{
	font-size:13px;
}
.blog-content{
	font-size:13px;
}
.testimonial-inner-content{
	color:black;
	font-size:13px;
}
.testimonial-position{
	color:#ffffff;
}
#wpcf7-f3969-o1,
#wpcf7-f3976-o1,
#wpcf7-f3910-o1{
	float:right;
	margin-right:5px;
}
@media screen and (max-width: 768px) {
	#wpcf7-f3969-o1,
	#wpcf7-f3976-o1,
	#wpcf7-f3910-o1{
		float:none;
		margin-right:0px;
}
}

.stunning-text-title-custom{
	font-size:18px !important;
	margin-bottom:3px !important;
	color:#ff7800 !important;
	text-align:center;
}
.stunning-text-title-custom2{
	font-size:21px !important;
	margin-bottom:3px !important;
	color:#ff7800 !important;
	text-align:center;
	font-weight: 700 !important;
	float:left;
}
.blog-content{
font-size:14px !important;
}
.gdl-divider-wrappercustom{
	width:68.5%;
	border-color: #f87a0a;
}
.gdl-dividercustom{
	border-color: #f87a0a;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.klientu-anchor{
	cursor: pointer;
}
#menu-footer-menu li a {
	color:#ff7800 !important;
}
/********* custom blog columns ***************/
.shortcode1-3 a{
	background-color:#006699 !important;
	border-color:#006699 !important;
	padding-top: 6px !important;
	padding-bottom:6px !important;
	border-radius:3px !important;
	padding-left: 25px !important;
	padding-right: 25px !important;
	margin-right: 0 !important;
}

.shortcode1-3 {
	padding-top: 15px;
	background-color: #FAFAFA;
	margin-top: 15px;
	border:1px solid #C8C8C8;
	text-align: center;
	width:31%;
}
.blogh3{
	margin-bottom: 1px !important;
	font-size:22px;
}
/*********sidebar margin**********/
#recent-port-widget-2{
	margin-top:85%;
}
/********** benefit carousel************/
.page-id-3853 .testimonial-item{
 	background-color:#ffffff !important;
}
.page-id-3853 .testimonial-content{
	background-image: none !important;
}
.page-id-3853 .testimonial-navigation{
/*	display: none !important; */
}
/* carousel 2*/
.page-id-3855 .testimonial-item{
 	background-color:#ffffff !important;
}
.page-id-3855 .testimonial-content{
	background-image: none !important;
}
.page-id-3855 .testimonial-navigation{
/*	display: none !important;	*/
}
/* carousel 3*/
.page-id-3857 .testimonial-item{
 	background-color:#ffffff !important;
}
.page-id-3857 .testimonial-content{
	background-image: none !important;
}
.page-id-3857 .testimonial-navigation{
/*	display: none !important; */
}
/*** portfolio benefits ****/

.portfoliobenef{
	float:left;
	display: inline;
	text-align:center;
	width:20%;
	/*margin:5px 5px 5px 5px;*/
	/*border: 1px solid gray;*/
}
.beneftitle{
	font-size:21px;
	color:#ff7800;
}
.benefitimg{
	height:135px;
}
.page-id-3853 .blog-nav-wrapper{
	display:none;
}
.page-id-3855 .blog-nav-wrapper{
	display:none;
}
div.gdl-carousel-testimonial .testimonial-navigation{
	top:0px !important;
}
/********custom pakalpojumi********/
.page-id-3853 .title-icon{
	float:left;
	//content:url("http://stratcom.lv/wp-content/uploads/2015/02/ikona.png");
	  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('http://stratcom.lv/wp-content/uploads/2015/02/ikona.png') no-repeat;
  width: 36px; /* Width of new image */
  height: 36px; /* Height of new image */
  padding-left: 36px; /* Equal to width of new image */
}
.title-watermark{
	float:right;
	padding-top: 7px;
}
.pakalpojumi-wrapper{
	width:100%;
	
	height:70px;
	background-color:#ff7800;

}
.pakalpojumi-wrapper h3{
	color:#ffffff;
	margin-left:15px;
	margin-top:9px;
	float:left;
}
.pakalpojumi-img{
	display:none;
	position:relative;
	float:left;
	height: auto;
	z-index: 1;
	//height:52px;
	max-height: 100%;
}
.input-wrapper{
	height:100%;
	float:right;
}
/***************divs****************/
.skew-input{
/*-webkit-transform: perspective(100px) rotateX(-15deg);
    -webkit-transform-origin: left center;
    transform: perspective(100px) rotateX(-15deg);
    transform-origin: left center;*/
    height:100%;
    float:left;
    position:relative;
}
.skew-input:after{
	/*content:"";
    position:absolute;
    top:0;
    left:0;
    width: 0; 
    height: 0; 
    border-top: 70px solid #e6e6e6; 
    border-right: 50px solid transparent; */
}

.piedavajums-skew{
	height: 100%;
	/*background-color:#100F0F;*/
	background-color: #89C725;
	display: inline-block;
    text-decoration:none;
    position: relative;
   /* -webkit-transform: perspective(100px) rotateX(15deg);
    -webkit-transform-origin: right center;
    transform: perspective(100px) rotateX(15deg);
    transform-origin: right center;*/
}
.piedavajums-skew:before{
	content:"";
    position:absolute;
    top:0;
    left:0;
    width: 0; 
    height: 0; 
    border-top: 70px solid #ff7800; 
    border-right: 50px solid transparent; 
}
.piedavajums-skew a{
	margin-left:50px;
}
/**************inputs****************/
#clickme{
	color:#ffffff;
	padding:0 10px 0 10px;
	font-size: 16px;
	line-height: 4.4;
}
#epasts{
    background:-moz-linear-gradient(-54deg,transparent 30px, white 1px);
    background:-o-linear-gradient(-54deg,transparent 30px, white 1px);
    background:-webkit-linear-gradient(-54deg,transparent 30px, white 1px);
    background:linear-gradient(-54deg,transparent 30px, white 1px);
    margin:15px;
    position:relative; 
	height: 46px;
margin-top: 7px;
margin-right: 10px;
margin-right:0px !important;
left: 32px;
z-index: 1;
border-bottom: none;
border-right: none;
width:300px;
  /* -webkit-transform: perspective(100px) rotateX(-15deg);
    -webkit-transform-origin: left center;
    transform: perspective(100px) rotateX(-15deg);
    transform-origin: left center; */
}
.see-blog{
transform: skew(19deg, 0deg)!important;
-webkit-transform: skew(19deg, 0deg)!important;
-moz-transform: skew(19deg, 0deg)!important;
-o-transform: skew(19deg, 0deg)!important;
-ms-transform: skew(19deg, 0deg)!important;
}
.dropdown{
	width: 100%;
	height:35px;
	background-color:#ff7800;
	border:none !important;
	border-width:0px !important;
	color:#ffffff;
	border-radius: 0px ;
	background-color:#ff7800;
}
.dropdown option{
	background-color:#ffffff;
	color:black;
}
.send-button{
	width:100%;
	border-radius: 0px;
	border:none;
	padding:18px 11px !important;
	border-color:#ff7800;
}
.ml-email, .ml-subject{
	height:30px;
}
.ml-text{
	height:180px;
}
.ivars .personnal-item .personnal-social-info{
	/*background-color:#ff7800;*/
	background-image: url("http://stratcom.lv/wp-content/uploads/2015/02/watermark2.png");
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
.ivars .personnal-item .personnal-social-info .shortcode-social-icon img{
	max-width:28px;
}
.column-service-caption{
	padding-top:10px !important;
	padding-right:38px;
	border-right:1px solid #D2CDCD;
}
ul.gdl-accordion li .accordion-title{
	color:#ff7800 !important;
}
.page-header-title{
	font-family:Myriad Pro;
	text-transform: none !important;
	padding-top:6px;
}
.warnings{
	background-color:red !important;
}

.cform-form::-webkit-input-placeholder { /* WebKit browsers */
    color:    #100F0F;
}
.cform-form:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #100F0F;
   opacity:  1;
}
.cform-form::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #100F0F;
   opacity:  1;
}
.cform-form:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #100F0F;
}
.stunning-link #clickme{
	text-decoration: underline !important;
	font-weight:600 !important;
	color: #ea6315 !important;
	padding: 0px !important;
	font-size:18px !important;
	line-height: 0px !important;
}
.redtext{
	background-color:red !important;
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #8F0000 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #8F0000 !important;
   opacity:  1 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #8F0000 !important;
   opacity:  1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #8F0000 !important;
}
}
/*.email-error{
	float:left;
	display:none;
	color:#fff;
	margin-top:24px;
}*/
.post-3890 .row .six {
  width: 90%;
}
.post #clickme{
 color:#ff7800 !important;
}
.pakalpojumi-wrapper2{
  text-align: center;
}
.input-wrapper2 #clickme{
color:#fff;
background-color:#ff7800;
padding: 10px 15px 10px 15px;
}
div.gdl-page-item{
padding-top:15px;
}
.portfolio-form{
text-align:center;
}
.majaslapas-form{
  background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/accordion-background.png);
  padding: 20px;
  border: 2px solid #F2F2F2;
}
.majaslapas-form input,.majaslapas-form textarea{
width:90%;
}
.majaslapas-form textarea{
margin-bottom:5px;
}
.majaslapas-form .ajax-loader{
	position:absolute;
}
.majaslapas-form input[type="submit"]{
background: rgba(147,205,102,1);
background: -moz-linear-gradient(top, rgba(147,205,102,1) 0%, rgba(123,194,85,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,205,102,1)), color-stop(100%, rgba(123,194,85,1)));
background: -webkit-linear-gradient(top, rgba(147,205,102,1) 0%, rgba(123,194,85,1) 100%);
background: -o-linear-gradient(top, rgba(147,205,102,1) 0%, rgba(123,194,85,1) 100%);
background: -ms-linear-gradient(top, rgba(147,205,102,1) 0%, rgba(123,194,85,1) 100%);
background: linear-gradient(to bottom, rgba(147,205,102,1) 0%, rgba(123,194,85,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cd66', endColorstr='#7bc255', GradientType=0 );
border-color: #BABABA;
width:92%;
font-size:14px;
height:50px;
}
.majaslapas-form input[type="email"]{
height:30px;
}
.portfolio-slider-header h3{
color:#fff;
  margin: 0;
  background: rgba(0,0,0,0.6);
  padding: 10px 80px;
font-weight:700;
font-size:28px;
}
.portfolio-slider-body{
  background: rgba(210,85,2,0.8);
}
.portfolio-slider-body p{
  color: #fff;
  white-space: normal;
  max-width: 300px;
  padding: 10px;
  font-size: 13px;
}
.piedavajums-skew a {
  margin-left: 70px;
  position: relative;
  top: 25px;
  right: 20px;
  color: #fff;
  font-weight: bold;
}
.spu-box .gdl-divider-wrappercustom{
	display:none;
}
.spu-box .subscrbr-sign-up-form input{
	font-size:'Open Sans';
	font-size: 24px;
    height: 54px;
    width: 300px;
}
.subscribe{
  display: none;
	float:left;
	border-radius: 0;
  border: 0;
  padding:19px 12px 22px 11px;
  border-color: #ff7800;
  color:#fff;

  background-color:#ff7800;
}
.subscribe a{
 color:#fff;
 font-family:'Open sans';
}
.subscribe a:hover{
	color:#fff;
}

.subscribe .gdl-dividercustom{
	display:none;
}
.subscribe .subscrbr-sign-up-form input{
	font-size:'Open Sans';
	font-size: 24px;
    height: 54px;
    width: 300px;
}
.pardotspeja{
	  padding: 20px;
  background-color: #ff7800;
  color:#fff;
}
.audit-email{
	color:#fff;
}
.apskatiet{
	font-size:18px;
}
.uzlabosana-forma{
	float:right;
}
.email-nosutits{
	text-align: center;
	color:green;
	display:none;
	font-size:21px;
}
.email-nosutits2{
	text-align: center;
	color:green;
	display:none;
	font-size:21px;
	margin-bottom: 25px;
    margin-top: 25px;
}
.page-id-3857 .footer-wrapper{
	display:none;
}
.page-id-3853 .footer-wrapper{
	display:none;
}
.page-id-3855 .footer-wrapper{
	display:none;
}
.email-error{
	color:#fff;
	font-size:15px;
	margin-left: 50px;
	display: block;
	float:left;
	margin-top:24px;
}
.email-error2{
	color:red;
	font-size:15px;
	margin-left: 0px;
	margin-bottom:20px;
	display: block;
	text-align:center;
}
#epasts2{
  height: 40px;
  width: 225px;
}
.audits-item{
	width:33%;
	float:left;
}
div.column-service-wrapper .column-service-button a.gdl-button{
  background: url(http://stratcomweb.co.uk/wp-content/uploads/2015/05/poga.png) !important;
  padding: 7px 35px;
}

.column-service-item-class-4 .column-service-caption { border-right:none !important; }

.header-semibold{
	font-weight:600;
	color:#ff6600 !important;
}

.izstrade-specialists{
margin-left:11%;
margin-right:11%;
}

.izstrade-text{
margin-top:30px;
margin-left:10%;
margin-right:10%;
text-align: center;
}


.cd-timeline{
margin-top:0px;
}

.timeline-width30{
width:37% !important;
}


/*Custom*/

.Gif {
    height:230px;
    width:230px;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    margin:auto; /*position the [div] on the center*/
  }

  /*this is the hover event trigger*/
.Gif:hover {
    cursor:pointer; 
    background-size: 100% !important;
  }

.project_text{
    font-size: 15px;
    line-height: 0px;
    font-family: 'Open Sans';
}

.project_text li{
list-style-image: url(http://stratcom2.paraugs.area.lv/wp-content/uploads/2015/09/line.png);
line-height: 22px;
    margin-top: -10px;
}

.project_text p{
}

.project_title h3{
    height: 50px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 32px;
    letter-spacing: 2px;
    margin: 0 auto;
    /*background-image: url(http://stratcom2.paraugs.area.lv/wp-content/uploads/2015/09/title_bg.png);*/
        width: 470px;
    padding-top: 8px;
    background-repeat: no-repeat;
font-family: 'Open Sans';
}

#pg-4767-1 .project_title h3{
    background-image: url(http://stratcom.lv/wp-content/uploads/2015/09/projekta-aprakts-zero.png);
}
#pg-4767-4 .project_title h3{
    background-image: url(http://stratcom.lv/wp-content/uploads/2015/09/projekta-aprakts-bottle.png);
}
#pg-4767-7 .project_title h3{
    background-image: url(http://stratcom.lv/wp-content/uploads/2015/09/projekta-aprakts-kapitals.png);
}
#pg-4767-10 .project_title h3{
    background-image: url(http://stratcom.lv/wp-content/uploads/2015/09/projekta-aprakts_tattoapps.png);
}
#pg-4767-13 .project_title h3{
    background-image: url(http://stratcom.lv/wp-content/uploads/2015/09/projekta-aprakts-averto.png);
}

.zoomIn{
width:100%;
}

/*FullWidth*/

.page-id-4767{
    overflow-x:hidden;
}

.page-id-4767 .container{
    padding: 0 !important;
    width: 100%;
    max-width: 1920px !important;
}
.page-id-4767 .row{
    width: 100% !important;
    margin: 0 !important;
}
.page-id-4767 .columns{
    padding: 0 !important;
}

.page-id-4767 .top-navigation-container, .page-id-4767 .header-container{
    padding: 0px 20px !important;
    max-width: 1200px !important;
}

.page-id-4767 .page-header-wrapper, .page-id-4767 .footer-wrapper, .page-id-4740 .footer-wrapper{
display:none;
} 

.fadeInLeft {
    float: right;
}

.textwidget > div > p{
    margin: 0;
}

.shortcodes-ultimate{
    max-width: 1100px !important;
    margin: 0 auto;
    /*background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/accordion-background.png);
    border-width: 3px;
    border-style: solid;*/
}

.su-accordion{
    
    margin-top: -19px !important;
}

.su-spoiler-title{
    color: #ff7800;
    font-size: 15px !important;
}
.su-spoiler-title span{
    color: #DEDDDB;
}

.su-spoiler-style-default > .su-spoiler-title {
    padding-left: 21px !important;
}

.su-spoiler-icon{
    margin-left: -2px !important;
}

.su-accordion .su-spoiler {
    margin-bottom: 4px !important;
}

.wpcf7-form-control-wrap input, .wpcf7-form-control-wrap textarea{
    width: 98%;
}

.page-id-4740 .page-header-wrapper{
    display: none;
}

.su-spoiler-icon{
    color: #505050 !important;
    font-size: 10px !important;
}

.cd-timeline-content{
	z-index:-1;
}

@media screen and (max-width: 1920px) {
    #wpcf7-f4870-p4767-o1 textarea{
    height: 180px;
    }
}
@media screen and (max-width: 1660px) {
    #wpcf7-f4870-p4767-o1 textarea{
    height: 100px;
    }
}
@media screen and (max-width: 1440px) {
    #wpcf7-f4870-p4767-o1 textarea{
    height: 50px;
    }
}
@media screen and (max-width: 1180px) {
    #wpcf7-f4870-p4767-o1 textarea{
    height: 30px;
    }
}
@media screen and (max-width: 1024px) {
    .page-id-4767 .top-navigation-container, .page-id-4767 .header-container{
    padding: 0px !important;
    max-width: 1024px !important;
    }
    #wpcf7-f4870-p4767-o1 textarea{

    }
    #sakums_laiks_p{
    font-size:18px !important;
    }
}

@media screen and (max-width: 768px) {
    div#pgc-4767-2-1, div#pgc-4767-2-2,div#pgc-4767-5-1, div#pgc-4767-5-2,div#pgc-4767-8-1, div#pgc-4767-8-2,div#pgc-4767-11-1, div#pgc-4767-11-2,div#pgc-4767-14-1, div#pgc-4767-14-2{
    float: left !important;
    }
    div#pgc-4767-2-1,div#pgc-4767-5-1,div#pgc-4767-8-1,div#pgc-4767-11-1,div#pgc-4767-14-1{
    width: 34% !important;
    }
    div#pgc-4767-2-2,div#pgc-4767-5-2,div#pgc-4767-8-2,div#pgc-4767-11-2,div#pgc-4767-14-2{
    width: 65% !important;
    }
}

@media screen and (max-width: 680px) {
    .project_title h3 {
    background-position-y: 4px;
    background-size: contain;
    margin-top: -30px;
    margin-bottom: -15px;
    height: 30px;

    font-size: 18px;
    width: 255px;
    }

    div#pgc-4767-2-1, div#pgc-4767-2-2,div#pgc-4767-5-1, div#pgc-4767-5-2,div#pgc-4767-8-1, div#pgc-4767-8-2,div#pgc-4767-11-1, div#pgc-4767-11-2,div#pgc-4767-14-1, div#pgc-4767-14-2{
    float: none !important;
    }
    div#pgc-4767-2-1,div#pgc-4767-5-1,div#pgc-4767-8-1,div#pgc-4767-11-1,div#pgc-4767-14-1{
    width: auto !important;
    margin-bottom: 0;
    width: 230px !important;
    margin: 0 auto;
    }
    div#pgc-4767-2-2,div#pgc-4767-5-2,div#pgc-4767-8-2,div#pgc-4767-11-2,div#pgc-4767-14-2{
    width: auto !important;
    width: 99% !important;
    margin: 0 auto;
    }
}

.cs-options ul li{
	font-weight: 600 !important;
}

.sakums_mail{
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
    margin: 60px 0;
}

#sakums_laiks_p{
    font-size: 25px;
    text-align: center;
    color: #fff;
    font-family: 'Open sans';
}

.blog-pic{
	width:47%;
	margin-right:20px;
	display:inline-block;
	float:left;
}

.blog-name{
	width:50%;
	overflow: hidden;
}

.turpinat{
	padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #D8D5D5;
}

.sakums_mail .gdl-header-title{
color: #fff;
}

.cform-akordions .su-spoiler {
background-color:#fff;
}

.cform-akordions .su-spoiler-closed .su-spoiler-icon{
    position: absolute;
    color:#ff7800 !important;
    left: 0px;
    top: 7px;
    display: block;
    height: 20px;
    float: right;
    right: 10px;
    line-height: 21px;
    width: auto;
    text-align: right;
    font-size: 14px;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 15px !important;
}

.cform-akordions .su-spoiler-icon{
display:none;
}

.cform-akordions{
        width: 84%;
    margin: 0 auto;
    margin-top: 114px;
}

.cform-form input:-moz-placeholder {
    color: #606060;
}
.cform-form::-moz-placeholder {
    color: #606060;
}

.cform-form:-ms-input-placeholder {
    color: #606060;
}

.cform-form input:-moz-placeholder, textarea:-moz-placeholder {
  color: #606060;
}

.cform-form input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #606060 !important;
}

.cform-akordions .su-spoiler {
    margin-bottom: 10px !important;
    padding-top: 4px;
    padding-bottom: 4px;
}
.cform-akordions .su-spoiler-title{
color:#606060;
font-weight:500;
    padding-right: 20px !important;
}

.cform-akordions .widget-title{
    margin-bottom: 42px;
    color: #ff7800;
    font-weight: 700;
    margin-left: 20px;
}


.form-title{
    text-align: center;
    margin-top: 15px;
    margin-bottom:2px;
     font-weight: 600;
    font-size: 27px;
    color: #fff;
}
.cform-form{
        margin: 0 auto;
    width: 295px;
}

.zinja textarea{
resize: none;
}

.raksti{
    margin-top: 20px !important;
    width: 100.5%;
    border-radius: 4px;
    border: none;
    font-weight: 400 !important;
    font-size: 22px !important;
}

.cform-form::-webkit-input-placeholder{
    color: red !important;
}
.vards{
    float: left;
    width: 133px;
    display: inline-block;
    margin-right:25px
}

.epasts{
    float: left;
    width: 133px;
    display: inline-block;
}

.stunning-text-title-custom2{
width: 100%;
}

.forma-seo{
text-align:center;
}

.your-email{
width:133px;
}

.form-raksti{
width:100% !important;
    font-size: 21px;
    font-weight: 500;
}

@media screen and (max-width: 1155px) {
.epasts{
width:100% !important;
}
.vards{
width:100% !important;
}
}

.forma-seo .formas-title{
text-align: center;
    border: none;
    font-size: 26px;
    color: #ff7800;
    font-weight: 700;
    text-transform: none;
}
.valts .personnal-item-wrapper{
width:100% !important;
}

.home-pedeja{
    background-size: 100% 100%;
    
    background-image: url(http://stratcom.lv/wp-content/uploads/2015/10/cform-bg.jpg);
    background-repeat: no-repeat;
}
@media screen and (max-width: 781px){
.cform-akordions .widget-title{
color:#fff;
}
.home-pedeja{
background-color: #ff7800 !important;
background-image:none;
height:auto;
}
.raksti{
color:#252423;
}
}