.top-navigation-wrapper, .top-navigation-wrapper a{ color: #c2c2c2; } 
.top-navigation-wrapper{ background-color: #f7f7f7; } 
body .top-navigation-wrapper{ border-color: #ededed; } 
div.top-search-wrapper input[type="submit"]{ border-color: #bababa; } 
div.top-search-wrapper input[type="text"]{ color: #a3a3a3; } 
div.top-search-wrapper input[type="text"]{ background-color: #e9e9e9; } 
div.floating-nav-wrapper{ background-color: #f5f5f5; } 
div.floating-nav-wrapper .sf-menu li a{ color: #606060; } 
div.floating-nav-wrapper .sf-menu li a:hover{ color: #898989; } 
div.floating-nav-wrapper .sf-menu li.current-menu-ancestor a, div.floating-nav-wrapper .sf-menu li.current-menu-item a, div.floating-nav-wrapper .sf-menu li.current-post-ancestor a{ color: #898989; } 
.sf-menu li a{ color: #6d6d6d; } 
.sf-menu li a:hover{ color: #ff7800; } 
.sf-menu li.current-menu-ancestor a, .sf-menu li.current-menu-item a, .sf-menu li.current-post-ancestor a{ color: #ff7800; } 
.gdl-current-menu{ background-color: #ff7800; } 
ul.sf-menu li li{ background-color: #232323; } 
ul.sf-menu li.sfHover ul li:first-child a{ border-top-color: #fd7905; } 
ul.sf-menu li li a, ul.sf-menu li.current-menu-item li a, ul.sf-menu li.current-menu-ancestor li a, ul.sf-menu li li.current-menu-item li a, ul.sf-menu li li.current-menu-ancestor li a, ul.sf-menu li.current-post-ancestor li a, div.floating-nav-wrapper ul.sf-menu li li a, div.floating-nav-wrapper ul.sf-menu li.current-menu-item li a, div.floating-nav-wrapper ul.sf-menu li.current-menu-ancestor li a, div.floating-nav-wrapper ul.sf-menu li li.current-menu-item li a,  div.floating-nav-wrapper ul.sf-menu li li.current-menu-ancestor li a, div.floating-nav-wrapper ul.sf-menu li.current-post-ancestor li a{ color: #c1c1c1; } 
ul.sf-menu li li a:hover, ul.sf-menu li li.current-menu-item li a:hover, .sf-menu li li.current-menu-ancestor li a:hover, div.floating-nav-wrapper ul.sf-menu li li a:hover, div.floating-nav-wrapper ul.sf-menu li li.current-menu-item li a:hover, div.floating-nav-wrapper .sf-menu li li.current-menu-ancestor li a:hover{ color: #f2f2f2; } 
ul.sf-menu li li.current-menu-item a, ul.sf-menu li li.current-menu-ancestor a, ul.sf-menu li li.current-menu-ancestor li.current-menu-item a, ul.sf-menu li li.current-post-ancestor adiv.floating-nav-wrapper ul.sf-menu li li.current-menu-item a, div.floating-nav-wrapper ul.sf-menu li li.current-menu-ancestor a, div.floating-nav-wrapper ul.sf-menu li li.current-menu-ancestor li.current-menu-item a, div.floating-nav-wrapper ul.sf-menu li li.current-post-ancestor a{ color: #f2f2f2; } 
div.header-wrapper{ background-color: #ffffff; } 
div.page-header-inner-wrapper{ background-color: #ff7800; } 
h1.page-header-title{ color: #ffffff; } 
div.page-header-caption{ color: #ffffff; } 
h3.gdl-header-title{ color: #111111; } 
h3.gdl-header-title{ border-color: #f87a0a; } 
h1, h2, h3, h4, h5, h6{ color: #111111; } 
body{ color: #505050; } 
html{ background-color: #404040; } 
.container.main, .gdl-container-color{ background-color: #ffffff; } 
a{ color: #ea6315; } 
a:hover{ color: #ea8e59; } 
::selection, ::-moz-selection{ color: #ffffff; } 
::selection, ::-moz-selection{ background-color: #4f4f4f; } 
.sidebar-wrapper a{ color: #595959; } 
.sidebar-wrapper a:hover{ color: #fd7905; } 
.custom-sidebar-title, .custom-sidebar-title a{ color: #222222; } 
div.gdl-sidebar-wrapper .sidebar-bottom-bar, div.sitemap-page .sidebar-bottom-bar{ border-color: #fd7905; } 
.sidebar-wrapper .recent-post-widget-info, .sidebar-wrapper #twitter_update_list{ color: #a5a5a5; } 
div.recent-port-widget .recent-port-widget-thumbnail, div.recent-post-widget .recent-post-widget-thumbnail, div.custom-sidebar .flickr_badge_image{ background-color: #eeeeee; } 
.tagcloud a, .tagcloud a:hover{ color: #ffffff; } 
.tagcloud a{ background-color: #ff8921; } 
div.footer-twitter-wrapper{ background-color: #f88015; } 
div.footer-twitter-wrapper, div.footer-twitter-wrapper a{ color: #ffffff; } 
div.footer-stunning-content{ background-color: #ffffff; } 
div.footer-stunning-wrapper .footer-stunning-title{ color: #333333; } 
div.footer-stunning-wrapper .footer-stunning-caption{ color: #707070; } 
.footer-wrapper a{ color: #595959; } 
.footer-wrapper a:hover{ color: #bfbfbf; } 
.footer-wrapper .custom-sidebar-title, .footer-wrapper .custom-sidebar-title a{ color: #4f4f4f; } 
.footer-wrapper, .footer-wrapper table th{ color: #666666; } 
.footer-wrapper .recent-post-widget-info, .footer-wrapper #twitter_update_list{ color: #9e9e9e; } 
div.footer-wrapper{ background-color: #f5f5f5; } 
div.footer-wrapper *{ border-color: #d8d8d8; } 
div.footer-wrapper div.contact-form-wrapper input[type="text"], div.footer-wrapper div.contact-form-wrapper input[type="password"], div.footer-wrapper div.contact-form-wrapper textarea, div.footer-wrapper div.custom-sidebar #search-text input[type="text"]{ color: #848484; } 
div.footer-wrapper div.contact-form-wrapper input[type="text"], div.footer-wrapper div.contact-form-wrapper input[type="password"], div.footer-wrapper div.contact-form-wrapper textarea, div.footer-wrapper div.custom-sidebar #search-text input[type="text"]{ background-color: #ffffff; } 
div.footer-wrapper div.contact-form-wrapper input[type="text"], div.footer-wrapper div.contact-form-wrapper input[type="password"], div.footer-wrapper div.contact-form-wrapper textarea, div.footer-wrapper div.custom-sidebar #search-text input[type="text"]{ border-color: #e5e5e5; } 
.footer-wrapper .contact-form-wrapper button{ color: #ffffff; } 
.footer-wrapper .contact-form-wrapper button{ background-color: #565656; } 
div.footer-wrapper .personnal-widget-item .personnal-widget-info{ color: #515151; } 
div.footer-wrapper .tagcloud a, div.footer-wrapper .tagcloud a:hover{ color: #5a5a5a; } 
div.footer-wrapper .tagcloud a{ background-color: #eaeaea; } 
div.footer-wrapper div.recent-port-widget .recent-port-widget-thumbnail, div.footer-wrapper div.recent-post-widget .recent-post-widget-thumbnail,div.footer-wrapper .custom-sidebar .flickr_badge_image{ background-color: #e0e0e0; } 
div.footer-wrapper .copyright-border{ border-top-color: #e8e8e8; } 
div.footer-wrapper .copyright-border{ border-bottom-color: #ffffff; } 
.copyright-wrapper{ color: #999999; } 
div.copyright-scroll-top{ background-color: #4b4b4b; } 
div.gdl-top-slider{ background-color: #f2f2f2; } 
div.gdl-top-slider-wrapper{ border-color: #e8e8e8; } 
.ls-maxima .ls-nav-prev, .ls-maxima .ls-nav-next,div.gdl-top-slider .flex-direction-nav li .flex-prev, div.gdl-top-slider .flex-direction-nav li .flex-next,div.gdl-top-slider .nivo-directionNav a.nivo-prevNav, div.gdl-top-slider .nivo-directionNav a.nivo-nextNav{ background-color: #ffffff; } 
.ls-maxima .ls-nav-prev:hover, .ls-maxima .ls-nav-next:hover, div.gdl-top-slider .flex-direction-nav li .flex-prev:hover, div.gdl-top-slider .flex-direction-nav li .flex-next:hover, div.gdl-top-slider .nivo-directionNav a.nivo-prevNav:hover, div.gdl-top-slider .nivo-directionNav a.nivo-nextNav:hover{ background-color: #f2f2f2; } 
h2.gdl-slider-title{ color: #f16236; } 
h2.gdl-slider-title{ background-color: #ffffff; } 
div.gdl-slider-inner-caption{ color: #ffffff; } 
div.gdl-slider-inner-caption{ background: #000000; } 
div.gdl-slider-caption{ border-color: #f16236; } 
.ls-maxima .ls-bottom-slidebuttons a, .flex-control-nav li a, .nivo-controlNav a, div.anythingSlider .anythingControls ul a{ background-color: #ffffff; } 
.ls-maxima .ls-bottom-slidebuttons a.ls-nav-active, .ls-maxima .ls-bottom-slidebuttons a:hover.flex-control-nav li a:hover, .flex-control-nav li a.flex-active, .nivo-controlNav a:hover, .nivo-controlNav a.active, div.anythingSlider .anythingControls ul a.cur, div.anythingSlider .anythingControls ul a:hover { background: #bbbbbb; } 
.flex-carousel.carousel-included{ background-color: #000000; } 
h1.stunning-text-title{ color: #ff7800; } 
.stunning-text-caption{ color: #7a7a7a; } 
.stunning-text-inner-wrapper{ background-color: #efefef; } 
h2.blog-title a, h1.blog-title a, div.portfolio-item .page-item-title a{ color: #424242; } 
h2.blog-title a:hover, h1.blog-title a:hover, div.portfolio-item .page-item-title a:hover{ color: #9c9c9c; } 
div.blog-info-wrapper, div.blog-info-wrapper a, div.gdl-blog-full .blog-comment, div.gdl-blog-full .blog-comment a, div.gdl-blog-medium .blog-tag, div.gdl-blog-medium .blog-tag a{ color: #9b9b9b; } 
div.gdl-blog-full .blog-info-wrapper, div.gdl-blog-medium .blog-info-wrapper{ background-color: #f9f9f9; } 
div.gdl-blog-full .blog-info-wrapper, div.gdl-blog-medium .blog-info-wrapper{ border-top-color: #fd7905; } 
div.gdl-blog-widget div.blog-info-wrapper, div.gdl-blog-widget div.blog-info-wrapper a{ color: #9b9b9b; } 
.about-author-wrapper{ background-color: #f5f5f5; } 
div.gdl-pagination a{ background-color: #f5f5f5; } 
div.gdl-pagination a{ color: #7b7b7b; } 
div.gdl-pagination a:hover{ background-color: #ff7800; } 
div.gdl-pagination a:hover{ color: #ffffff; } 
div.gdl-pagination span{ background-color: #ff7800; } 
div.gdl-pagination span{ color: #ffffff; } 
div.portfolio-media-wrapper span.portfolio-thumbnail-image-hover{ background-color: #000000; } 
.portfolio-item .portfolio-title a{ color: #2d2d2d; } 
.portfolio-item .portfolio-tag a, .portfolio-item .portfolio-tag{ color: #aaaaaa; } 
.portfolio-item .port-bottom-border{ background-color: #ff7800; } 
.portfolio-item:hover .portfolio-context .portfolio-tag, .portfolio-item:hover .portfolio-context, .portfolio-item:hover .portfolio-context a{ color: #ffffff; } 
ul.portfolio-item-filter li a{ color: #111111; } 
div.portfolio-filter-wrapper div.port-current-bar{ border-color: #fd7905; } 
div.single-portfolio .port-info{ color: #7a7a7a; } 
div.single-portfolio .port-info .head{ color: #404040; } 
div.portfolio-carousel-wrapper .port-nav, div.portfolio-carousel-description .port-nav, div.single-portfolio .port-nav a, div.blog-carousel-wrapper .blog-nav, div.gdl-carousel-testimonial .testimonial-navigation a{ background-color: #f6f6f6; } 
div.price-item-inner-wrapper{ background-color: #f9f9f9; } 
div.price-item .price-title-wrapper{ color: #ffffff; } 
div.price-item .price-title-wrapper{ background-color: #454545; } 
div.price-item .price-tag{ color: #ffffff; } 
div.price-item .price-tag{ background-color: #838383; } 
div.best-price .price-tag{ color: #ffffff; } 
div.best-price .price-tag{ background-color: #f67501; } 
div.price-item{ color: #5e5e5e; } 
div.price-button-wrapper .gdl-button{ background-color: #f57504; } 
div.price-button-wrapper .gdl-button{ color: #ffffff; } 
div.personnal-item{ background-color: #f9f9f9; } 
div.personnal-item .personnal-position{ color: #9d9d9d; } 
div.personnal-item .personnal-title{ color: #353535; } 
div.personnal-item .personnal-content{ color: #838383; } 
div.personnal-widget-item .personnal-widget-info{ color: #4a4a4a; } 
ul.gdl-accordion li .accordion-title, ul.gdl-toggle-box li .toggle-box-title{ color: #363636; } 
ul.gdl-accordion li, ul.gdl-toggle-box li{ background-color: #ffffff; } 
ul.gdl-accordion li, ul.gdl-toggle-box li, div.gdl-carousel-testimonial .testimonial-content{ border-color: #f5f5f5; } 
blockquote{ color: #ababab; } 
body blockquote{ border-color: #cfcfcf; } 
a.gdl-button, body button, input[type="submit"], input[type="reset"], input[type="button"]{ background-color: #f57504; } 
a.gdl-button, body button, input[type="submit"], input[type="reset"], input[type="button"]{ color: #ffffff; } 
h2.column-service-title{ color: #111111; } 
body *{ border-color: #e6e6e6; } 
.scroll-top{ color: #919191; } 
div.progress-bar-wrapper .progress-bar{ background-color: #f57503; } 
div.progress-bar-wrapper{ background-color: #f0f0f0; } 
div.progress-bar-wrapper{ color: #ffffff; } 
table, table tr, table tr td, table tr th{ border-color: #e5e5e5; } 
table th{ color: #666666; } 
table th{ background-color: #fdfdfd; } 
div.gdl-tab ul.gdl-tab-content, div.gdl-tab ul.gdl-tab-title a.active{ background-color: #ffffff; } 
div.gdl-tab ul.gdl-tab-content{ color: #707070; } 
div.gdl-tab ul.gdl-tab-title a.active{ color: #575757; } 
div.gdl-tab ul.gdl-tab-title li a.active{ border-top-color: #f57504; } 
div.gdl-tab ul.gdl-tab-title a{ color: #959595; } 
div.gdl-tab ul.gdl-tab-title a{ background-color: #fafafa; } 
div.gdl-carousel-testimonial .testimonial-content{ color: #9d9d9d; } 
div.gdl-carousel-testimonial .testimonial-info{ color: #656565; } 
div.gdl-carousel-testimonial .testimonial-content{ background-color: #ffffff; } 
div.gdl-static-testimonial .testimonial-item{ color: #afafaf; } 
div.gdl-static-testimonial .testimonial-item{ border-color: #efefef; } 
div.gdl-static-testimonial .testimonial-info{ color: #848484; } 
.logo-wrapper a{ max-width: 250px; } 
.logo-wrapper{ padding-top: 15px; padding-bottom: 10px; } 
div#main-superfish-wrapper{ padding-top: 42px; } 
h1.gdl-header-title{ font-size: 21px; } 
body{ font-size: 15px; } 
h3.custom-sidebar-title{ font-size: 17px; } 
h1{ font-size: 30px; } 
h2{ font-size: 25px; } 
h3{ font-size: 20px; } 
h4{ font-size: 18px; } 
h5{ font-size: 16px; } 
h6{ font-size: 15px; } 
body{ font-family: "Open Sans"; } 
h1, h2, h3, h4, h5, h6, div.price-item .price-title, div.price-item .price-tag { font-family: "Open Sans"; } 
.gdl-slider-title{ font-family: "Open Sans"; } 
h1.stunning-text-title{ font-family: "Open Sans"; } 
div.navigation-wrapper{ font-family: "Open Sans"; } 
.blog-info-wrapper i{ color: #6e6e6e; }
div.personnal-widget-prev{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/personnal-widget-left.png); } 
div.personnal-widget-next{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/personnal-widget-right.png); } 
div.gdl-search-button, div.custom-sidebar #searchsubmit{ background: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/search-button.png) no-repeat center; } 
div.top-search-wrapper input[type='submit']{ background: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/top-search.png) no-repeat left center;; } 
div.custom-sidebar ul li{ background: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/li-arrow.png) no-repeat 0px center; } 
ul.gdl-accordion li, ul.gdl-toggle-box li, div.gdl-carousel-testimonial .testimonial-content{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/accordion-background.png); } 
li.active span.accordion-icon, li.active span.toggle-box-icon{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/accordion-title-active.png); } 
span.accordion-icon, span.toggle-box-icon{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/accordion-title.png); } 
div.gdl-carousel-testimonial .testimonial-icon{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/testimonial-quote.png); } 
div.blog-carousel-wrapper .blog-nav.left, div.portfolio-carousel-wrapper .port-nav.left, div.portfolio-carousel-description .port-nav.left, .testimonial-navigation .testimonial-prev, div.single-portfolio .port-prev-nav a{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/nav-left.png); } 
div.blog-carousel-wrapper .blog-nav.right, div.portfolio-carousel-wrapper .port-nav.right, div.portfolio-carousel-description .port-nav.right, .testimonial-navigation .testimonial-next, div.single-portfolio .port-next-nav a{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/nav-right.png); } 
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
div.top-search-wrapper input[type='submit']{ background: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/top-search@2x.png) no-repeat left center;; } 
li.active span.accordion-icon, li.active span.toggle-box-icon{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/accordion-title-active@2x.png); } 
span.accordion-icon, span.toggle-box-icon{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/accordion-title@2x.png); } 
div.gdl-carousel-testimonial .testimonial-icon{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/testimonial-quote@2x.png); } 
div.blog-carousel-wrapper .blog-nav.left, div.portfolio-carousel-wrapper .port-nav.left, div.portfolio-carousel-description .port-nav.left, .testimonial-navigation .testimonial-prev, div.single-portfolio .port-prev-nav a{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/nav-left@2x.png); } 
div.blog-carousel-wrapper .blog-nav.right, div.portfolio-carousel-wrapper .port-nav.right, div.portfolio-carousel-description .port-nav.right, .testimonial-navigation .testimonial-next, div.single-portfolio .port-next-nav a{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/nav-right@2x.png); } 
}
div.footer-wrapper div.custom-sidebar ul li{ background: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/li-arrow.png) no-repeat 0px center; } 
div.footer-wrapper div.custom-sidebar #searchsubmit{ background: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/search-button.png) no-repeat center; } 
div.footer-wrapper div.personnal-widget-prev{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/personnal-widget-left.png); } 
div.footer-wrapper div.personnal-widget-next{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/personnal-widget-right.png); } 
div.footer-gallery-nav-left{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/nav-left.png); } 
div.footer-gallery-nav-right{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/nav-right.png); } 
div.gdl-twitter-navigation a.prev{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/light/nav-left.png); } 
div.gdl-twitter-navigation a.next{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/light/nav-right.png); } 
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
div.gdl-twitter-navigation a.prev{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/nav-left@2x.png); } 
div.gdl-twitter-navigation a.next{ background-image: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/dark/nav-right@2x.png); } 
}
.flex-carousel .flex-direction-nav li a.flex-prev{ background: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/light/carousel-nav-left.png) no-repeat; } 
.flex-carousel .flex-direction-nav li a.flex-next{ background: url(http://stratcom.lv/wp-content/themes/maxima-v1-02/images/icon/light/carousel-nav-right.png) no-repeat; } 
.page-header-title, .page-header-caption, .footer-twitter-wrapper i{
text-shadow: 1px 1px #a56124;
}
div.page-header-caption{ font-weight: normal; }
div.contact-form-wrapper input[type="text"], div.contact-form-wrapper input[type="password"], div.contact-form-wrapper textarea, div.sidebar-wrapper #search-text input[type="text"], div.sidebar-wrapper .contact-widget input, div.custom-sidebar .contact-widget textarea, div.comment-wrapper input[type="text"], div.comment-wrapper input[type="password"], div.comment-wrapper textarea{ color: #888888; background-color: #ffffff; border-color: #e3e3e3; -webkit-box-shadow: #ececec 0px 1px 4px inset, #f7f7f7 -5px -5px 0px 0px, #f7f7f7 5px 5px 0px 0px, #f7f7f7 5px 0px 0px 0px, #f7f7f7 0px 5px 0px 0px, #f7f7f7 5px -5px 0px 0px, #f7f7f7 -5px 5px 0px 0px ; box-shadow: #ececec 0px 1px 4px inset, #f7f7f7 -5px -5px 0px 0px, #f7f7f7 5px 5px 0px 0px, #f7f7f7 5px 0px 0px 0px, #f7f7f7 0px 5px 0px 0px, #f7f7f7 5px -5px 0px 0px, #f7f7f7 -5px 5px 0px 0px ; } 

div.port-nav-wrapper a.view-all-projects i{ color: #dddddd; }
div.stunning-text-wrapper .stunning-text-button-mobile, 
div.stunning-text-wrapper .stunning-text-button-wrapper{ 
background: #f16337; 
}
.gdl-button, button, input[type="submit"], input[type="reset"], input[type="button"]{ 
border-color: #c45e03;
}
div.price-button-wrapper .gdl-button{ 
border-color: #c45e03;
}
html{ background-color: #ffffff; }
div.container.main{ background: transparent !important; }
div.gdl-top-slider-wrapper.container-slider{ max-width: 1000px; border-bottom: 0px; }
div.gdl-top-slider-wrapper.container-slider .gdl-slider-wrapper{ margin: 0px 30px; }
@media only screen and (max-width: 767px) {
div.gdl-top-slider-wrapper.container-slider{ max-width: 460px; }
}
div.page-header-wrapper{ padding-top: 4px; padding-bottom: 3px; border-style: solid; border-top-width: 1px; border-bottom-width: 1px; }
