
.add-links .add_to_cart_read_more,
.add-links .add_to_cart_button,
.yith-wcwl-add-to-wishlist a,
.add-links .quickview {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: inherit;
    height: 2.2em;
    line-height: 2.2em;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    border-radius: $border-normal !important;
    text-shadow: none;
    @include transition($transition);

    &:before {
        display: inline-block;
        font-family: "FontAwesome";
    }

    &:hover,
    &:focus {
        color: #fff;
        text-decoration: none;
    }
}

.add-links {
    .add_to_cart_button,
    .add_to_cart_read_more {
        background: transparent;
        border-radius: $border-normal;
        padding: 0 .7143em;
        line-height: 2.0571em;
        z-index: 1;
        @if $dark == 1 {
            border: 1px solid #777;
            color: #ddd;
        } @else {
            border: 1px solid $input-border-color;
            color: #333;
        }
        white-space: nowrap;
        text-shadow: none;

        &:before {
            @if $rtl == 1 {
                margin-left: .5714em;
            } @else {
                margin-right: .5714em;
            }
        }

        ul.products li.product:hover & {
            color: #fff;
        }
    }

    .add_to_cart_button {
        &:before {
            content: $fa-var-check-square-o;
        }

        &.product_type_simple {
            &:before {
                content: $fa-var-shopping-cart;
            }
        }

        &.loading:after {
            @if $dark == 1 {
                background: $color-dark-3 url(../images/ajax-loader@2x.gif) no-repeat scroll center center / 1.1em 1.1em;
            } @else {
                background: #fff url(../images/ajax-loader@2x.gif) no-repeat scroll center center / 1.1em 1.1em;
            }
            border-radius: $border-normal;
            @include opacity(.5);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            content: "";
        }
    }

    .add_to_cart_read_more {
        &:before {
            content: $fa-var-sign-in;
        }
    }
}

.yith-wcwl-add-to-wishlist {
    margin-top: 0;
    line-height: 1;
    vertical-align: top;

    > div {
        @include transition($transition);
    }

    a {
        width: 2.2em;
        padding: 0;
        border: 1px solid #ed4949;
        color: #ed4949;
        text-indent: -9999em;

        &:before {
            position: absolute;
            left: 0;
            right: 0;
            text-indent: 0;
            font-size: 1.1em;
        }

        &:hover,
        &:focus {
            background-color: #ed4949;
        }
    }

    .yith-wcwl-add-button a:before {
        content: $fa-var-heart-o;
    }

    .yith-wcwl-wishlistaddedbrowse a,
    .yith-wcwl-wishlistexistsbrowse a{
        &:before {
            content: $fa-var-heart;
        }
    }

    .feedback {
        display: none !important;
    }

    span.ajax-loading {
        @if $dark == 1 {
            background: $color-dark-3 url(../images/ajax-loader@2x.gif) no-repeat scroll center center / 1.1em 1.1em;
        } @else {
            background: #fff url(../images/ajax-loader@2x.gif) no-repeat scroll center center / 1.1em 1.1em;
        }
        display: inline-block !important;
        position: absolute;
        border: 1px solid #ed4949;
        border-radius: $border-normal;
        top: 0;
        @if $rtl == 1 {
            right: 0;
        } @else {
            left: 0;
        }
        padding: 0 !important;
        width: 2.2em !important;
        height: 2.2em !important;
        z-index: 10;
        margin: 0 !important;
        @include opacity(.5);
        &:hover {
            background-color: #ed4949;
        }
    }

    + .clear {
        display: none;
    }
}

.add-links .quickview {
    position: relative;
    width: 2.2em;
    padding: 0;
    border: 1px solid #52b9b5;
    background: transparent;
    color: #52b9b5;
    text-indent: -9999em;

    &:before {
        position: absolute;
        left: 0;
        right: 0;
        text-indent: 0;
        font-size: 1.1em;
        content: $fa-var-eye;
    }

    &:hover,
    &:focus {
        background-color: #52b9b5;
        border-color: #52b9b5;
    }

    &.loading:after {
        @if $dark == 1 {
            background: $color-dark-3 url(../images/ajax-loader@2x.gif) no-repeat scroll center center / 1.1em 1.1em;
        } @else {
            background: #fff url(../images/ajax-loader@2x.gif) no-repeat scroll center center / 1.1em 1.1em;
        }
        @include opacity(.5);
        position: absolute;
        border-radius: $border-normal;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: "";
    }
}