
.woocommerce-cart {
    .shipping_calculator {
        h2 {
            margin-top: 0;
            a {
                cursor: default;
                text-decoration: none;
            }
        }
    }

    .shipping-form-wrap .shipping-calculator-form {
        display: block !important;
        height: auto !important;
    }

    .shipping-calculator-form {
        margin-top: 10px;
    }
}

.shop_table {
    .product-thumbnail {
        img {
            max-width: 90px;
            height: auto;
        }
    }

    dl.variation {
        dt {
            padding: 8px 0 0;
        }
        dd {
            padding: 0;

            p {
                margin: 0;
            }
        }
    }
}

.cross-sells {
    margin-top: 1.4286em;
    margin-bottom: 2.1429em;

    .slider-wrapper {
        .products {
            .product {
                padding-left: ($grid-gutter-width / 2);
                padding-right: ($grid-gutter-width / 2);
            }
        }
    }
}

.shop_table.responsive.cart-total {
    tbody {
        tr:first-child {
            th,
            td {
                border-top-width: 0;
            }
            th {
                border-radius: $border-medium 0 0 0;
            }
        }
        tr:last-child {
            th {
                border-radius: 0 0 0 $border-medium;
            }
        }
    }
    th {
        width: 25%;
    }
    @media #{$screen-medium} {
        th,
        td {
            width: 100%;
            @if $rtl == 1 {
                text-align: right;
            } @else {
                text-align: left;
            }
        }
    }
}

.cart-totals {
    #shipping_method {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.wc-proceed-to-checkout {
    margin-bottom: 20px;
    margin-bottom: 20px;
    @if $rtl == 1 {
        text-align: left;
    } @else {
        text-align: right;
    }
}

.cart_totals,
.review-order.shop_table {
    h2 {
        margin-top: 0;
    }

    .order-total {
        .amount {
            font-size: 1.2em;
        }
    }
}