
.category-image {
    width: 100%;
    border-radius: $border-medium;
    margin-bottom: 20px;

}

.products ul,
ul.products {
    margin: 0 0 1em;
    padding: 0;
    list-style: none outside;
    @include clearfix;

    li {
        list-style:none outside;
    }
}

ul.products {

    li.product,
    li.product-category {
        @if $rtl == 1 {
            float: right;
        } @else {
            float: left;
        }
        margin-bottom: 1.4286em;
        position: relative;
        text-align: center;

        &.first {
            clear: both;
        }

        .product-image {
            margin-bottom: 1em;
            min-height: 90px;

            /*.img-effect {
                img {
                    position: relative;
                    left: 0;
                }

                .hover-image {
                    margin-right: -100%;
                }
            }

            &:hover {
                .img-effect {
                    img {
                        left: -100%;
                    }
                }
            }*/
            .img-effect {
                img {
                    position: relative;
                    @include opacity(1);
                }

                .hover-image {
                    position: absolute;
                    left: 0; right: 0; top: 0; bottom: 0;
                    margin: auto;
                    @include opacity(0);
                }
            }

            &:hover {
                .img-effect {
                    img {
                        @include opacity(0);
                    }
                    .hover-image {
                        @include opacity(1);
                    }
                }
            }
        }

        h3 {
            font-size: 1em;
            line-height: 1.35;
            margin-bottom: .7143em;

            a {
                font-size: 1em;
                text-decoration: none;
            }
        }

        .rating-wrap {
            font-size: .8571em;
            margin: 0 auto 1.2em;
            height: 1px;
            position: relative;
            display: table;

            .rating-after,
            .rating-before {
                display: table-cell;
                width: 50%;
                height: 1px;
                vertical-align: middle;

                .rating-line {
                    display: block;
                    height: 1px;
                    width: 100%;
                    margin-top: 1px;
                }
            }

            .rating-before {
                .rating-line {
                    @if $dark == 1 {
                        @if $rtl == 1 {
                            @include background-image(linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 40%, transparent));
                        } @else {
                            @include background-image(linear-gradient(right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 40%, transparent));
                        }
                    } @else {
                        @if $rtl == 1 {
                            @include background-image(linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent));
                        } @else {
                            @include background-image(linear-gradient(right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent));
                        }
                    }
                }
            }

            .rating-after {
                .rating-line {
                    @if $dark == 1 {
                        @if $rtl == 1 {
                            @include background-image(linear-gradient(right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 40%, transparent));
                        } @else {
                            @include background-image(linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 40%, transparent));
                        }
                    } @else {
                        @if $rtl == 1 {
                            @include background-image(linear-gradient(right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent));
                        } @else {
                            @include background-image(linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent));
                        }
                    }
                }
            }

            .rating-content {
                display: table-cell;
            }

            .star-rating,
            .star-rating span {
                width: 6.7em;
                @if $rtl == 1 {
                    margin-left: -2px;
                } @else {
                    margin-right: -2px;
                }
                &:before {
                    @if $rtl == 1 {
                        right: .6em;
                    } @else {
                        left: .6em;
                    }
                }
            }
        }

        .description {
            display: none;
            margin-top: 1.5em;

            p {
                margin-bottom: 1em;
                line-height: 1.5714em;
            }
        }

        .price {
            display: block;
            font-size: 1.4286em;
            margin-top: -0.25em;
            margin-bottom: .75em;
        }

        .add-links {
            display: inline-block;
            position: relative;
            margin-bottom: 1.0714em;

            .tooltip-inner {
                white-space: nowrap;
            }

            .add_to_cart_read_more,
            .add_to_cart_button {
                @include transition(none);
                @if $rtl == 1 {
                    float: right;
                } @else {
                    float: left;
                }
            }

            .added_to_cart {
                display: none;
            }

            .yith-wcwl-add-to-wishlist > div {
                @if $rtl == 1 {
                    right: 0;
                } @else {
                    left: 0;
                }
            }

            .quickview {
                @if $rtl == 1 {
                    left: 0;
                } @else {
                    right: 0;
                }
            }

            .yith-wcwl-add-to-wishlist > div,
            .quickview {
                position: absolute;
                top: 0;
                @include opacity(0);
                visibility: hidden;
            }
        }

        .links-on-image {
            height: 0;

            .add-links-wrap {
                display: none;
            }

            .add-links-wrap .add-links {
                font-size: 1em;
                display: block;
                @if $rtl == 1 {
                    text-align: right;
                } @else {
                    text-align: left;
                }
                position: static;
                margin-bottom: 0;

                > * {
                    position: relative;
                    z-index: 2;
                    display: none;
                    @include opacity(0);
                }

                .add_to_cart_button,
                .add_to_cart_read_more,
                .yith-wcwl-add-to-wishlist > div,
                .quickview {
                    background: transparent;
                    border-radius: $border-normal !important;
                    margin-top: -3em;
                }

                .add_to_cart_button,
                .add_to_cart_read_more {
                    @if $rtl == 1 {
                        float: right;
                        margin-right: .8em;
                    } @else {
                        float: left;
                        margin-left: .8em;
                    }
                    text-indent: -9999em;
                    width: 2.2em;
                    padding: 0;
                    @include transition($transition);

                    &:before {
                        position: absolute;
                        left: 0;
                        right: 0;
                        text-indent: 0;
                        font-size: 1.1em;
                        @if $rtl == 1 {
                            margin-left: auto;
                        } @else {
                            margin-right: auto;
                        }
                    }

                    &:hover {
                        color: #fff;
                    }
                }

                .yith-wcwl-add-to-wishlist {
                    @if $rtl == 1 {
                        float: left;
                        margin-left: .8em;
                    } @else {
                        float: right;
                        margin-right: .8em;
                    }
                    position: relative;
                    margin-bottom: -3px;

                    > div {
                        display: inline-block;
                        position: relative;
                        @include opacity(0);
                        @include transition($transition);
                        visibility: visible;
                        @if $rtl == 1 {
                            right: auto;
                        } @else {
                            left: auto;
                        }
                        top: auto;
                    }
                }

                .quickview {
                    font-size: .9em;
                    position: absolute;
                    top: -$product-image-border-width;
                    @if $rtl == 1 {
                        left: -$product-image-border-width;
                        right: auto !important;
                    } @else {
                        right: -$product-image-border-width;
                        left: auto !important;
                    }
                    width: auto;
                    height: auto;
                    line-height: 1;
                    margin: 0;
                    padding: .7937em;
                    text-indent: 0;
                    @if $rtl == 1 {
                        border-radius: $border-thick 0 $border-thick 0 !important;
                    } @else {
                        border-radius: 0 $border-thick 0 $border-thick !important;
                    }
                    background: #52b9b5;
                    color: #fff;
                    @include transition($transition);
                    visibility: visible;

                    &:before {
                        position: static;
                        @if $rtl == 1 {
                            margin-left: .5714em;
                        } @else {
                            margin-right: .5714em;
                        }
                    }
                    &:hover {
                        background: lighten(#52b9b5, 5%);
                    }
                }
            }
        }

        &.show-links-onimage {
            .add-links-wrap {
                display: none;
            }
            .links-on-image {
                .add-links-wrap {
                    display: block;
                }
            }
        }
    }
}

ul.products {

    li.product.hover,
    li.product:hover {
        .add-links {
            .yith-wcwl-add-to-wishlist > div {
                @if $rtl == 1 {
                    right: -2.8em;
                } @else {
                    left: -2.8em;
                }
            }
            .quickview {
                @if $rtl == 1 {
                    left: -2.8em;
                } @else {
                    right: -2.8em;
                }
            }
            .yith-wcwl-add-to-wishlist > div,
            .quickview {
                @include opacity(1);
                visibility: visible;
            }
            &.no-effect {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: 0; width: auto; padding: 0 0.7143em;
                    &:before {
                        position: static;
                        font-size: 1em;
                        @if $rtl == 1 {
                            margin-left: 0.5714em;
                        } @else {
                            margin-right: 0.5714em;
                        }
                    }
                }
            }
        }

        .links-on-image {
            .add-links-wrap .add-links {
                .add_to_cart_button,
                .add_to_cart_read_more,
                .yith-wcwl-add-to-wishlist,
                .yith-wcwl-add-to-wishlist > div {
                    display: inline-block;
                    @include opacity(1);
                }
            }
        }
    }

    li.product:hover {
        .product-image {
            .labels {
                .viewcart.added {
                    display: block;
                    @include opacity(1);
                }
            }
        }
        .links-on-image {
            .add-links-wrap .add-links {
                .quickview {
                    display: inline-block;
                    @include opacity(1);
                }
            }
        }
    }
}

ul {
    &.pcols-lg-8 {
        margin: 0 -3px;
        li.product,
        li.product-category { width: 12.5%; padding: 0 3px; }
    }
    &.pwidth-lg-8 {
        .product-image { font-size: .8em; }
        .add-links { font-size: .85em; }
        li.product.hover,
        li.product:hover {
            .add_to_cart_read_more,
            .add_to_cart_button {
                text-indent: -9999em; width: 2.2em; padding: 0;
                &:before {
                    position: absolute;
                    left: 0;
                    right: 0;
                    text-indent: 0;
                    font-size: 1.1em;
                    @if $rtl == 1 {
                        margin-left: auto;
                    } @else {
                        margin-right: auto;
                    }
                }
            }
        }
    }

    &.pcols-lg-7 {
        margin: 0 -3px;
        li.product,
        li.product-category { width: 14.2857%; padding: 0 3px; }
    }
    &.pwidth-lg-7 {
        .product-image { font-size: .8em; }
        .add-links { font-size: .9em; }
        li.product.hover,
        li.product:hover {
            .add_to_cart_read_more,
            .add_to_cart_button {
                text-indent: -9999em; width: 2.2em; padding: 0;
                &:before {
                    position: absolute;
                    left: 0;
                    right: 0;
                    text-indent: 0;
                    font-size: 1.1em;
                    @if $rtl == 1 {
                        margin-left: auto;
                    } @else {
                        margin-right: auto;
                    }
                }
            }
        }
    }

    &.pcols-lg-6 {
        margin: 0 -6px;
        li.product,
        li.product-category { width: 16.6667%; padding: 0 6px; }
    }
    &.pwidth-lg-6 {
        .product-image { font-size: .9em; }
        .add-links { font-size: 1em; }
        li.product.hover,
        li.product:hover {
            .add_to_cart_read_more,
            .add_to_cart_button {
                text-indent: -9999em; width: 2.2em; padding: 0;
                &:before {
                    position: absolute;
                    left: 0;
                    right: 0;
                    text-indent: 0;
                    font-size: 1.1em;
                    @if $rtl == 1 {
                        margin-left: auto;
                    } @else {
                        margin-right: auto;
                    }
                }
            }
        }
    }

    &.pcols-lg-5 {
        margin: 0 -8px;
        li.product,
        li.product-category { width: 20%; padding: 0 8px; }
    }
    &.pwidth-lg-5 {
        .product-image { font-size: 1em; }
        .add-links { font-size: 1em; }
        li.product.hover,
        li.product:hover {
            .add_to_cart_read_more,
            .add_to_cart_button {
                text-indent: 0; width: auto; padding: 0 .7143em;
                &:before {
                    position: static;
                    font-size: 1em;
                    @if $rtl == 1 {
                        margin-left: .5714em;
                    } @else {
                        margin-right: .5714em;
                    }
                }
            }
        }
    }

    &.pcols-lg-4 {
        margin: 0 -10px;
        li.product,
        li.product-category { width: 25%; padding: 0 10px; }
    }
    &.pwidth-lg-4 {
        .product-image { font-size: 1em; }
        .add-links { font-size: 1em; }
        li.product.hover,
        li.product:hover {
            .add_to_cart_read_more,
            .add_to_cart_button {
                text-indent: 0; width: auto; padding: 0 .7143em;
                &:before {
                    position: static;
                    font-size: 1em;
                    @if $rtl == 1 {
                        margin-left: .5714em;
                    } @else {
                        margin-right: .5714em;
                    }
                }
            }
        }
    }

    &.pcols-lg-3 {
        margin: 0 -12px;
        li.product,
        li.product-category { width: 33.3333%; padding: 0 12px; }
    }
    &.pwidth-lg-3 {
        .product-image { font-size: 1.2em; }
        .add-links { font-size: 1em; }
        li.product.hover,
        li.product:hover {
            .add_to_cart_read_more,
            .add_to_cart_button {
                text-indent: 0; width: auto; padding: 0 .7143em;
                &:before {
                    position: static;
                    font-size: 1em;
                    @if $rtl == 1 {
                        margin-left: .5714em;
                    } @else {
                        margin-right: .5714em;
                    }
                }
            }
        }
    }

    &.pcols-lg-2 {
        margin: 0 -15px;
        li.product,
        li.product-category { width: 50%; padding: 0 15px; }
    }
    &.pwidth-lg-2 {
        .product-image { font-size: 1.5em; }
        .add-links { font-size: 1em; }
        li.product.hover,
        li.product:hover {
            .add_to_cart_read_more,
            .add_to_cart_button {
                text-indent: 0; width: auto; padding: 0 .7143em;
                &:before {
                    position: static;
                    font-size: 1em;
                    @if $rtl == 1 {
                        margin-left: .5714em;
                    } @else {
                        margin-right: .5714em;
                    }
                }
            }
        }
    }

    @media #{$screen-large} {
        &.pcols-md-6 {
            margin: 0 -3px;
            li.product,
            li.product-category { width: 16.6667%; padding: 0 3px; }
        }
        &.pwidth-md-6 {
            .product-image { font-size: .8em; }
            .add-links { font-size: .85em; }
            li.product.hover,
            li.product:hover {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: -9999em; width: 2.2em; padding: 0;
                    &:before {
                        position: absolute;
                        left: 0;
                        right: 0;
                        text-indent: 0;
                        font-size: 1.1em;
                        @if $rtl == 1 {
                            margin-left: auto;
                        } @else {
                            margin-right: auto;
                        }
                    }
                }
            }
        }

        &.pcols-md-5 {
            margin: 0 -6px;
            li.product,
            li.product-category { width: 20%; padding: 0 6px; }
        }
        &.pwidth-md-5 {
            .product-image { font-size: .9em; }
            .add-links { font-size: .95em; }
            li.product.hover,
            li.product:hover {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: -9999em; width: 2.2em; padding: 0;
                    &:before {
                        position: absolute;
                        left: 0;
                        right: 0;
                        text-indent: 0;
                        font-size: 1.1em;
                        @if $rtl == 1 {
                            margin-left: auto;
                        } @else {
                            margin-right: auto;
                        }
                    }
                }
            }
        }

        &.pcols-md-4 {
            margin: 0 -8px;
            li.product,
            li.product-category { width: 25%; padding: 0 8px; }
        }
        &.pwidth-md-4 {
            .product-image { font-size: 1em; }
            .add-links { font-size: 1em; }
            li.product.hover,
            li.product:hover {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: 0; width: auto; padding: 0 .7143em;
                    &:before {
                        position: static;
                        font-size: 1em;
                        @if $rtl == 1 {
                            margin-left: .5714em;
                        } @else {
                            margin-right: .5714em;
                        }
                    }
                }
            }
        }

        &.pcols-md-3 {
            margin: 0 -10px;
            li.product,
            li.product-category { width: 33.3333%; padding: 0 10px; }
        }
        &.pwidth-md-3 {
            .product-image { font-size: 1.15em; }
            .add-links { font-size: 1em; }
            li.product.hover,
            li.product:hover {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: 0; width: auto; padding: 0 .7143em;
                    &:before {
                        position: static;
                        font-size: 1em;
                        @if $rtl == 1 {
                            margin-left: .5714em;
                        } @else {
                            margin-right: .5714em;
                        }
                    }
                }
            }
        }

        &.pcols-md-2 {
            margin: 0 -12px;
            li.product,
            li.product-category { width: 50%; padding: 0 12px; }
        }
        &.pwidth-md-2 {
            .product-image { font-size: 1.4em; }
            .add-links { font-size: 1em; }
            li.product.hover,
            li.product:hover {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: 0; width: auto; padding: 0 .7143em;
                    &:before {
                        position: static;
                        font-size: 1em;
                        @if $rtl == 1 {
                            margin-left: .5714em;
                        } @else {
                            margin-right: .5714em;
                        }
                    }
                }
            }
        }
    }
}

.column2 ul {
    &.pcols-lg-6 {
        margin: 0 -3px;
        li.product,
        li.product-category { width: 16.6667%; padding: 0 3px; }
    }
    &.pwidth-lg-6 {
        .product-image { font-size: .75em; }
        .add-links { font-size: .8em; }
        li.product.hover,
        li.product:hover {
            .add_to_cart_read_more,
            .add_to_cart_button {
                text-indent: -9999em; width: 2.2em; padding: 0;
                &:before {
                    position: absolute;
                    left: 0;
                    right: 0;
                    text-indent: 0;
                    font-size: 1.1em;
                    @if $rtl == 1 {
                        margin-left: auto;
                    } @else {
                        margin-right: auto;
                    }
                }
            }
        }
    }

    &.pcols-lg-5 {
        margin: 0 -5px;
        li.product,
        li.product-category { width: 20%; padding: 0 5px; }
    }
    &.pwidth-lg-5 {
        .product-image { font-size: .8em; }
        .add-links { font-size: .9em; }
        li.product.hover,
        li.product:hover {
            .add_to_cart_read_more,
            .add_to_cart_button {
                text-indent: -9999em; width: 2.2em; padding: 0;
                &:before {
                    position: absolute;
                    left: 0;
                    right: 0;
                    text-indent: 0;
                    font-size: 1.1em;
                    @if $rtl == 1 {
                        margin-left: auto;
                    } @else {
                        margin-right: auto;
                    }
                }
            }
        }
    }

    &.pcols-lg-4 {
        margin: 0 -7px;
        li.product,
        li.product-category { width: 25%; padding: 0 7px; }
    }
    &.pwidth-lg-4 {
        .product-image { font-size: .9em; }
        .add-links { font-size: .95em; }
        li.product.hover,
        li.product:hover {
            .add_to_cart_read_more,
            .add_to_cart_button {
                text-indent: 0; width: auto; padding: 0 .7143em;
                &:before {
                    position: static;
                    font-size: 1em;
                    @if $rtl == 1 {
                        margin-left: .5714em;
                    } @else {
                        margin-right: .5714em;
                    }
                }
            }
        }
    }

    &.pcols-lg-3 {
        margin: 0 -9px;
        li.product,
        li.product-category { width: 33.3333%; padding: 0 9px; }
    }
    &.pwidth-lg-3 {
        .product-image { font-size: 1em; }
        .add-links { font-size: 1em; }
        li.product.hover,
        li.product:hover {
            .add_to_cart_read_more,
            .add_to_cart_button {
                text-indent: 0; width: auto; padding: 0 .7143em;
                &:before {
                    position: static;
                    font-size: 1em;
                    @if $rtl == 1 {
                        margin-left: .5714em;
                    } @else {
                        margin-right: .5714em;
                    }
                }
            }
        }
    }

    &.pcols-lg-2 {
        margin: 0 -12px;
        li.product,
        li.product-category { width: 50%; padding: 0 12px; }
    }
    &.pwidth-lg-2 {
        .product-image { font-size: 1.2em; }
        .add-links { font-size: 1em; }
        li.product.hover,
        li.product:hover {
            .add_to_cart_read_more,
            .add_to_cart_button {
                text-indent: 0; width: auto; padding: 0 .7143em;
                &:before {
                    position: static;
                    font-size: 1em;
                    @if $rtl == 1 {
                        margin-left: .5714em;
                    } @else {
                        margin-right: .5714em;
                    }
                }
            }
        }
    }

    @media #{$screen-large} {
        &.pcols-md-5 {
            margin: 0 -3px;
            li.product,
            li.product-category { width: 20%; padding: 0 3px; }
        }
        &.pwidth-md-5 {
            .product-image { font-size: .75em; }
            .add-links { font-size: .8em; }
            li.product.hover,
            li.product:hover {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: -9999em; width: 2.2em; padding: 0;
                    &:before {
                        position: absolute;
                        left: 0;
                        right: 0;
                        text-indent: 0;
                        font-size: 1.1em;
                        @if $rtl == 1 {
                            margin-left: auto;
                        } @else {
                            margin-right: auto;
                        }
                    }
                }
            }
        }
        &.pcols-md-4 {
            margin: 0 -5px;
            li.product,
            li.product-category { width: 25%; padding: 0 5px; }
        }
        &.pwidth-md-4 {
            .product-image { font-size: .8em; }
            .add-links { font-size: .9em; }
            li.product.hover,
            li.product:hover {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: -9999em; width: 2.2em; padding: 0;
                    &:before {
                        position: absolute;
                        left: 0;
                        right: 0;
                        text-indent: 0;
                        font-size: 1.1em;
                        @if $rtl == 1 {
                            margin-left: auto;
                        } @else {
                            margin-right: auto;
                        }
                    }
                }
            }
        }

        &.pcols-md-3 {
            margin: 0 -7px;
            li.product,
            li.product-category { width: 33.3333%; padding: 0 7px; }
        }
        &.pwidth-md-3 {
            .product-image { font-size: .9em; }
            .add-links { font-size: 1em; }
            li.product.hover,
            li.product:hover {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: 0; width: auto; padding: 0 .7143em;
                    &:before {
                        position: static;
                        font-size: 1em;
                        @if $rtl == 1 {
                            margin-left: .5714em;
                        } @else {
                            margin-right: .5714em;
                        }
                    }
                }
            }
        }

        &.pcols-md-2 {
            margin: 0 -10px;
            li.product,
            li.product-category { width: 50%; padding: 0 10px; }
        }
        &.pwidth-md-2 {
            .product-image { font-size: 1.1em; }
            .add-links { font-size: 1em; }
            li.product.hover,
            li.product:hover {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: 0; width: auto; padding: 0 .7143em;
                    &:before {
                        position: static;
                        font-size: 1em;
                        @if $rtl == 1 {
                            margin-left: .5714em;
                        } @else {
                            margin-right: .5714em;
                        }
                    }
                }
            }
        }
    }
}

ul,
.column2 ul {
    @media #{$screen-medium} {
        &.pcols-xs-3 {
            margin: 0 -3px;
            li.product,
            li.product-category { width: 33.3333%; padding: 0 3px; }
        }
        &.pwidth-xs-3 {
            .product-image { font-size: .85em; }
            .add-links { font-size: .85em; }
            li.product.hover,
            li.product:hover {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: -9999em; width: 2.2em; padding: 0;
                    &:before {
                        position: absolute;
                        left: 0;
                        right: 0;
                        text-indent: 0;
                        font-size: 1.1em;
                        @if $rtl == 1 {
                            margin-left: auto;
                        } @else {
                            margin-right: auto;
                        }
                    }
                }
            }
        }

        &.pcols-xs-2 {
            margin: 0 -6px;
            li.product,
            li.product-category { width: 50%; padding: 0 6px; }
        }
        &.pwidth-xs-2 {
            .product-image { font-size: 1em; }
            .add-links { font-size: 1em; }
            li.product.hover,
            li.product:hover {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: 0; width: auto; padding: 0 .7143em;
                    &:before {
                        position: static;
                        font-size: 1em;
                        @if $rtl == 1 {
                            margin-left: .5714em;
                        } @else {
                            margin-right: .5714em;
                        }
                    }
                }
            }
        }

        &.pcols-xs-1 {
            margin: 0;
            li.product,
            li.product-category { width: 100%; padding: 0; }
        }
        &.pwidth-xs-1 {
            .product-image { font-size: 1.2em; }
            .add-links { font-size: 1em; }
            li.product.hover,
            li.product:hover {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: 0; width: auto; padding: 0 .7143em;
                    &:before {
                        position: static;
                        font-size: 1em;
                        @if $rtl == 1 {
                            margin-left: .5714em;
                        } @else {
                            margin-right: .5714em;
                        }
                    }
                }
            }
        }
    }

    @media #{$screen-small} {
        &.pcols-ls-2 {
            margin: 0 -3px;
            li.product,
            li.product-category { width: 50%; padding: 0 3px; }
        }
        &.pwidth-ls-2 {
            .product-image { font-size: .8em; }
            .add-links { font-size: .85em; }
            li.product.hover,
            li.product:hover {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: -9999em; width: 2.2em; padding: 0;
                    &:before {
                        position: absolute;
                        left: 0;
                        right: 0;
                        text-indent: 0;
                        font-size: 1.1em;
                        @if $rtl == 1 {
                            margin-left: auto;
                        } @else {
                            margin-right: auto;
                        }
                    }
                }
            }
        }

        &.pcols-ls-1 {
            margin: 0;
            li.product,
            li.product-category { width: 100%; padding: 0; }
        }
        &.pwidth-ls-1 {
            .product-image { font-size: 1.1em; }
            .add-links { font-size: 1em; }
            li.product.hover,
            li.product:hover {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: 0; width: auto; padding: 0 .7143em;
                    &:before {
                        position: static;
                        font-size: 1em;
                        @if $rtl == 1 {
                            margin-left: .5714em;
                        } @else {
                            margin-right: .5714em;
                        }
                    }
                }
            }
        }
    }
}

ul,
.column2 ul {
    li.pcols-lg-first {
        clear: both;
    }
    @media #{$screen-large} {
        li.pcols-lg-first {
            clear: none;
        }
        li.pcols-md-first {
            clear: both;
        }
    }
    @media #{$screen-medium} {
        li.pcols-md-first {
            clear: none;
        }
        li.pcols-xs-first {
            clear: both;
        }
    }
    @media #{$screen-small} {
        li.pcols-xs-first {
            clear: none;
        }
        li.pcols-ls-first {
            clear: both;
        }
    }
}

ul.list,
.column2 ul.list {
    margin: 0;

    li.product {
        width: 100%;
        padding: 0;
        margin-bottom: 2.1429em;
        @if $rtl == 1 {
            text-align: right;
        } @else {
            text-align: left;
        }

        .description {
            display: block;
        }

        .product-image {
            @if $rtl == 1 {
                float: right;
                padding-right: $product-image-padding !important;
            } @else {
                float: left;
                padding-left: $product-image-padding !important;
            }
            margin-bottom: 0;
        }

        h3 {
            font-size: 1.2857em;
            font-weight: $font-weight-semibold;
            margin-top: .3em;
        }

        .rating-wrap {
            font-size: 1em;
            display: block;
            margin-bottom: 2em;

            .rating-before {
                display: none;
            }

            .rating-after {
                width: 100%;
                @if $rtl == 1 {
                    padding-right: .6em;
                } @else {
                    padding-left: .6em;
                }
            }

            .star-rating {
                @if $rtl == 1 {
                    margin-right: 0;
                } @else {
                    margin-left: 0;
                }
            }

            .star-rating,
            .star-rating span {
                width: 5.4em;
                &:before {
                    @if $rtl == 1 {
                        right: 0em;
                    } @else {
                        left: 0em;
                    }
                }
            }
        }

        .price {
            margin-top: 0;
        }

        .add-links {
            display: inline;
            .yith-wcwl-add-to-wishlist > div,
            .quickview {
                position: relative;
                @if $rtl == 1 {
                    right: 0 !important;
                } @else {
                    left: 0 !important;
                }
                @include opacity(1);
                visibility: visible;
            }
        }

        .add_to_cart_button,
        .add_to_cart_read_more {
            @if $rtl == 1 {
                margin-left: .8em;
            } @else {
                margin-right: .8em;
            }
            color: #fff;
        }

        .yith-wcwl-add-to-wishlist {
            display: inline-block;
            @if $rtl == 1 {
                margin-left: .2143em;
            } @else {
                margin-right: .2143em;
            }
        }
    }

    .add-links { font-size: 1em; }
    li.product.hover,
    li.product:hover {
        .add_to_cart_read_more,
        .add_to_cart_button {
            text-indent: 0; width: auto; padding: 0 .7143em;
            &:before {
                position: static;
                font-size: 1em;
                @if $rtl == 1 {
                    margin-left: .5714em;
                } @else {
                    margin-right: .5714em;
                }
            }
        }
    }
}

ul.list {
    &.pcols-lg-8 {
        li.product {
            > * {
                @if $rtl == 1 {
                    padding-right: 14%;
                } @else {
                    padding-left: 14%;
                }
            }
            .product-image { width: 12.5%; font-size: .75em; }
        }
    }

    &.pcols-lg-7 {
        li.product {
            > * {
                @if $rtl == 1 {
                    padding-right: 16%;
                } @else {
                    padding-left: 16%;
                }
            }
            .product-image { width: 14.5%; font-size: .8em; }
        }
    }

    &.pcols-lg-6 {
        li.product {
            > * {
                @if $rtl == 1 {
                    padding-right: 18.5%;
                } @else {
                    padding-left: 18.5%;
                }
            }
            .product-image { width: 17%; font-size: .85em; }
        }
    }

    &.pcols-lg-5,
    &.pcols-lg-4,
    &.pcols-lg-3,
    &.pcols-lg-2 {
        li.product {
            > * {
                @if $rtl == 1 {
                    padding-right: 21.5%;
                } @else {
                    padding-left: 21.5%;
                }
            }
            .product-image { width: 20%; font-size: 1em; }
        }
    }

    @media #{$screen-large} {
        &.pcols-md-6 {
            li.product {
                > * {
                    @if $rtl == 1 {
                        padding-right: 18.8%;
                    } @else {
                        padding-left: 18.8%;
                    }
                }
                .product-image { width: 17%; font-size: .75em; }
            }
        }

        &.pcols-md-5 {
            li.product {
                > * {
                    @if $rtl == 1 {
                        padding-right: 21.8%;
                    } @else {
                        padding-left: 21.8%;
                    }
                }
                .product-image { width: 20%; font-size: .8em; }
            }
        }

        &.pcols-md-4,
        &.pcols-md-3,
        &.pcols-md-2 {
            li.product {
                > * {
                    @if $rtl == 1 {
                        padding-right: 24.3%;
                    } @else {
                        padding-left: 24.3%;
                    }
                }
                .product-image { width: 22.5%; font-size: .9em; }
            }
        }
    }
}

.column2 ul.list {
    &.pcols-lg-6 {
        li.product {
            > * {
                @if $rtl == 1 {
                    padding-right: 18.5%;
                } @else {
                    padding-left: 18.5%;
                }
            }
            .product-image { width: 17%; font-size: .8em; }
        }
    }

    &.pcols-lg-5,
    &.pcols-lg-4,
    &.pcols-lg-3,
    &.pcols-lg-2 {
        li.product {
            > * {
                @if $rtl == 1 {
                    padding-right: 21.5%;
                } @else {
                    padding-left: 21.5%;
                }
            }
            .product-image { width: 20%; font-size: .9em; }
        }
    }

    @media #{$screen-large} {
        &.pcols-md-6,
        &.pcols-md-5 {
            li.product {
                > * {
                    @if $rtl == 1 {
                        padding-right: 21.8%;
                    } @else {
                        padding-left: 21.8%;
                    }
                }
                .product-image { width: 20%; font-size: .8em; }
            }
        }

        &.pcols-md-4,
        &.pcols-md-3,
        &.pcols-md-2 {
            li.product {
                > * {
                    @if $rtl == 1 {
                        padding-right: 24.3%;
                    } @else {
                        padding-left: 24.3%;
                    }
                }
                .product-image { width: 22.5%; font-size: .8em; }
            }
        }
    }
}

ul.list,
.column2 ul.list {
    @media #{$screen-medium} {
        &.pcols-xs-3,
        &.pcols-xs-2,
        &.pcols-xs-1 {
            li.product {
                > * {
                    @if $rtl == 1 {
                        padding-right: 0;
                    } @else {
                        padding-left: 0%;
                    }
                }
                .rating-after { display: none; }
                .product-image {
                    width: 30%;
                    @if $rtl == 1 {
                        margin-left: 18px;
                    } @else {
                        margin-right: 18px;
                    }
                    font-size: .8em;
                }
            }
        }
    }

    @media #{$screen-small} {
        &.pcols-ls-2,
        &.pcols-ls-1 {
            li.product {
                .product-image {
                    width: 40%;
                    @if $rtl == 1 {
                        margin-left: 15px;
                    } @else {
                        margin-right: 15px;
                    }
                    font-size: .75em;
                }
            }
        }
    }
}

ul.products.list,
.column2 ul.products.list {
    li.product-category {
        img {
            width: 100%;
            font-size: 1em;
        }
    }
}

ul.products,
.column2 ul.products {
    li.product-category {
        .thumbnail {
            min-height: 90px;
            margin-bottom: 0;
            @if $rtl == 1 {
                text-align: right;
            } @else {
                text-align: left;
            }

            img {
                width: 100%;
                height: auto;
                margin: 0;
            }

            h3 {
                font-weight: inherit;
                font-size: 1em;
                font-weight: inherit;
                color: inherit;
                line-height: inherit;
                margin: 0;
                padding: 0;
                text-transform: uppercase;
            }

            mark {
                padding: 0;
                background: transparent;
                color: inherit;
            }
        }
    }
}

.porto-products.hide-count {
    ul.products {
        li.product-category {
            .thumb-info-wrap {
                bottom: 10%;
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;

                .thumb-info-title {
                    position: static;
                    display: inline-block;
                }

                h3 {
                    line-height: 1;
                }
            }
            .thumb-info-type {
                display: none;
            }
        }
    }
}

ul.products.products-slider,
.column2 ul.products.products-slider {
    li.product,
    li.product-category {
        width: 100%;
    }
}

ul.products {
    &.product_list_widget {
        .product {
            float: none;
            @if $rtl == 1 {
                text-align: right;
                padding-right: 0;
            } @else {
                text-align: left;
                padding-left: 0;
            }

            .product-image {
                @if $rtl == 1 {
                    margin-right: 0;
                    margin-left: 15px;
                } @else {
                    margin-left: 0;
                    margin-right: 15px;
                }
            }

            .rating-wrap {
                display: block;
                margin: -10px 0 6px;
                height: auto;

                .star-rating {
                    width: 5.4em;
                }
            }
        }

        .add-links {
            font-size: .8571em;
            .add_to_cart_button,
            .add_to_cart_read_more {
                text-indent: 0 !important;
                &:before {
                    display: none;
                }
            }

            .tooltip {
                display: none !important;
            }
        }

        .labels,
        .description,
        .yith-wcwl-add-to-wishlist,
        .add-links .quickview {
            display: none;
        }

        .rating-wrap {
            .rating-before,
            .rating-after {
                display: none !important;
            }

            .star-rating {
                @if $rtl == 1 {
                    margin-right: 0 !important;
                } @else {
                    margin-left: 0 !important;
                }
                font-size: 1em;

                &:before,
                span:before {
                    @if $rtl == 1 {
                        right: 0 !important;
                    } @else {
                        left: 0 !important;
                    }
                }
            }
        }
        .add-links-wrap {
            display: block !important;
        }
        .links-on-image {
            .add-links-wrap {
                display: none !important;
            }
        }
    }
}

.yith-wcan-loading {
    height: 200px;
}

