
.checkout_coupon {
    .form-row {
        display: inline-block;
        float: none;
        width: auto;
    }
}

form.checkout {
    margin-top: 30px;
}

.form-row.terms {
    position: relative;
    margin-top: 15px;
    .input-checkbox {
        position: absolute;
        @if $rtl == 1 {
            right: 0;
        } @else {
            left: 0;
        }
        top: 2px;
    }
    label.checkbox {
        @if $rtl == 1 {
            margin-right: 20px;
        } @else {
            margin-left: 20px;
        }
        display: block;
    }
}

.payment_methods {
    margin: 30px 0;
    padding: 0;
    list-style: none;

    .payment_method_paypal {
        .about_paypal {
            display: inline-block;
            @if $rtl == 1 {
                margin-right: 10px;
            } @else {
                margin-left: 10px;
            }
        }
        @media #{$screen-medium} {
            .input-radio {
                vertical-align: top;
            }
            img,
            .about_paypal {
                display: block;
                margin: 0;
            }
        }
        @media #{$screen-small} {
            img {
                width: 190px;
            }
        }

        @media (max-width: 319px) {
            img {
                width: 150px;
            }
        }
    }

}

