
.product-image {
    display: block;
    position: relative;
    @if $dark == 1 {
        background: $color-dark-3;
        border: $product-image-border-width solid $color-dark-3;
    } @else {
        background: #fff;
        border: $product-image-border-width solid #ddd;
    }
    border-radius: $border-thick;
    width: 100%;
    padding: $product-image-padding;

    &:hover {
        z-index: 1;
    }

    .inner {
        //border-radius: $border-normal;
        overflow: hidden;
        position: relative;
        //@include radial-gradient(#fff, #eee);
    }

    img {
        border-radius: $border-normal;
        display: inline-block;
        width: 100%;
        height: auto;
        @include transition($image-transition);
    }

    .labels {
        line-height: 1;
        color: $color-white;
        font-weight: $font-weight-semibold;
        text-transform: uppercase;

        .onhot,
        .onsale {
            position: absolute;
            z-index: 1;
            top: .8em;
            border-radius: $border-base;
            font-size: .8571em;
            padding: .5833em .6333em;
        }

        .onhot {
            background: $hot-bg;
            @if $rtl == 1 {
                right: .8em;
            } @else {
                left: .8em;
            }
        }

        .onsale {
            background: $sale-bg;
            @if $rtl == 1 {
                left: .8em;
            } @else {
                right: .8em;
            }
        }

        .viewcart {
            font-size: 1.8em;
            @if $dark == 1 {
                background: $color-dark-3;
            } @else {
                background: #fff;
            }
            border-radius: 50%;
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
            margin: auto;
            z-index: 1;
            text-align: center;
            width: 2.2em;
            height: 2.2em;
            line-height: 2.1em;
            display: none;
            @include opacity(0);
            @include transition($transition);

            &:before {
                font-family: "minicart-font" !important;
                font-style: normal !important;
                font-weight: normal !important;
                font-variant: normal !important;
                text-transform: none !important;
                speak: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: "\e800";
                font-size: .9em;
                vertical-align: top;
            }

            &:hover {
                color: #fff;
            }
        }

        .tooltip {
            font-weight: normal;
            text-transform: none;
            white-space: nowrap;
            z-index: 100;
        }
    }

    .stock {
        position: absolute;
        z-index: 1;
        @if $dark == 1 {
            background: $color-dark-3;
            background: rgba(0, 0, 0, .9);
        } @else {
            background: #fff;
            background: rgba(255, 255, 255, .9);
        }
        color: #000;
        top: 0; bottom: 0; left: 0; right: 0;
        width: 10em;
        height: 3em; line-height: 3em;
        margin: auto;
        font-weight: $font-weight-semibold;
        text-transform: uppercase;
        text-align: center;
        //@include opacity(0);
        @include transition($transition);
    }

    &:hover {
        .stock {
            //bottom: 0;
            //@include opacity(1);
        }
    }
}