
/* Woocommerce alert */
.woocommerce-error {
    @if $rtl == 1 {
        padding-right: 20px;
    } @else {
        padding-left: 20px;
    }
}
.woocommerce-message {
    .wc-forward {
        @if $rtl == 1 {
            margin-left: 10px;
        } @else {
            margin-right: 10px;
        }
    }
}

/* Shop Table */
.shop_table {
    border-collapse: separate;
    border-spacing: 0;
    @if $dark == 1 {
        border: 1px solid $color-dark-3;
    } @else {
        border: 1px solid #dcdcdc;
    }
    border-radius: $border-normal;
    width: 100%;
    box-shadow: $table-box-shadow;

    th,
    td {
        @if $rtl == 1 {
            text-align: right;
        } @else {
            text-align: left;
        }
        padding: 10px;
    }

    td,
    tbody th,
    tfoot th {
        @if $dark == 1 {
            @if $rtl == 1 {
                border-right: 1px solid $color-dark-3;
            } @else {
                border-left: 1px solid $color-dark-3;
            }
            border-top: 1px solid $color-dark-3;
        } @else {
            @if $rtl == 1 {
                border-right: 1px solid #dcdcdc;
            } @else {
                border-left: 1px solid #dcdcdc;
            }
            border-top: 1px solid #ddd;
        }

        &:first-child {
            @if $rtl == 1 {
                border-right: none;
            } @else {
                border-left: none;
            }
        }
    }

    th {
        @if $dark == 1 {
            background: $color-dark-3;
        } @else {
            background: #f6f6f6;
        }
    }

    td.actions {
        padding: 20px 10px;
    }

    thead  {
        tr:first-child {
            th,
            td {
                &:first-child {
                    @if $rtl == 1 {
                        border-radius: 0 $border-normal 0 0;
                    } @else {
                        border-radius: $border-normal 0 0 0;
                    }
                }

                &:last-child {
                    @if $rtl == 1 {
                        border-radius: $border-normal 0 0 0;
                    } @else {
                        border-radius: 0 $border-normal 0 0;
                    }
                }

                &:only-child {
                    border-radius: $border-normal $border-normal 0 0;
                }
            }
        }
    }

    tfoot {
        tr:last-child {
            th,
            td {
                &:first-child {
                    @if $rtl == 1 {
                        border-radius: 0 0 $border-normal 0;
                    } @else {
                        border-radius: 0 0 0 $border-normal;
                    }
                }

                &:last-child {
                    @if $rtl == 1 {
                        border-radius: 0 0 0 $border-normal;
                    } @else {
                        border-radius: 0 0 $border-normal 0;
                    }
                }

                &:only-child {
                    border-radius: 0 0 $border-normal $border-normal;
                }
            }
        }
    }

    &.responsive {
        @media #{$screen-medium} {

            thead {
                display: none;
            }
            tr {
                @if $dark == 1 {
                    border-top: 1px solid $color-dark-3;
                } @else {
                    border-top: 1px solid #ddd;
                }
                display: block;
                padding: 10px 0;
                position: relative;
                &:first-child {
                    border-top: none;
                }
            }
            tfoot {
                tr:first-child {
                    @if $dark == 1 {
                        border-top: 1px solid $color-dark-3;
                    } @else {
                        border-top: 1px solid #ddd;
                    }
                }
                th {
                    border: none;
                }
            }
            td,
            th {
                background: transparent;
                text-align: center;
                display: block;
                padding: 5px 10px;
                border: none;

                &.product-remove {
                    position: absolute;
                    @if $rtl == 1 {
                        left: 0;
                    } @else {
                        right: 0;
                    }
                    top: 12px;
                }
                &.product-thumbnail {
                    padding-top: 10px;
                }
            }

        }
    }

    .featured-box & {
        box-shadow: none;
        border: none;

        th {
            background: transparent;
            border-bottom: none;

            &:first-child,
            &:last-child,
            &:only-child {
                border-radius: 0;
            }
        }

        td {
            @if $rtl == 1 {
                border-right: none;
            } @else {
                border-left: none;
            }
        }

        tr {
            &:last-child {
                td {
                    &:first-child,
                    &:last-child,
                    &:only-child {
                        border-radius: 0;
                    }
                }
            }
        }

        .product-remove {
            .remove {
                font-size: 30px;
                font-weight: 800;
                text-decoration: none;
            }
        }

        .quantity {
            margin: 0;
            width: auto;

            input.qty {
                border-radius: 0;
                @if $dark == 1 {
                    border-color: transparent;
                } @else {
                    border-color: #c8bfc6;
                }
                width: 57px;
                height: 35px;
                padding: 0 4px;
            }

            &.buttons_added {
                input.qty {
                    width: 129px;
                    padding: 0 39px;
                }
            }

            .minus,
            .plus {
                @if $dark == 1 {
                    background: $color-dark-2;
                    border-color: transparent;
                } @else {
                    background-color: #f4f4f4;
                    border-color: #c8bfc6;
                }
                width: 35px;
                height: 35px;
            }

            .minus {
                @if $rtl == 1 {
                    right: 0;
                } @else {
                    left: 0;
                }
                top: 0;
            }

            .plus {
                @if $rtl == 1 {
                    right: 94px;
                } @else {
                    left: 94px;
                }
                top: 0;
            }
        }

        .coupon {
            margin-top: 16px;
            width: 50%;
            label {
                display: none;
            }
            #coupon_code {
                max-width: 280px;
            }
        }

        .actions {
            margin-top: 8px;
            padding-bottom: 10px;
            input {
                margin-bottom: 15px;
            }
        }

        @media #{$screen-normal} {
            .coupon {
                width: 100%;
            }
            .pt-left,
            .pt-right {
                float: none !important;
                text-align: center;
            }
        }
    }
}

/* Layout */
.col2-set {
    @include clearfix;
    margin: 0 (-($grid-gutter-width / 2));

    .col-1 {
        @if $rtl == 1 {
            float: right;
        } @else {
            float: left;
        }
        width: 50%;
        padding: 0 ($grid-gutter-width / 2);
    }

    .col-2 {
        @if $rtl == 1 {
            float: left;
        } @else {
            float: right;
        }
        width: 50%;
        padding: 0 ($grid-gutter-width / 2);
    }

    @media #{$screen-normal} {
        .col-1,
        .col-2 {
            float: none;
            width: 100%;
        }
    }
}

.chosen-container-single .chosen-single,
.woocommerce-checkout .form-row .chosen-container-single .chosen-single {
    background-image: none;
    @if $dark == 1 {
        background: $color-dark-3;
        border-color: $color-dark-3;
    } @else {
        background: #fff;
        border-color: #ccc;
    }
    border-radius: $border-thin;
    height: 34px;
    line-height: 28px;
    padding: 3px 8px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    @if $dark == 1 {
        border-color: $color-dark-3;
    } @else {
        border-color: #ccc;
    }
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.chosen-container-single .chosen-single div b,
.woocommerce-checkout .form-row .chosen-container-single .chosen-single div b {
    background-position: 0 7px !important;
}

.chosen-container-active.chosen-with-drop .chosen-single div b,
.woocommerce-checkout .form-row .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 7px !important;
}

.select2-container .select2-choice {
    background-image: none;
    @if $dark == 1 {
        background: $color-dark-3;
        border-color: $color-dark-3;
    } @else {
        background: #fff;
        border-color: #ccc;
    }
    border-radius: $border-thin;
    height: 34px;
    line-height: 28px;
    padding: 3px 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.select2-container-active .select2-choice {
    @if $dark == 1 {
        border-color: $color-dark-3;
    } @else {
        border-color: #ccc;
    }
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.select2-container .select2-choice .select2-arrow b:after,
.select2-dropdown-open .select2-choice .select2-arrow b:after {
    @if $rtl == 1 {
        margin-right: -7px;
    }
}

.select2-drop,
.select2-drop-active {
    @if $dark == 1 {
        background: $color-dark-3;
        border-color: $color-dark-3;

        input {
            background: $color-dark-2;
        }
    } @else {
        border-color: #ccc;
    }
    margin-top: -2px;

    .select2-search {
        padding-top: 4px;
    }

    .select2-results {
        @if $dark == 1 {
            background: $color-dark-3;
        } @else {
            background: #fff;
        }
        font-size: .9em;

        li {
            line-height: 20px;
        }

        .select2-highlighted {
            @if $dark == 1 {
                background: $color-dark-2;
            } @else {

            }
        }
    }
}

.form-row {
    margin-bottom: 15px;
    vertical-align: top;
    label {
        display: block;

        &.checkbox {
            display: inline-block;
        }

        &.inline {
            display: inline;
        }
    }
    .required {
        border: none;
        cursor: default;
        color: #c10000;
    }
    input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select, textarea {
        @if $dark == 1 {
            background: $color-dark-3;
        } @else {
            background: #fff;
        }
        width: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }
}

.form-row-wide {
    width: 100%;
}

.form-row-first {
    @if $rtl == 1 {
        float: right;
    } @else {
        float: left;
    }
    width: 48%;
    @media #{$screen-medium} {
        float: none;
        width: 100%;
    }
}
.form-row-last {
    @if $rtl == 1 {
        float: left;
    } @else {
        float: right;
    }
    width: 48%;
    @media #{$screen-medium} {
        float: none;
        width: 100%;
    }
}

/* Header Title */
header.title {
    position: relative;

    .edit {
        position: absolute;
        @if $rtl == 1 {
            left: 0;
        } @else {
            right: 0;
        }
        top: 0;
    }
}

.woocommerce-checkout {
    .woocommerce-info,
    .woocommerce-alert,
    .woocommerce-message {
        margin-top: 10px;
    }
}

form.global-login {
    .featured-box {
        margin-top: 0;
    }
    label.inline {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
    }
    #rememberme {
        @if $rtl == 1 {
            margin-right: 10px;
        } @else {
            margin-left: 10px;
        }
    }
}

.wcml-switcher {
    position: relative;
    h5 {
        cursor: pointer !important;
    }
    li.loading {
        @if $dark == 1 {
            background: $color-dark-3 url(../images/ajax-loader@2x.gif) no-repeat scroll center center / 1.1em 1.1em;
        } @else {
            background: #fff url(../images/ajax-loader@2x.gif) no-repeat scroll center center / 1.1em 1.1em;
        }
        display: inline-block !important;
        position: absolute !important;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include opacity(0.3);
        cursor: wait;
    }
}

p.demo_store {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    font-size: 1em;
    padding: 1em 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    z-index: 99998;
    box-shadow: 0 1px 1em rgba(0,0,0,0.2);
}

