
.price,
td.product-price,
td.product-subtotal,
td.product-total,
td.order-total,
tr.cart-subtotal {
    color: $color-price;
    line-height: 1;
    font-weight: $font-weight-semibold;
    font-size: 2.5714em;

    .price {
        font-size: 1em;
    }

    .currency,
    .decimal {
        font-size: .75em;
        font-weight: $font-weight-normal;
    }
    .currency {
        .decimal {
            font-size: 1em;
        }
    }

    .amount {
        vertical-align: middle;
    }

    ins {
        display: inline-block;
        text-decoration: none;
        vertical-align: baseline;
    }
    del,
    .from {
        display: inline-block;
        color: $color-old-price;
        font-size: .8em;
        @if $rtl == 1 {
            margin-left: .2143em;
        } @else {
            margin-right: .2143em;
        }
        vertical-align: baseline;
    }
}

td.product-price,
td.product-subtotal,
td.product-total,
td.order-total,
tr.cart-subtotal {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

