
.product_title {
    @if $dark == 1 {
        color: #fff;
    } @else {
        color: #555;
    }
    font-size: 2em;
    font-weight: $font-weight-semibold;
    margin-bottom: 0.3571em;
}
.woocommerce-product-rating {
    color: #bdbdbd;
    margin-bottom: 1.4286em;
    .star-rating {
        font-size: 1.2857em;
        display: inline-block;
        vertical-align: top;
        @if $rtl == 1 {
            margin-left: .7143em;
        } @else {
            margin-right: .7143em;
        }
    }
    .review-link {
        display: inline-block;
        a:first-child {
            @if $rtl == 1 {
                padding-right: 0;
            } @else {
                padding-left: 0;
            }
        }
    }
    a {
        color: #bdbdbd;
        display: inline-block;
        vertical-align: bottom;
        padding: 0 .7143em;

        &:hover,
        &:active {
            color: #888;
        }
    }
    &.noreview {
        a {
            padding: 0;
        }
    }
}
.product-summary-wrap {
    .summary-before,
    .summary {
        margin-bottom: 3em;
    }
    .summary {
        @if $rtl == 1 {
            margin-left: -($product-image-border-width + $image-slider-padding);
            padding-left: ($grid-gutter-width / 2) + ($product-image-border-width + $image-slider-padding);
        } @else {
            margin-right: -($product-image-border-width + $image-slider-padding);
            padding-right: ($grid-gutter-width / 2) + ($product-image-border-width + $image-slider-padding);
        }
    }
    .description {
        margin-bottom: 1.7857em;
        font-size: 1.1429em;
        p {
            margin-bottom: 0;
        }
    }
    .price {
        margin-bottom: .5556em;
    }
    .cart {
        @if $dark == 1 {
            border-top: 1px solid $color-dark-3;
            border-bottom: 1px solid $color-dark-3;
        } @else {
            border-top: 1px solid #ebebeb;
            border-bottom: 1px solid #ebebeb;
        }
        padding: 1.7857em 0;
        margin-bottom: 1.7857em;
    }
    .quantity {
        vertical-align: top;
    }
    .single_add_to_cart_button {
        height: 2.7143em;
        padding: 0 2.1429em;
        text-shadow: none;
        @media #{$screen-normal} {
            padding: 0 1.4286em;
        }
        @media #{$screen-small} {
            padding: 0 .7143em;
        }
        &:before {
            display: inline-block;
            content: $fa-var-shopping-cart;
            font-family: "FontAwesome";
            @if $rtl == 1 {
                margin-left: .7143em;
            } @else {
                margin-right: .7143em;
            }
        }
    }
    a.single_add_to_cart_button {
        line-height: 2.5714em;
    }
    .stock {
        font-size: 1.1429em;
        font-weight: 600;
    }
    .yith-wcwl-add-to-wishlist {
        @if $rtl == 1 {
            margin-left: 1em;
        } @else {
            margin-right: 1em;
        }
        margin-bottom: 1em;
        position: relative;
    }
    .yith-wcwl-add-to-wishlist {
        a {
            width: auto;
            text-indent: 0;
            overflow: visiable;
            @if $rtl == 1 {
                padding-right: 2.8em;
            } @else {
                padding-left: 2.8em;
            }
            border: none;
            background: transparent;
            color: inherit;
            border-radius: 0;

            &:before {
                border: 1px solid #ed4949;
                color: #ed4949;
                border-radius: $border-normal;
                width: 2em;
                top: 0;
                bottom: 0;
            }

            &:hover {
                color: #ed4949;

                &:before {
                    color: #fff;
                    background-color: #ed4949;
                }
            }
        }
    }
    /*.compare.button {
        width: auto;
        text-indent: 0;
        padding-left: 2.8em;
        margin-bottom: 1em;
        border: none;
        background: transparent;
        color: inherit;
        border-radius: 0;

        &:before {
            border: 1px solid #52b9b5;
            color: #52b9b5;
            border-radius: $border-normal;
            width: 2em;
            top: 0;
            bottom: 0;
        }

        &:hover {
            color: #52b9b5;

            &:before {
                color: #fff;
                background-color: #52b9b5;
            }
        }

        &.loading:after {
            width: 2.2em;
            border: 1px solid #52b9b5;
        }

        > * {
            width: 2.2em !important;
            right: auto;
            border: 1px solid #52b9b5 !important;
            border-radius: $border-normal;
        }
    }*/

    .product_meta {
        margin: 1.2143em 0 0;
        span {
            span,
            a {
                dispaly: inline-block;
            }
        }
    }
    .share-links {
        margin: 2.2143em 0 0;
    }
    .posted_in,
    .sku_wrapper,
    .tags {
        display: block;
        margin-bottom: .5em;
    }
    .share-links {
        margin-bottom: 1.0714em;
    }

    #product-tab {
        margin-bottom: 1.7857em;

        .description {
            margin-bottom: 0;
        }

        hr {
            display: none;
        }
    }
}

#product-tab {
    margin-bottom: 3em;
}

#reviews {
    .commentlist {
        li {
            position: relative;
            @if $rtl == 1 {
                padding-right: 115px;
            } @else {
                padding-left: 115px;
            }
            @media #{$screen-small} {
                @if $rtl == 1 {
                    padding-right: 0;
                } @else {
                    padding-left: 0;
                }
            }
            .img-thumbnail {
                position: absolute;
                @if $rtl == 1 {
                    right: 0;
                } @else {
                    left: 0;
                }
                top: 0;

                img {
                    max-width: 80px;
                    height: auto;
                }

                @media #{$screen-small} {
                    position: static;
                    @if $rtl == 1 {
                        float: right;
                        margin: 0 0 10px 12px;
                    } @else {
                        float: left;
                        margin: 0 12px 10px 0;
                    }

                    img {
                        max-width: 60px;
                    }
                }
            }
            .comment-text {
                min-height: 90px;

                &:before {
                    content: "";
                    border-bottom: 15px solid transparent;
                    @if $dark == 1 {
                        @if $rtl == 1 {
                            border-left: 15px solid $color-dark-3;
                        } @else {
                            border-right: 15px solid $color-dark-3;
                        }
                    } @else {
                        @if $rtl == 1 {
                            border-left: 15px solid #f5f7f7;
                        } @else {
                            border-right: 15px solid #f5f7f7;
                        }
                    }
                    @if $rtl == 1 {
                        right: -15px;
                    } @else {
                        left: -15px;
                    }
                    border-top: 15px solid transparent;
                    height: 0;
                    position: absolute;
                    top: 28px;
                    width: 0;

                    @media #{$screen-small} {
                        display: none;
                    }
                }
            }
            .star-rating {
                @if $rtl == 1 {
                    float: left;
                } @else {
                    float: right;
                }
                @media #{$screen-small} {
                    float: none;
                }
            }
        }
    }
}

div.products {
    margin-bottom: 3em;
}

.summary-before {
    @media #{$screen-medium} {
        max-width: 462px;
    }
    @if $rtl == 1 {
        margin-right: $product-image-border-width + $image-slider-padding;
    } @else {
        margin-left: $product-image-border-width + $image-slider-padding;
    }

    .labels {
        position: relative;
        line-height: 1;
        color: $color-white;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -($image-slider-padding * 2);
        margin-right: -($image-slider-padding * 2);

        .onhot,
        .onsale {
            position: absolute;
            z-index: 1;
            top: .8em;
            border-radius: $border-base;
            font-size: .8571em;
            padding: .5833em .6333em;
        }

        .onhot {
            background: $hot-bg;
            @if $rtl == 1 {
                right: .8em;
            } @else {
                left: .8em;
            }
        }

        .onsale {
            background: $sale-bg;
            @if $rtl == 1 {
                left: .8em;
            } @else {
                right: .8em;
            }
        }
    }

    .images {
        padding: 0 4px 1px;
        overflow: hidden;
    }

    .ms-container {
        @if $dark == 1 {
            background: $color-dark-3;
            border: $product-image-border-width solid $color-dark-3;
        } @else {
            background: #fff;
            border: $product-image-border-width solid #ddd;
        }
        border-radius: $border-thick;
        padding: $image-slider-padding;
        margin-top: 0;
        margin-bottom: 8px;
        margin-left: -($product-image-border-width + $image-slider-padding);
        margin-right: -($product-image-border-width + $image-slider-padding);
    }

    .ms-slide {
        @include transform-style(inherit);
        .ms-lightbox-btn {
            display: none;
        }
    }

    .ms-lightbox-btn {
        color: #fff;
        cursor: pointer;
        display: block;
        border-radius: 100%;
        position: absolute;
        bottom: 4px;
        @if $rtl == 1 {
            left: 4px;
        } @else {
            right: 4px;
        }
        line-height: 28px;
        width: 30px;
        height: 30px;
        text-align: center;
        text-decoration: none;
        @include opacity(0);
        @include transition($btn-transition);

        &:before {
            content: $fa-var-search;
            font-family: "FontAwesome";
        }
    }

    .ms-container:hover {
        .ms-lightbox-btn {
            @include opacity(1);
        }
    }

    .master-slider {
        &.hide-ms-nav {
            .ms-container {
                .ms-nav-next,
                .ms-nav-prev {
                    display: none;
                }
            }
        }
        .ms-container {
            .ms-nav-next,
            .ms-nav-prev {
                position: absolute;
                cursor: pointer;
                font-size: 1em;
                margin-top: -15px;
                width: 30px;
                height: 30px;
                z-index: 110;
                top: 50%;
                text-align: center;

                &:before {
                    font-family: "FontAwesome";
                    line-height: 30px;
                    font-size: 1.7143em;
                }
            }

            .ms-nav-prev {
                @if $rtl == 1 {
                    right: 0;
                    left: auto;
                } @else {
                    right: auto;
                    left: 0;
                }
                &:before {
                    @if $rtl == 1 {
                        content: $fa-var-chevron-right;
                    } @else {
                        content: $fa-var-chevron-left;
                    }
                }
            }

            .ms-nav-next {
                @if $rtl == 1 {
                    left: 0;
                    right: auto;
                } @else {
                    right: 0;
                    left: auto;
                }
                &:before {
                    @if $rtl == 1 {
                        content: $fa-var-chevron-left;
                    } @else {
                        content: $fa-var-chevron-right;
                    }
                }
            }
        }
    }

    .ms-thumb-list {
        position: relative;
        width: auto;
        margin-left: -(4px + $product-image-border-width + $image-slider-padding);
        margin-right: -(4px + $product-image-border-width + $image-slider-padding);
        &:hover {
            .ms-thumblist-fwd,
            .ms-thumblist-bwd {
                @include opacity(1);
            }
        }
    }

    .ms-thumb-frame {
        @if $dark == 1 {
            background: $color-dark-3;
            border: $product-image-border-width solid $color-dark-3;
        } @else {
            background: #fff;
            border: $product-image-border-width solid #ddd;
        }
        border-radius: $border-thick;
        padding: $product-image-border-width + $image-slider-padding;
        margin: 0 4px;

        &:last-child {
            @if $rtl == 1 {
                margin-left: 0;
            } @else {
                margin-right: 0;
            }
        }
    }

    .ms-thumblist-fwd,
    .ms-thumblist-bwd {
        position: absolute;
        cursor: pointer;
        margin-top: -10px;
        width: 20px;
        height: 20px;
        z-index: 110;
        top: 50%;
        text-align: center;
        @include opacity(0);
        @include transition(opacity 0.2s ease-in-out 0s);

        &:before {
            font-family: "FontAwesome";
            line-height: 20px;
            font-size: 1em;
        }
    }

    .ms-thumblist-fwd {
        @if $rtl == 1 {
            left: 5px;
        } @else {
            right: 5px;
        }
        &:before {
            @if $rtl == 1 {
                content: $fa-var-chevron-left;
            } @else {
                content: $fa-var-chevron-right;
            }
        }
    }

    .ms-thumblist-bwd {
        @if $rtl == 1 {
            right: 5px;
        } @else {
            left: 5px;
        }
        &:before {
            @if $rtl == 1 {
                content: $fa-var-chevron-right;
            } @else {
                content: $fa-var-chevron-left;
            }
        }
    }

}

.product-images {
    direction: ltr;
}

.variations {
    td > br {
        display: none;
    }
    .label {
        font-size: 1em;
        color: inherit;
        @if $rtl == 1 {
            text-align: right;
        } @else {
            text-align: left;
        }
    }
    .reset_variations {
        display: block;
        padding: 1em 0;
        text-decoration: none;
    }
    select {
        margin-top: -5px;
        margin-bottom: 15px;
    }
    tr:first-child {
        td {
            padding-top: 5px;

            label {
                padding-top: 10px;
            }
        }
    }
    tr:last-child {
        select {
            margin-bottom: 0;
        }
    }
}
.single_variation_wrap {
    .price {
        display: block;
    }
}

.wcml_currency_switcher {
    margin-bottom: 15px;
}