
div.quantity {
    display: inline-block;
    position: relative;
    width: 4.1429em;
    @if $rtl == 1 {
        margin-left: .8571em;
    } @else {
        margin-right: .8571em;
    }
    .qty {
        -moz-appearance: textfield;
        text-align: center;
        width: 2.5em;
        height: 2.7143em;
        padding-left: 0;
        padding-right: 0;
    }
    .minus,
    .plus {
        @if $dark == 1 {
            background: $color-dark-3;
        } @else {
            background: transparent;
        }
        position: absolute;
        @if $rtl == 1 {
            right: 2.8571em;
        } @else {
            left: 2.8571em;
        }
        width: 1.1428em;
        height: 1.1428em;
        line-height:  1;
        border: 1px solid $input-border-color;
        border-radius: $border-thin;
        padding: 0;
        outline: none;
    }
    .plus {
        top: 0;

    }
    .minus {
        bottom: 0;
    }
}
