
.star-rating {
    cursor: pointer;
    float: none;
    position: relative;
    font-family: 'Elusive-Icons';
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    overflow: hidden;
    position: relative;
    width: 5.4em;
    letter-spacing: .1em;
    @if $rtl == 1 {
        text-align: right;
    } @else {
        text-align: left;
    }

    &:before {
        @if $dark == 1 {
            color: $color-dark-3;
            color: rgba(255,255,255,0.13);
        } @else {
            color: #ddd;
            color: rgba(0,0,0,0.13);
        }
        content: $el-var-star$el-var-star$el-var-star$el-var-star$el-var-star;
        @if $rtl == 1 {
            float: right;
            right: 0;
        } @else {
            float: left;
            left: 0;
        }
        position: absolute;
        top: 0;
    }

    span {
        @if $rtl == 1 {
            float: right;
            right: 0;
        } @else {
            float: left;
            left: 0;
        }
        overflow: hidden;
        padding-top: 1.5em;
        position: absolute;
        top: 0;
        &:before {
            color: #ffc600;
            content: $el-var-star$el-var-star$el-var-star$el-var-star$el-var-star;
            @if $rtl == 1 {
                right: 0;
            } @else {
                left: 0;
            }
            position: absolute;
            top: 0;
        }
    }
}
