
.woocommerce-ordering,
.woocommerce-pagination,
.gridlist-toggle {
    font-size: .9286em;//.8571em
}

.gridlist-toggle {
    @if $rtl == 1 {
        float: right;
    } @else {
        float: left;
    }
    vertical-align: top;

    > a {
        @if $dark == 1 {
            background: $color-dark-3;
        } @else {

        }
        border: 1px solid $input-border-color;
        border-radius: $border-thin;
        color: $input-border-color;
        display: inline-block;
        font-family: "Elusive-Icons";
        width: 2.2em;
        height: 2.2em;
        line-height: 2.15em;
        @if $rtl == 1 {
            margin-left: 4px;
        } @else {
            margin-right: 4px;
        }
        text-decoration: none;
        text-align: center;
        @include transition($transition);

        &:before {
            font-size: 1.231em;
        }

        &:hover,
        &:focus,
        &.active {
            color: $color-arrow-hover;
        }
    }

    #grid:before { content: $el-var-th; }
    #list:before { content: $el-var-th-list; }
}

.woocommerce-ordering,
.woocommerce-viewing {
    select {
        @if $rtl == 1 {
            margin-right: 7px;
            padding: 0 .22em 0 0;
        } @else {
            margin-left: 7px;
            padding: 0 0 0 .22em;
        }
        height: 2.2em;
    }
}

.woocommerce-viewing {
    display:inline-block;
    vertical-align: top;
}

.woocommerce-pagination {
    position: relative;
    @if $rtl == 1 {
        text-align: left;
    } @else {
        text-align: right;
    }

    ul {
        display: inline-block;
        white-space: nowrap;
        padding: 0;
        @if $rtl == 1 {
            margin: 0 10px 0 0;
        } @else {
            margin: 0 0 0 10px;
        }
        clear: both;

        li {
            @if $rtl == 1 {
                float: right;
                margin-right: 5px;
            } @else {
                float: left;
                margin-left: 5px;
            }
            display: inline;
            padding: 0;

            a,
            span {
                @if $dark == 1 {
                    background: $color-dark-3;

                    &.dots {
                        background: transparent;
                    }
                } @else {

                }
                border: 1px solid $input-border-color;
                border-radius: $border-thin;
                display: block;
                margin: 0 0 5px;
                padding: 0 .5em;
                line-height: 2.1em;
                min-width: 2.2em;
                height: 2.2em;
                text-decoration: none;
                text-align: center;
            }

            span.dots {
                border-width: 0;
                min-width: 0;
                padding: 0;
            }

            a:hover,
            a:focus,
            span.current {
                color: $color-arrow-hover;
            }

            .prev,
            .next {
                text-indent: -9999px;
                width: 2.2em;
                position: relative;

                &:before {
                    font-family: "FontAwesome";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    text-indent: 0;
                }
            }

            .prev:before {
                @if $rtl == 1 {
                    content: $fa-var-caret-right;
                } @else {
                    content: $fa-var-caret-left;
                }
            }

            .next:before {
                @if $rtl == 1 {
                    content: $fa-var-caret-left;
                } @else {
                    content: $fa-var-caret-right;
                }
            }
        }
    }
}

.shop-loop-before,
.shop-loop-after {
    font-size: 13px;

    label {
        margin-bottom: 0;
        vertical-align: middle;
    }
}

.shop-loop-before {

    .woocommerce-ordering,
    .woocommerce-pagination > *,
    .gridlist-toggle {
        margin-bottom: 15px;
    }

    .woocommerce-ordering {
        @if $rtl == 1 {
            float: right;
            margin-left: 20px;
        } @else {
            float: left;
            margin-right: 20px;
        }

        .column2 & {
            @media #{$screen-large} {

            }
        }

        &,
        .column2 & {
            @media #{$screen-medium} {
                @if $rtl == 1 {
                    text-align: left;
                    margin-left: 0;
                } @else {
                    text-align: right;
                    margin-right: 0;
                }
                float: none;
            }
        }
    }

    .woocommerce-viewing {
        @media #{$screen-normal} {
            position: absolute;
            top: -2.2em;
            @if $rtl == 1 {
                left: 0;
            } @else {
                right: 0;
            }
            margin-top: -15px;
        }

        .column2 & {
            @media #{$screen-large} {
                position: absolute;
                top: -2.2em;
                @if $rtl == 1 {
                    left: 0;
                } @else {
                    right: 0;
                }
                margin-top: -15px;
            }
        }
    }

    .woocommerce-pagination {
        margin-bottom: -10px;
        @if $rtl == 1 {
            float: left;
        } @else {
            float: right;
        }

        @media #{$screen-normal} {
            clear: both;
            float: none;
            margin-top: 15px;
            text-align: center;
        }

        .column2 & {
            @media #{$screen-large} {
                clear: both;
                float: none;
                margin-top: 15px;
                text-align: center;
            }
        }

        &,
        .column2 & {
            @media #{$screen-medium} {
                text-align: center;
            }
        }

        ul {
            @media #{$screen-normal} {
                @if $rtl == 1 {
                    margin-right: -5px;
                } @else {
                    margin-left: -5px;
                }
            }

            .column2 & {
                @media #{$screen-large} {
                    @if $rtl == 1 {
                        margin-right: -5px;
                    } @else {
                        margin-left: -5px;
                    }
                }
            }
        }
    }
}

.shop-loop-after {
    text-align: center;

    .woocommerce-pagination {
        text-align: center;

        > * {
            margin-bottom: 15px;
        }
    }
}