
.shopswatchinput {
    margin-bottom: 5px;
    margin-top: 5px;
}

.wcvaswatchinput {
    text-decoration: none !important;
    margin: 0 1px;
}

.wcvashopswatchlabel {
    cursor:pointer;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: $border-xs;

    display:inline-block;
    @include transition(all 100ms ease-in);

    @if $dark == 1 {
        border: solid 1px $color-dark-3;
        box-shadow: 0 0 0 1px #444;
    } @else {
        border: solid 1px white;
        box-shadow: 0 0 0 1px #ccc;
    }
    line-height: 1.0000;

    width: 24px !important;
    height: 24px !important;

    .wcvaswatchinput.active & {
        @if $dark == 1 {
            border: 1px solid #ccc;
        } @else {
            border: 1px solid black;
        }
        border-radius: $border-small;
    }
}

.swatchinput {
    display: inline-block;
    @if $rtl == 1 {
        padding-left: 7px;
    } @else {
        padding-right: 7px;
    }
    padding-bottom: 6px;
    margin-top: -3px;
}
.belowtext {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 16px;
    font-weight: bold;
}
.wcvaswatch input {
    margin: 0;
    padding: 0;
    display: none;
    @include appearance(none);
}

.wcvaswatchlabel {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: $border-thin;

    display:inline-block;
    @include transition(all 100ms ease-in);

    @if $dark == 1 {
        border: solid 2px $color-dark-3;
        box-shadow: 0 0 0 1px #444;
    } @else {
        border: solid 2px white;
        box-shadow: 0 0 0 1px #ccc;
    }

    line-height: 1.0000;

    .wcvaswatch input:active + & {
        opacity: .9;
    }

    .wcvaswatch input:checked + & {
        -webkit-filter: none;
        -moz-filter: none;
        filter: none;
        @if $dark == 1 {
            border: 2px solid #ccc;
            box-shadow: 0 0 0 0 #ccc;
        } @else {
            border: 2px solid black;
            box-shadow: 0 0 0 0 #000;
        }
    }
}

.wcvaround {
    border-radius: 50%;
    outline: solid 0 #9C9999;
}

input.wcva_attribute_radio {
    @if $rtl == 1 {
        margin-left: 5px;
    } @else {
        margin-right: 5px;
    }
}