
.widget_product_categories,
.widget_price_filter,
.widget_layered_nav,
.widget_layered_nav_filters {
    border: 1px solid $widget-border-color;
    border-radius: $border-thick;
    background: $widget-bg-color;
    overflow: hidden;
    margin-bottom: 1.0714em;
    margin-top: 0;

    > ul,
    > div > ul,
    > * {
        padding: .7143em 1.0714em;
        border-width: 0;
        margin: 0;
    }

    > select {
        margin: 1.0714em;
        @if $rtl == 1 {
            padding: 0 .22em 0 0;
        } @else {
            padding: 0 0 0 .22em;
        }
    }

    .widget-title {
        background: $widget-title-bg-color;
        border-bottom: 1px solid $widget-border-color;
        font-size: .9286em;
        font-weight: $font-weight-bold;
        line-height: 1.4;
        padding: .7143em  1.0714em;
        margin: 0;
        text-transform: uppercase;
        position: relative;
        @include transition($transition);

        .toggle {
            display: inline-block;
            width: 1.8571em;
            height: 1.8571em;
            line-height: 1.7572em;
            @if $dark == 1 {
                color: #999;
                background: $color-dark;
            } @else {
                color: $input-border-color;
                background: $color-white;
            }
            border: 1px solid $input-border-color;
            border-radius: $border-thin;
            position: absolute;
            @if $rtl == 1 {
                left: 1.0714em;
            } @else {
                right: 1.0714em;
            }
            top: 1px; bottom: 0;
            margin: auto;
            cursor: pointer;
            font-family: "FontAwesome";
            text-align: center;
            @include transition($transition);

            &:before {
                content: $fa-var-caret-up;
            }

            &:hover {
                color: $color-white;
            }
        }
    }

    &.closed {
        .widget-title {
            border-bottom-width: 0;
            .toggle {
                &:before {
                    content: $fa-var-caret-down;
                }
            }
        }
    }

    ul, ol {
        li {
            position: relative;
            border-width: 0;
            padding: 0;
            > a {
                text-decoration: none;
                display: inline-block;
                padding: 4px 0;
            }

            .toggle {
                cursor: pointer;
                display: inline-block;
                text-align: center;
                position: absolute;
                @if $rtl == 1 {
                    left: -5px;
                } @else {
                    right: -5px;
                }
                top: 4px;
                margin: 0;
                width: 24px;
                height: 24px;
                font-family: "FontAwesome";

                &:before {
                    content: $fa-var-plus-square;
                    font-size: 1.2em;
                }
            }

            &.open,
            &.current {
                > .toggle {
                    &:before {
                        content: $fa-var-minus-square;
                    }
                }
            }
            &.current {
                > ul,
                > ol {
                    &.children {
                        display: block;
                    }
                }
            }

            .small,
            small {
                @if $rtl == 1 {
                    float: left;
                } @else {
                    float: right;
                }
                font-size: 1em;
            }
        }

        ul, ol {
            @if $rtl == 1 {
                padding-right: 1.0714em;
            } @else {
                padding-left: 1.0714em;
            }
            margin: 0;

            &.children {
                margin: 0;
                display: none;
            }
        }
    }
}

// Woocommerce price slider
.widget_price_filter {
    .price_slider_wrapper {
        margin-bottom: .3571em;
    }
    .price_slider {
        background: $price-slide-bg-color;
        margin-top: 1.4286em;
        margin-bottom: 2.1428em;
    }
    .price_slider_amount {
        @if $rtl == 1 {
            text-align: left;
        } @else {
            text-align: right;
        }
        line-height: 2.4em;
        font-size: .8751em;
        .button {
            padding: .2143em .7143em;
            text-transform: uppercase;
            @if $rtl == 1 {
                float: right;
            } @else {
                float: left;
            }
        }
    }
    .ui-slider {
        position: relative;
        @if $rtl == 1 {
            text-align: right;
        } @else {
            text-align: left;
        }
    }
    .ui-slider .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: .9286em;
        height: 1.2857em;
        cursor: pointer;
        outline: none;
        top: -.40715em;
        border-radius: $border-thin;
        box-shadow: 0 1px 2px rgba(0,0,0,.3);

        &:last-child {
            @if $rtl == 1 {
                //margin-right: -.9286em;
                margin-left: -.9286em;
            } @else {
                margin-left: -.9286em;
            }
        }
    }
    .ui-slider .ui-slider-range {
        position:absolute;
        z-index: 1;
        font-size: .7em;
        display:block;
        border: 0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .38) inset;
    }
    #min_price,
    #max_price {
        width: 45%;
        @if $rtl == 1 {
            margin-left: 4%;
        } @else {
            margin-right: 4%;
        }
        margin-top: 0.3571em;
        margin-bottom: 1.0714em;
    }
    .ui-slider-horizontal {
        height: .5em;
    }
    .ui-slider-horizontal .ui-slider-range {
        top: 0;
        height: 100%;
    }
    .ui-slider-horizontal .ui-slider-range-min {
        @if $rtl == 1 {
            right: -1px;
        } @else {
            left: -1px;
        }
    }
    .ui-slider-horizontal .ui-slider-range-max {
        @if $rtl == 1 {
            left: -1px;
        } @else {
            right: -1px;
        }
    }
}

// Woocommerce product categories widget

// Woocommerce active filters widget
.widget_layered_nav_filters {
    ul {
        @include clearfix;
        li {
            @if $rtl == 1 {
                float: right;
            } @else {
                float: left;
            }
            a {
                margin-right: .8571em;
                &:before {
                    font-family: "FontAwesome";
                    content: $fa-var-times-circle;
                    @if $rtl == 1 {
                        margin-left: .3571em;
                    } @else {
                        margin-right: .3571em;
                    }
                }
            }
        }
    }
}

// Woocommerce yith widgets
.yith-woo-ajax-reset-navigation {
    background: transparent;
    border-width: 0;
    border-radius: 0;
    > * {
        padding: 0;
    }
}

.woocommerce,
.woocommerce-page {
    .yith-woo-ajax-navigation {
        ul.yith-wcan-group {
            padding: 11px;
        }
        ul.yith-wcan-color {
            li {
                width: 14.2857%;
                min-width: 34px;
                max-width: 35px;
                text-align: center;
                @if $rtl == 1 {
                    float: right;
                } @else {
                    float: left;
                }
                a, a:hover,
                span, span:hover {
                    border-radius: $border-normal;
                    @if $dark == 1 {
                        border-color: #ccc;
                    }
                }
                a,
                span {
                    border-width: 0;
                    width: 26px;//2em;//1.3846em;
                    height: 26px;//1.2308em;
                    margin: 4px;
                    box-shadow: 1px 1px 0 rgba(0,0,0,.35);
                }
                &.chosen {
                    a, a:hover,
                    span, span:hover {
                        border-radius: $border-normal;
                        @if $dark == 1 {
                            border-color: #ccc;
                        }
                    }
                }

            }
        }
        ul.yith-wcan-label {
            li {
                @if $rtl == 1 {
                    float: right;
                } @else {
                    float: left;
                }
                a {
                    border-radius: $border-normal;
                    min-width: 2em;
                    text-align: center;
                    margin: .3846em;
                    @if $dark == 1 {
                        border: 1px solid $color-dark;
                        background: $color-dark;
                    } @else {
                        border: 1px solid $input-border-color;
                        background: #efefef;
                    }
                    padding: .3846em;
                    line-height: 1.2;
                }
                &.chosen a,
                a:hover {
                    border-radius: $border-normal;
                    color: $color-white;
                }
            }
        }
    }
}

// Woocommerce products widget
ul.product_list_widget,
.widget ul.product_list_widget {
    list-style: none outside;
    padding: 0;
    margin: 0;
    border-width: 0 !important;
    li {
        border-width: 0;
        position: relative;
        @if $rtl == 1 {
            padding: .5714em 108px .5714em 0;
        } @else {
            padding: .5714em 0 .5714em 108px;
        }
        margin: 0;
        list-style: none;
        @include clearfix;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }

        .product-image {
            @if $rtl == 1 {
                float: right;
            } @else {
                float: left;
            }
            width: 96px;
            padding: $widget-product-image-padding;
            border-radius: $border-normal;
            @if $rtl == 1 {
                margin-right: -108px;
            } @else {
                margin-left: -108px;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: $border-thin;
            }

            /*.img-effect {
                img {
                    position: relative;
                    left: 0;
                }

                .hover-image {
                    margin-right: -100%;
                }
            }

            &:hover {
                .img-effect {
                    img {
                        left: -100%;
                    }
                }
            }*/
            .img-effect {
                img {
                    position: relative;
                    @include opacity(1);
                }

                .hover-image {
                    position: absolute;
                    left: 0; right: 0; top: 0; bottom: 0;
                    margin: auto;
                    @include opacity(0);
                }
            }

            &:hover {
                .img-effect {
                    img {
                        @include opacity(0);
                    }
                    .hover-image {
                        @include opacity(1);
                    }
                }
            }
        }

        .product-details {
            position: relative;
            padding-top: 3px;
            a {
                display: block;
                text-decoration: none;
            }
            .amount {
                color: $color-price;
                font-size: 1.0714em;
                font-weight: $font-weight-semibold;
                line-height: 1;
                vertical-align: middle;
                .currency,
                .decimal {
                    font-size: .75em;
                    font-weight: $font-weight-normal;
                }
                .currency {
                    .decimal {
                        font-size: 1em;
                    }
                }
            }
            ins {
                text-decoration: none;
                vertical-align: baseline;
            }
            del,
            .from {
                color: $color-old-price;
                font-size: .8em;
                @if $rtl == 1 {
                    margin-left: 3px;
                } @else {
                    margin-right: 3px;
                }
                vertical-align: baseline;
                .amount {
                    color: $color-old-price;
                }
            }
        }
        dl {
            margin: 0;
            @if $rtl == 1 {
                padding-right: 1em;
                border-right: 2px solid rgba(0,0,0,0.1);
            } @else {
                padding-left: 1em;
                border-left: 2px solid rgba(0, 0, 0, 0.1);
            }
            @include clearfix;

            dt, dd {
                display: inline-block;
                @if $rtl == 1 {
                    float: right;
                } @else {
                    float: left;
                }
                margin-bottom:1em;
            }
            dt {
                font-weight: $font-weight-bold;
                padding: 0 0 .25em 0;
                @if $rtl == 1 {
                    margin: 0 0 0 4px;
                    clear: right;
                } @else {
                    margin: 0 4px 0 0;
                    clear: left;
                }
            }
            dd {
                padding: 0 0 .25em 0;
                p:last-child {
                    margin-bottom:0;
                }
            }
        }
        .star-rating {
            //font-size: 0.8571em;
            margin: 5px 0 0;
        }
        .ajax-loading {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @if $dark == 1 {
                background: $color-dark-3 url(../images/ajax-loader@2x.gif) no-repeat scroll center center / 16px 16px;
            } @else {
                background: #fff url(../images/ajax-loader@2x.gif) no-repeat scroll center center / 16px 16px;
            }
            @include opacity(0.6);
        }
    }
}

ul.cart_list{
    li {
        &.empty {
            @if $rtl == 1 {
                padding-right: 0;
            } @else {
                padding-left: 0;
            }
        }
        .quantity {
            vertical-align: baseline;
            .amount {
                vertical-align: baseline;
            }
        }
        dl {
            margin: 8px 0;
            border: none;
            @if $rtl == 1 {
                padding-right: 5px;
            } @else {
                padding-left: 5px;
            }
            display: table;
            dt,
            dd {
                padding: 3px;
                margin: 0;
                line-height: 1.2;
                p {
                    line-height: 1.2;
                }
            }
        }
    }
}

.widget_recent_reviews,
.widget.widget_recent_reviews {
    .product_list_widget {
        @include clearfix;
        margin-top: -.5714em;
        margin-bottom: -.5714em;
        li {
            width: 49%;
            padding: .5714em 1%;
            @if $rtl == 1 {
                float: right;
                padding-right: 0;
            } @else {
                float: left;
                padding-left: 0;
            }
            text-align: center;
            &:first-child {
                padding-top: .5714em;
            }
            &:last-child {
                padding-bottom: .5714em;
            }
            a {
                float: none;
                display: block;
                position: relative;
            }
            img {
                width: 96px;
                height: auto;
                @if $dark == 1 {
                    background: $color-dark-3;
                    border: $product-image-border-width solid $color-dark-3;
                } @else {
                    background: #fff;
                    border: $product-image-border-width solid $image-border-color;
                }
                border-radius: $border-normal;
                padding: $widget-product-image-padding;
                display: block;
                margin: 0 auto 10px;
            }
            .star-rating {
                margin: 5px auto 0;
            }
            .reviewer {
                font-size: .8571em;
            }

            &:nth-child(2n+1) {
                clear: both;
            }
        }
    }
}

// Woocommerce shopping cart
.widget_shopping_cart {
    .total {
        margin: .7143em 0;
        text-align: center;

        .amount {
            font-size: 1.4286em;
            font-weight: $font-weight-semibold;
            .currency,
            .decimal {
                font-size: .75em;
                font-weight: $font-weight-normal;
            }
            .currency {
                .decimal {
                    font-size: 1em;
                }
            }
        }
    }
    .buttons {
        margin-bottom: 0;
        @include clearfix;

        .wc-forward {
            @if $rtl == 1 {
                float: right;
            } @else {
                float: left;
            }
            width: 49%;
        }
        .checkout {
            @if $rtl == 1 {
                float: left;
            } @else {
                float: right;
            }
            width: 49%;
        }

        @media #{$screen-medium} {
            .wc-forward {
                float: none;
                width: 100%;
                + .wc-forward {
                    margin-top: 8px;
                }
            }
        }
    }
    .product-details {
        a {
            @if $rtl == 1 {
                padding-left: 15px;
            } @else {
                padding-right: 15px;
            }
        }
        .remove-product {
            padding: 0;
            position: absolute;
            top: 3px;
            @if $rtl == 1 {
                left: 0;
                text-align: left;
            } @else {
                right: 0;
                text-align: right;
            }
            width: 25px;
            height: 25px;
            text-decoration: none;
            &:before {
                content: $fa-var-close;
                font-family: "FontAwesome";
            }
        }
    }
}

// Woocommerce brands widget
.widget .brand-thumbnails,
.brand-thumbnails {
    list-style: none;
    margin: 0;
    padding: 0;
}

// Woocommerce products slider
.products-slider {
    .product {
        display: none;
    }
    &.products {
        li.product {
            clear: none;

            .add-links {
                margin-bottom: 5px;
            }
        }
    }
    .slick-dots li {
        clear: none !important;
        width: 20px !important;
        margin-bottom: 0;
        button {
            box-shadow: none !important;
        }
    }
    &.slick-initialized .product {
        display: block;
    }
    &.owl-carousel {
        margin: 0 !important;
        .product {
            display: block;
            width: 100%;
            margin-bottom: 0;
        }
        .owl-controls {
            margin-top: 0;
            .owl-buttons {
                position: absolute;
                top: -3em;
                @if $rtl == 1 {
                    left: 0;
                } @else {
                    right: 0;
                }
                div {
                    margin: 0;
                    position: static;
                    @include opacity(1);
                }
                .owl-prev {
                    @if $rtl == 1 {
                        padding-left: 5px;
                    } @else {
                        padding-right: 5px;
                    }
                }
                .owl-next {
                    @if $rtl == 1 {
                        padding-right: 5px;
                    } @else {
                        padding-left: 5px;
                    }
                }
            }
            .owl-pagination {
                margin-top: 20px;
            }
        }
    }
}

/* search form */
.woocommerce-product-search {
    .search-field {
        margin-bottom: 15px;
    }
}