
.shop_table.wishlist_table {
    margin-bottom: 15px;
    .add_to_cart {
        border-radius: $border-base;
    }
    tr td {
        @if $rtl == 1 {
            text-align: right;
        } @else {
            text-align: left;
        }

        @media #{$screen-medium} {
            text-align: center;
        }
    }
}

.woocommerce table.shop_table.wishlist_table {
    thead {
        th,
        td {
            border: none;
            padding: 10px;
        }
    }
    tbody,
    tfoot {
        th,
        td {
            @if $dark == 1 {
                border-color: $color-dark-3;
            } @else {
                border-color: #ddd;
            }
            padding: 10px;
        }
    }
}

.shop_table.wishlist_table,
.woocommerce table.wishlist_table {
    font-size: 100%;

    .add_to_cart.button {
        line-height: 2.0571em;
        padding: 0 .7143em;
        height: 2.2em;
        display: inline-block !important;
    }

    .yith-wcwl-add-to-wishlist {
        display: none;
    }

    .wishlist-empty {
        text-align: center;
    }

    .quickview {
        @if $rtl == 1 {
            margin-right: 10px;
        } @else {
            margin-left: 10px;
        }
    }
}

.woocommerce #content table.shop_table.wishlist_table.cart a.remove {
    &:hover {
        background: transparent;
    }
}

.blockUI {
    background: transparent !important;
}