/* BEGIN builder-row-55717f9704afc */
.isotope-item {

  display: inline;
}
ul.portfolio-list div.portfolio-item {
  margin-bottom: 35px;
  width: 278px;
  border: none;
  padding: 0px;
}
/* END builder-row-55717f9704afc */
