't/* Add here all your CSS customizations */



.cta .row{
	background-color:#F0F0ED;
	padding:10px;
}

.cta .row .col-md-8{
	font-size:30px;
}

.text1{
	line-height: 33px;
	font-size:30px;
	color:#00af9e;
	text-transform: uppercase;
	font-family: 'Open sans';
  	font-weight: 600;
}

.text2{
	font-size:30px;
	color:#fff;
	width:300px;
	float:left;
}

.typed-cursor{
	font-size:37px;
	color:#fff;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#x1205_parallax_content_post{
	margin-top:25px;
	padding:0 !important;
	margin-left:65%;
}

.pull-top .featured-box{
	border:none;
	height:336px !important;
}

.pull-top .featured-box .box-content{
	background-color:#fff;
	border-top:none;
}

.btn-warning {
	background-color:#FA9800;
	border-color:#FA9800;
}

.basic-grey .wpcf7-submit {
	background-color:#FA9800 !important;
}

#builder-row-5412d7a397a1f .container{
	width:100%;
}

#builder-row-541c308bd7887 .container{
	width:100%;
}

.newsbar{
	display:none;
}

.our-clients .owl-item .img-responsive{
	  padding: 0px 10px;
}

.img-responsive{
	 padding: 0px 10px;
}


span.arrow { display:none }

#x1205_parallax_content_post {
  position: absolute!important;
  right: 0!important;
  width: 480px!important;
  margin:0!important;
  padding:0!important;
}

h2 { line-height: 58px!important }

h3 > strong {
  background: rgba(255, 255, 255, 0.83);
line-height:35px;
}

@media screen and (max-width:720px) {

	.basic-grey {
		width:100%;
	}

/*	h2,h3 { font-size:80%;}*/

}

// paralksa naherinizators
section.adamrob_parallax {

/* background-attachment:initial!important; */
/*background-size: 100vw!important;*/
}

#parallax_1243{
	background-size:auto !important;
}

#x1243_parallax_content_post{
	padding:0 0 0 10px !important;
}

section.adamrob_parallax{
	background-attachment: scroll !important;
}

.paralaks{
	margin-top: 0px;
  	padding-bottom: 260px;
  	padding-top:65px;
  	margin-bottom: 0px;
    background-position: top;
    background-size: cover !important;
}

.type-text{
	  width: 50%;
  height: 100px;
}

.paralaks .container{
	position: absolute;
}

ul.team-list div.team-item span.thumb-info-social-icons{
	text-align:center;
}

.pcbg{
	background-image: url('http://iprog.co/wp-content/uploads/2015/06/I-prog_header2-web.jpg');
	background-size: cover;
	background-position: center;
	padding-top:3%;
	padding-left:3%;
	height: 500px;
}

.typetext.container {
	margin-right: auto;
 	margin-left: auto;
 	width:100% !important;
	padding-left:0px;
	padding-right:0px;
}