
.phone{
    display:none !important;
}

.email{
 font-size:18px !important;   

}
#whouse{
margin:0 auto;    

}
.paralaks .container {
  width:100% !important;
}

.cases .container {
  width:101% !important;
}
#cases .container {
  width:101% !important;
}
.isotope-item {
  display: inline !important;
}
ul.portfolio-list div.portfolio-item {
  margin-bottom: 35px !important;
  width: 19.6% !important;
  border: none !important;
  padding: 0px !important;
}
#builder-row-5412b27a6d954 .container{
    width:100% !important;
     padding: 0px !important;
}
.typetext .container{
   width:100% !important;
     padding: 0px !important;
}
section.adamrob_parallax {
      background-attachment: fixed !important;
}