.phone{
    display:none !important;
}

.email{
 font-size:18px !important;   

}

.basic-grey{
  width: 650px;
  margin: 0px auto;
}
.contact-form-bottom  input[type="text"], .contact-form-bottom input[type="email"], .contact-form-bottom input[type="tel"], .contact-form-bottom textarea{
background:#fafafa;
height:30px;
border-radius:5px;
}
.contact-form-top  input[type="text"], .contact-form-top input[type="email"], .contact-form-top textarea{
background:#fff;
height:40px;
border-radius:5px;
}
.contact-form-top .wpcf7-submit {
 background: #f0ad4e;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #f0ad4e;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #000;
  cursor: pointer;
  font-size: 20px;
}
.contact-form-top .wpcf7-submit:hover{
 background: #eea236;
}
.develop .wpcf7-submit{
background: #FA9800;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #FA9800;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #000;
  cursor: pointer;
  font-size: 20px;
}

.develop .wpcf7-submit:hover{
 background: #eea236;
}
.contact-form-bottom .wpcf7-submit {
 background: #FA9800;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #FA9800;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #000;
  cursor: pointer;
  font-size: 20px;
}
.contact-form-bottom .wpcf7-submit:hover{
 background: #eea236;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
   border: 1px solid #DADADA;
  color: #888;
  height: 40px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 48%;
  font-size: 12px;
  line-height: 15px;
  box-shadow: inset 0px 1px 4px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
  background: #fafafa;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
width: 49%;
  float: right;
  height: 122px;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}

.basic-grey .wpcf7-submit {
 background: #f0ad4e;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #B6B6B6;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #000;
  cursor: pointer;
  width: 100%;
  font-size: 26px;
}
.basic-grey .wpcf7-submit:hover {
    background: #eea236;
}

h1.logo{
width:350px;
}