
body {
    @if $rtl == 1 {
        direction: rtl;
        unicode-bidi: embed;
        text-align: right;
    } @else {

    }
}

body.wide {
    .container {
        width: 100%;
        max-width: 100%;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

@media #{$screen-medium} {
    .container {
        width: 100%;
    }
}

.page-wrapper {
    position: relative;
    @if $rtl == 1 {
        right: 0;
    } @else {
        left: 0;
    }

    &.side-nav {
        > * {
            @media (min-width: 992px) {
                @if $rtl == 1 {
                    padding-right: 256px;
                } @else {
                    padding-left: 256px;
                }
            }
        }

        @media (min-width: 992px) {
            .container {
                width: 100%;
                max-width: 100%;
            }
        }

        #blueimp-gallery {
            padding: 0;
        }
    }
}

.header-wrapper {
    position: relative;
    z-index: 1;
}

.column2-left-sidebar,
.column2-left-sidebar {
    .main-content {
        @if $rtl == 1 {
            float: left;
        } @else {
            float: right;
        }

        @media #{$screen-normal} {
            float: none;
        }
    }
}

.left-sidebar,
.right-sidebar {
    position: relative;
}

#main {
    overflow: hidden;
    position: relative;
    z-index: 0;

    > .container {
        @if $dark == 1 {
            background: $dark-bg;
        } @else {
            background: #fff;
        }
    }

    &.wide {
        @if $dark == 1 {
            background: $dark-bg;
        } @else {
            background: #fff;
        }
        .vc_row {
            margin-left: 0;
            margin-right: 0;
        }
        .container .vc_row {
            margin-left: -($grid-gutter-width / 2);
            margin-right: -($grid-gutter-width / 2);
        }
        .ads-container.vc_row {
            margin-left: 0;
            margin-right: 0;
        }
        .main-content {
            padding: 0;
        }
    }
}
.main-content {
    padding-top: 35px;
    padding-bottom: 40px;

    .no-breadcrumbs &,
    body.woocommerce-page &,
    body.woocommerce & {
        padding-top: 20px;
    }
}
.left-sidebar,
.right-sidebar {
    padding-top: 35px;
    padding-bottom: 40px;

    .no-breadcrumbs &,
    body.woocommerce-page &,
    body.woocommerce & {
        padding-top: 20px;
    }
}
.left-sidebar,
.right-sidebar {
    @media #{$screen-normal} {
        &,
        .no-breadcrumbs &,
        body.woocommerce-page &,
        body.woocommerce & {
            padding-top: 0;
            margin-top: -40px;
        }
    }
}

.content-bottom-wrapper {
    padding-bottom: 20px;
}
#banner-wrapper,
#content-top,
#content-bottom,
#content-inner-top,
#content-inner-bottom {
    .ult-carousel-wrapper {
        margin-bottom: 20px;

        .vc_single_image-wrapper {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}

