.row .column, .row .columns{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.container{ margin: 0px auto; padding: 0px 20px; max-width: 1200px; }
.row { width: 1200px; max-width: 100%; margin: 0 auto; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -10px; }
.column, .columns { float: left; min-height: 1px; padding: 0 10px; position: relative; }
.column.wrapper, .columns.wrapper{ padding: 0px; }
.row .one { width: 8.333%; }
.row .two { width: 16.667%; }
.row .three { width: 25%; }
.row .four { width: 33.333%; }
.row .five { width: 41.667%; }
.row .six { width: 50%; }
.row .seven { width: 58.333%; }
.row .eight { width: 66.667%; }
.row .nine { width: 75%; }
.row .ten { width: 83.333%; }
.row .eleven { width: 91.667%; }
.row .twelve { width: 100%; }
.row .one-fifth{ width: 20%; }
.row .one-sixth{ width: 16.667; }
img{ max-width: 100%; height: auto; }
img { -ms-interpolation-mode: bicubic; }
object, embed { max-width: 100%; } @media only screen and (max-width: 767px) {
body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none;
width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
.container{ margin: 0px auto; max-width: 420px; }
.row { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }
.row .column, .row .columns { width: 100%; float: none; }
.column:last-child, .columns:last-child { float: none; }
[class*="column"] + [class*="column"]:last-child { float: none; }
.column:before, .columns:before, .column:after, .columns:after { content: ""; display: table; }
.column:after, .columns:after { clear: both; }
}  div.header-wrapper .responsive-menu-wrapper{ display: none; } @media only screen and (max-width: 959px) {
body div.logo-wrapper { float: none; padding-bottom: 30px; }
body div.gdl-navigation-wrapper { float: none; text-align: center; }
body div#main-superfish-wrapper { display: inline-block; padding-top: 10px; padding-bottom: 30px; }
body div.floating-nav-wrapper { display: none !important; }
} @media only screen and (max-width: 767px) { div.floating-nav-wrapper { display: none !important; }	
div.top-search-wrapper{ float: none; margin-left: 0px; display: none; }
div.top-navigation-left{ float: none; padding: 10px 0px 5px; }	
div.top-navigation-right{ float: none; padding: 5px 0px 10px; }
div.social-wrapper{ float: none; display: inline-block; margin: 0px; }	
div.header-wrapper .logo-wrapper{ float: none; padding: 40px 0px 30px; }
div.header-wrapper .gdl-navigation-wrapper{ float: none; padding-bottom: 20px; }
div.header-wrapper .responsive-menu-wrapper{ display: block; } 
div.header-wrapper .navigation-wrapper{ display: none; } div.gdl-left-sidebar .sidebar-wrapper,
div.gdl-right-sidebar .sidebar-wrapper { padding-left: 0px; padding-right: 0px; }
div.gdl-sidebar-wrapper.gdl-border-y{ background: none; } div.single-portfolio .port-media-wrapper { max-width: 100%; width: 100%; float: none; margin-bottom: 20px; }
div.single-portfolio .port-content-wrapper { overflow: visible; }
div.single-portfolio .port-nav .port-prev-nav, div.single-portfolio .port-nav .port-next-nav { margin-bottom: 15px; } div.gdl-blog-medium .blog-medium-media-wrapper{ margin-right: 0px; width: 100%; float: none; }
div.port-nav-wrapper { margin-bottom: 20px; display: inline-block; }	
div.price-item{ margin-bottom: 20px; }
body div.stunning-text-wrapper .stunning-text-inner-wrapper { padding: 26px 25px !important; }
body div.footer-stunning-wrapper .footer-stunning-content.button-on{ margin-right: 0px; }	
body div.footer-stunning-button-wrapper { position: static; margin-top: 20px; text-align: center; } .shortcode1-4, .shortcode1-4.last, 
.shortcode1-3, .shortcode1-3.last, 
.shortcode1-2, .shortcode1-2.last,
.shortcode2-3, .shortcode2-3.last, 
.shortcode3-4, .shortcode3-4.last,
.shortcode1-5, .shortcode1-5.last, 
.shortcode2-5, .shortcode2-5.last,
.shortcode3-5, .shortcode3-5.last, 
.shortcode4-5, .shortcode4-5.last{ width: 100%; } div.stunning-text-wrapper .stunning-text-icon { float:none; margin: 0px auto 10px; }
div.stunning-text-wrapper { text-align: center; } .flex-caption{ display: none !important; }
.nivo-caption{ display: none !important; }
.anythingSlider{ display: none !important; } div.copyright-left, div.copyright-right{ float: none; text-align: center; }
}