
.accordion-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .9em;

    > li,
    ul.sub-menu > li {
        position: relative;
    }

    li.menu-item {

        > a,
        > h5 {
            position: relative;
            display: block;
            outline: medium none;
            text-decoration: none;
            margin: 1px 0 0;
            padding: 5px 6px;
            line-height: 25px;
            font-weight: $font-weight-normal;
            @include transition($transition);

            > .flag {
                display: inline-block;
                width: 18px;
                height: auto;
                margin-top: -2px;
                @if $rtl == 1 {
                    margin-left: 5px;
                } @else {
                    margin-right: 5px;
                }
            }

            > .fa {
                width: 18px;
                text-align: center;
            }
            > .fa,
            > .avatar {
                @if $rtl == 1 {
                    margin-left: 5px;
                } @else {
                    margin-right: 5px;
                }
            }
            > .avatar img {
                margin-top: -5px;
                margin-bottom: -4px;
            }
        }
        &.has-sub {
            > a,
            > h5 {
                @if $rtl == 1 {
                    padding-left: 33px;
                } @else {
                    padding-right: 33px;
                }
            }
        }
    }

    ul.sub-menu {
        display: none;
        list-style: none;
        margin: 0;
        @if $rtl == 1 {
            padding: 0 10px 0 0;
        } @else {
            padding: 0 0 0 10px;
        }
    }

    .arrow {
        border-radius: $border-thin;
        position: absolute;
        top: 6px;
        @if $rtl == 1 {
            left: 0;
        } @else {
            right: 0;
        }
        width: 25px;
        height: 25px;
        cursor: pointer;
        text-align: center;
        font-family: "FontAwesome";
        line-height: 25px;
        vertical-align: top;
        @include transition($transition);

        &:before {
            content: $fa-var-plus;
        }
    }

    .open > .arrow:before {
        content: $fa-var-minus;
    }

    .tip {
        color: #fff;
        display: inline-block;
        font-size: 9px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: $border-small;
        line-height: 1;
        padding: 2px;
        position: relative;
        @if $rtl == 1 {
            margin-right: 10px;
        } @else {
            margin-left: 10px;
        }
        vertical-align: middle;

        &.hot {
            background-color: #eb2771;

            .tip-arrow:before {
                color: #eb2771;
            }
        }

        .tip-arrow:before {
            display: inline-block;
            font-family: "Elusive-Icons";
            font-size: 5px;
            position: absolute;
            width: 4px;
            height: 6px;
            margin: auto;
            @if $rtl == 1 {
                content: $el-var-caret-right;
                right: -4px;
                text-align: left;
            } @else {
                content: $el-var-caret-left;
                left: -4px;
                text-align: right;
            }
            top: 0;
            bottom: 0;
        }
    }

    .menu-block {

    }
}