/* #Footer */

.footer-wrapper {
    &.wide {
        .container {
            width: 100%;
        }
    }
}

.footer-top {
    .widget:last-child {
        margin-bottom: 0;
    }
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
#footer {
	font-size: 0.9em;
	padding: 0;
	position: relative;
	clear: both;

    a:hover {
        text-decoration: underline;
    }

    p {
        font-size: 1em;
    }

    ul.list {
        li {
            margin-bottom: 5px;
        }
    }

    .footer-ribbon {
        position: absolute;
        margin: -70px 0 0 0;
        padding: 10px 20px 6px 20px;
        color: #fff;
        font-size: 1.6em;
        font-family: $font-secondary;

        &:before {
            @if $rtl == 1 {
                border-left: 10px solid #646464;
                right: -10px;
            } @else {
            border-right: 10px solid #646464;
                left: -10px;
            }
            border-top: 16px solid transparent;
            content: "";
            display: block;
            height: 0;
            position: absolute;
            top: 0;
            width: 7px;
        }
    }

    > .container {
        padding-top: 40px;
        padding-bottom: 10px;
    }
    &.show-ribbon {
        > .container {
            padding-top: 54px;
        }
    }

    .container {
        position: relative;
		input:focus {
			box-shadow: none;
		}
	}
    .logo {
        display: inline-block;
        @if $rtl == 1 {
            margin-left: 25px;
        } @else {
        margin-right: 25px;
        }

        @media #{$screen-normal} {
            display: block;
            margin-bottom: 15px;
            @if $rtl == 1 {
                margin-left: 0;
            } @else {
            margin-right: 0;
        }
        }

        img {
            display: inline-block;
            max-width: 80px;
        }
    }
    .footer-bottom {
        padding: 15px 0;

        .container {
            display: table;
            table-layout: fixed;
            @media #{$screen-normal} {
                display: block;
            }
            > div {
                display: table-cell;
                vertical-align: middle;
                @media #{$screen-normal} {
                    display: block;
                }
            }
            .footer-left {
                @if $rtl == 1 {
                    padding: 10px 0 10px 8px;
                    text-align: right;
                } @else {
                    padding: 10px 8px 10px 0;
                    text-align: left;
                }
                @media #{$screen-normal} {
                    padding: 10px 0;
                }
                width: 100%;
            }
            .footer-center {
                padding: 10px 8px;
                text-align: center;
                width: 350px;
                @media #{$screen-large} {
                    width: 300px;
                }
                @media #{$screen-normal} {
                    padding: 10px 0;
                    width: auto;
                    @if $rtl == 1 {
                        text-align: right;
                    } @else {
                        text-align: left;
                    }
                }
            }
            .footer-right {
                @if $rtl == 1 {
                    padding: 10px 8px 10px 0;
                    text-align: left;
                } @else {
                    padding: 10px 0 10px 8px;
                    text-align: right;
                }
                @media #{$screen-normal} {
                    padding: 10px 0;
                    @if $rtl == 1 {
                        text-align: left;
                        float: left;
                    } @else {
                        text-align: right;
                        float: right;
                    }
                }
                width: 100%;
            }
        }
    }

    .widgettitle,
    .widget-title {
        margin-bottom: 15px;
        font-size: 1.2698em;

        &,
        a {
            font-weight: $font-weight-normal;
            text-transform: none;
        }

        img {
            @if $rtl == 1 {
                margin-left: 3px;
            } @else {
            margin-right: 3px;
            }
            margin-top: -2px;
        }
    }

    .thumbnail,
    .img-thumbnail {
        padding: 0;
        border-width: 0;
        background: transparent;

        img {
            border-radius: $border-thin;
        }
    }

    .widget {

        p {
            font-size: 1em;
        }

        > div > ul,
        > ul {
            font-size: 1em;
        }

        .tagcloud a {
            background: transparent;
            text-decoration: none;

            &:hover {
                color: #fff;
            }
        }

        P {
            margin-top: -3px;
            margin-bottom: 13px;
        }

        .contact-info {
            margin-top: -6px;
        }
    }

    .footer-bottom {

        .widget {
            display: inline-block;
            margin: 0;

            @media #{$screen-normal} {
                display: block;
                margin-top: 5px;
            }

            > div > ul,
            > ul {
                border-width: 0;

                li {
                    border-width: 0;
                }
            }
        }

        .widget_nav_menu {
            ul {
                @if $rtl == 1 {
                    margin: 0 -7px 0 0;
                } @else {
                margin: 0 0 0 -7px;
                }
                li {
                    display: inline-block;
                    @if $rtl == 1 {
                        padding: 0 6px 0 0;
                    } @else {
                        padding: 0 0 0 6px;
                    }
                    &:first-child {
                        padding: 0;
                    }
                    &:before {
                        display: none;
                    }
                    &:after {
                        content: "|";
                        font-weight: 300;
                        position: relative;
                        top: -1px;
                        @if $rtl == 1 {
                            margin: 0 9px 0 0;
                        } @else {
                        margin: 0 0 0 9px;
                    }
                    }
                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                    + li {
                        @if $rtl == 1 {
                            margin-right: 0;
                        } @else {
                        margin-left: 0;
                    }
                }
            }
        }
        }

        .footer-left {
            .widget {
                @if $rtl == 1 {
                    margin-left: 15px;
                } @else {
                margin-right: 15px;
            }
            }

            &:first-child {
                @if $rtl == 1 {
                    margin-left: 0;
                } @else {
                margin-right: 0;
            }
        }
        }

        .footer-right {
            .widget {
                @if $rtl == 1 {
                    margin-right: 15px;
                } @else {
                margin-left: 15px;
                }

                &:first-child {
                    @if $rtl == 1 {
                        margin-right: 0;
                    } @else {
                    margin-left: 0;
                }
            }
        }
        }

        .tooltip {
            display: none !important;
        }
    }
}

.footer-wrapper {
    &.simple,
    &.fixed {
        #footer {
            padding-top: 0;
            background: transparent;

            .footer-bottom {
                padding: 0;

                .logo {
                    display: none;
                }

                .container {
                    display: table;
                    > div {
                        padding-top: 8px;
                        padding-bottom: 8px;
                        display: table-cell;
                        float: none;

                        @media #{$screen-normal} {
                            &.footer-center {
                                display: none;
                            }
                        }
                        @media #{$screen-small} {
                            &.footer-right {
                                display: none;
                            }
                            &.footer-left {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    &.fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

#footer-boxed {
    padding-left: 0;
    padding-right: 0;
    margin-top: 15px;
}

