/* Header */

.header-wrapper {
    &.wide {
        .container {
            width: 100%;
        }
    }
}

#header {
    clear: both;

    a,
    a:hover {
        text-decoration: none;
        outline: none;
    }

    .header-top,
    .header-main {
        .container {
            position: relative;
            display: table;
            > div {
                display: table-cell;
                position: relative;
                vertical-align: middle;
            }
        }
    }

    .header-left {
        @if $rtl == 1 {
            text-align: right;
        } @else {
            text-align: left;
        }
    }

    .header-center {
        text-align: left;
    }

    .header-right {
        @if $rtl == 1 {
            text-align: left;
        } @else {
            text-align: right;
        }
    }

    .header-main {
        position: relative;

        .container {
            min-height: 68px;

            @media #{$screen_small} {
                min-height: 43px;
            }

            .header-left {
                padding: 30px 0;

                @media #{$screen_large} {
                    padding-top: 25px;
                    padding-bottom: 25px;
                }

                @media #{$screen_medium} {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    display: inline-block;
                }
            }

            .header-center {
                padding: 30px 40px;

                @media #{$screen_large} {
                    padding-top: 25px;
                    padding-bottom: 25px;
                }
                @media #{$screen_medium} {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    display: inline-block;
                }
            }

            .header-right {
                padding: 30px 0;

                @media #{$screen_large} {
                    padding-top: 25px;
                    padding-bottom: 25px;
                }
                @media #{$screen_medium} {
                    padding-top: 15px;
                    padding-bottom: 15px;
                }

                .header-minicart {
                    position: relative;
                    @if $rtl == 1 {
                        padding-left: 60px;
                    } @else {
                        padding-right: 60px;
                    }

                    @media #{$screen_small} {
                        position: static;
                        @if $rtl == 1 {
                            padding-left: 0;
                        } @else {
                            padding-right: 0;
                        }
                    }
                }

                .header-minicart-box {
                    position: relative;
                    @if $rtl == 1 {
                        padding-left: 85px;
                    } @else {
                        padding-right: 85px;
                    }

                    @media #{$screen_small} {
                        position: static;
                        @if $rtl == 1 {
                            padding-left: 0;
                        } @else {
                            padding-right: 0;
                        }
                    }
                }

                .searchform-popup {
                    @if $rtl == 1 {
                        margin-left: 3px;
                    } @else {
                        margin-right: 3px;
                    }
                }
            }

            #main-menu {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    .header-top {
        position: relative;
        z-index: 1;
        font-size: .7857em;
        @media #{$screen-normal} {
            .gap {
                display: none;
            }
            .switcher-gap {
                display: inline;
            }
        }
    }

    &.logo-center {
        .header-main .container {
            .header-left {
                width: 42%;
                @if $rtl == 1 {
                    padding-left: 20px;
                } @else {
                    padding-right: 20px;
                }
                @media #{$screen-normal} {
                    display: inline-block;
                    width: auto;
                }
            }
            .header-center {
                width: 16%;
                padding-left: 0;
                padding-right: 0;
                text-align: center;

                .logo {
                    margin: 0 auto !important;
                }

                @media #{$screen-normal} {
                    display: inline-block;
                    width: auto;
                    text-align: left;

                    .logo {
                        margin: 0 !important;
                    }
                }
            }
            .header-right {
                width: 42%;
                @if $rtl == 1 {
                    padding-right: 20px;
                } @else {
                    padding-left: 20px;
                }
                @media #{$screen-normal} {
                    width: auto;
                }
            }
        }
    }

    .gap {
        font-weight: 300;
        margin: 0 10px;
    }

    .mobile-show {
        display: none;
    }

    @media #{$screen-normal} {
        .mobile-hide {
            display: none;
        }
        .mobile-show {
            display: inline;
        }
    }

    &.sticky-header {
        .header-main.sticky {
            position: fixed;
            left: 0; right: 0;
            width: 100%;
            box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
            top: 0;
            @include transition(height 0.6s ease 0s);
            z-index: 1;

            .container {
                > div {
                    padding-top: 8px;
                    padding-bottom: 8px;

                    @media #{$screen_small} {
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                }
                &.absolute {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }

        .logo {
            min-width: 0;

            img {
                @include transform(scale(0.8));
            }

            @media #{$screen_small} {
                display: none;
            }
        }

        .main-menu-wrap {
            position: fixed;
            border-bottom-width: 0 !important;
            left: 0; right: 0;
            width: 100%;
            box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
            top: 0;
            z-index: 1;
            padding: 7px 0;
        }
    }

    .fixed-header & {
        position: fixed;
        left: 0; right: 0;
        width: 100%;
        top: auto;
        z-index: 1;

        .header-main,
        .main-menu-wrap {
            position: relative;
            top: 0;
        }

        &.sticky-header {
            .header-main,
            .main-menu-wrap {
                position: fixed;
            }
        }

        .header-top {
            display: none;
        }

        .header-main .container {
            > div {
                padding-top: 15px;
                padding-bottom: 15px;

                @media #{$screen-medium} {
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }
        }

        .searchform {
            @include transition(background 0.3s ease 0s, border 0.3s ease 0s);
        }

        .main-menu-wrap {
            @include transition(background 0.3s ease 0s);
            padding: 0;

            #main-menu .mega-menu {
                background: transparent;
            }
        }

        #main-menu {
            .mega-menu {
                @include transition(background 0.3s ease 0s);
            }
        }
    }
}

#header-boxed {
    padding-left: 0;
    padding-right: 0;
}

/* Logo */
#header {
    .logo {
        margin: 0;
        padding: 0;
        min-width: 110px;

        @media #{$screen-normal} {
            min-width: 0;
        }

        @media #{$screen-small} {
            text-align: center;
            margin: -15px auto 0;
        }

        a {
            display: inline-block;
            max-width: 100%;
        }
        img {
            display: inline-block;
            color: transparent;
            max-width: 100%;
            @include transition(all 0.2s ease 0s);
            @include transform-origin(0 center);
        }
    }
}

// Currency, View Switcher, Top Navigation, Welcome Message
#header {
    .welcome-msg {
        display: inline-block;
        vertical-align: middle;
    }

    .switcher-wrap {
        display: inline-block;
        white-space: nowrap;

        ul:first-child {
            @if $rtl == 1 {
                margin-right: 0;
            } @else {
                margin-left: 0;
            }
        }
    }

    .currency-switcher,
    .view-switcher,
    .top-links {
        font-size: .7857em;
        display: inline-block;
        vertical-align: middle;
        margin: 3px 0;

        li.menu-item {
            > a,
            > h5 {
                .flag {
                    display: inline-block;
                    width: 18px;
                    height: auto;
                    margin-top: -2px;
                    @if $rtl == 1 {
                        margin-left: 5px;
                    } @else {
                        margin-right: 5px;
                    }
                }
            }
        }

        > li.menu-item {
            &:after {
                content: "|";
                font-weight: 300;
                position: relative;
                top: -1px;
                @if $rtl == 1 {
                    margin: 0 4px 0 1px;
                } @else {
                    margin: 0 1px 0 4px;
                }
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            + li.menu-item {
                @if $rtl == 1 {
                    margin-right: 0;
                } @else {
                    margin-left: 0;
                }
            }
            > a,
            > h5 {
                font-size: 1em;
                font-weight: normal;
                padding: 0 5px;
                border-radius: $border-base;
                line-height: 26px;
            }
            &:hover {
                > a,
                > h5 {
                    border-radius: $border-base $border-base 0 0;
                }
            }
            &.has-sub {
                &:hover {
                    > a,
                    > h5 {
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                }
                > a,
                > h5 {
                    &:after {
                        content: $fa-var-caret-down;
                    }
                }
            }
            > .popup {
                margin-top: 0;
                border-width: 0;
            }
        }

        .narrow .popup {
            > .inner > ul.sub-menu {
                border-radius: 0 0 $border-medium $border-medium;
                box-shadow: none;
            }
            ul.sub-menu {
                padding: 5px;
                min-width: 0;
            }
            li.menu-item {
                > a,
                > h5 {
                    font-size: 1em;
                    padding: 0 7px;
                    line-height: 25px;
                    border-bottom-width: 0;
                    text-transform: uppercase;
                    background: transparent;
                }
            }
        }
    }

    .currency-switcher,
    .view-switcher {
        @if $rtl == 1 {
            margin-right: 11px;
        } @else {
            margin-left: 11px;
        }
    }

    .top-links {
        white-space: nowrap;

        @media #{$screen-normal} {
            display: none;
        }

        > li.menu-item {
            display: inline-block;
            @if $rtl == 1 {
                margin-right: -2px;
            } @else {
                margin-left: -2px;
            }
            float: none;

            &.active,
            &:hover,
            &.has-sub:hover {
                > a,
                > h5 {
                    background: transparent;
                }
            }
        }
    }

    .header-top {
        .currency-switcher,
        .view-switcher,
        .top-links {
            margin: 0;
            font-size: 1em;

            > li.menu-item {
                > a,
                > h5 {
                    padding-top: 5px !important;;
                    padding-bottom: 5px !important;;
                    border-radius: 0 !important;

                    @media #{$screen_large} {
                        padding-top: 3px !important;;
                        padding-bottom: 3px !important;;
                    }
                }
            }
        }
        .welcome-msg {
            line-height: 36px;

            @media #{$screen_large} {
                line-height: 32px;
            }
        }
    }
}

/* Search Form */
#header {
    .searchform {
        border: 1px solid #ccc;
        border-radius: $searchform-border;
        position: relative;
        display: inline-block;
        @if $searchform-border == 0 {
            line-height: 32px;
        } @else {
            line-height: 40px;
        }
        font-size: 13px;
        padding: 0;
        vertical-align: middle;
        width: 468px;
        @include clearfix;

        &:before {
            content: "";
            display: none;
            position: absolute;
            @if $rtl == 1 {
                right: 27px;
            } @else {
                left: 27px;
            }
            top: -23px;
            width: 22px;
            height: 22px;
            border: 11px solid transparent;
            border-bottom-color: inherit;
        }

        fieldset {
            margin-right: -2px;
        }

        @media #{$screen-large} {
            width: 368px;
        }

        @media #{$screen-normal} {
            border-width: 5px;
            border-radius: $searchform-border-large;
            width: 378px;
            display: none;
            position: absolute;
            @if $rtl == 1 {
                right: -30px;
            } @else {
                left: -30px;
            }
            top: 35px;
            z-index: 111;
            box-shadow: $menu-narrow-box-shadow;

            .autocomplete-suggestions {
                border-top-width: 5px;
            }

            &:before {
                display: block;
            }
        }

        .text,
        .cat,
        .button-wrap {
            @if $rtl == 1 {
                float: right;
            } @else {
                float: left;
            }
            display: inline-block;
        }
        input,
        select,
        button {
            background: transparent;
            border-radius: 0;
            @if $rtl == 1 {
                float: right;
            } @else {
                float: left;
            }
            border: none;
            @if $searchform-border == 0 {
                height: 32px;
                line-height: 32px;
            } @else {
                height: 40px;
                line-height: 40px;
            }
            outline: none;
            box-shadow: none;
            margin-bottom: 0;
        }
        input {
            @include searchform-input-padding;
            @if $rtl == 1 {
                border-radius: 0 $searchform-border $searchform-border 0;
            } @else {
                border-radius: $searchform-border 0 0 $searchform-border;
            }
            width: 420px + $searchform-extra-width;

            @media #{$screen-large} {
                width: 320px + $searchform-extra-width;
            }
        }
        &.searchform-cats {
            input {
                width: 290px + $searchform-extra-width;

                @media #{$screen-large} {
                    width: 190px + $searchform-extra-width;
                }
            }
        }
        button {
            font-size: 14px;
            @include searchform-button-padding;
            @if $rtl == 1 {
                border-radius: $searchform-border 0 0 $searchform-border;
            } @else {
                border-radius: 0 $searchform-border $searchform-border 0;
            }
            text-shadow: none;
        }
        select {
            @include searchform-select-padding;
            width: 130px;
            -moz-appearance: none;
        }
        input,
        select {
            @if $rtl == 1 {
                border-left: 1px solid #ccc;
            } @else {
                border-right: 1px solid #ccc;
            }
        }

        .autocomplete-suggestions {
            width: auto !important;
            @if $searchform-border == 0 {
                left: -1px;
                right: -1px;
            } @else {
                left: 15px;
                right: 15px;
            }
            padding: 0;
            border-radius: 0;
        }
        .autocomplete-suggestion {
            padding: 6px;
            line-height: 15px;
        }
    }
    &.search-md {
        .searchform {
            width: 398px;

            input {
                width: 350px + $searchform-extra-width;
            }
            &.searchform-cats {
                input {
                    width: 220px + $searchform-extra-width;
                }
            }

            @media #{$screen-large} {
                width: 338px;
                input {
                    width: 290px + $searchform-extra-width;
                }
                &.searchform-cats {
                    input {
                        width: 160px + $searchform-extra-width;
                    }
                }
            }
            @media #{$screen-normal} {
                width: 348px;
                input {
                    width: 292px + $searchform-extra-width;
                }
                &.searchform-cats {
                    input {
                        width: 162px + $searchform-extra-width;
                    }
                }
            }
        }
    }
    &.search-sm {
        .searchform {
            width: 348px;

            input {
                width: 300px + $searchform-extra-width;
            }
            &.searchform-cats {
                input {
                    width: 170px + $searchform-extra-width;
                }
            }

            @media #{$screen-large} {
                width: 288px;
                input {
                    width: 240px + $searchform-extra-width;
                }
                &.searchform-cats {
                    input {
                        width: 110px + $searchform-extra-width;
                    }
                }
            }
            @media #{$screen-normal} {
                width: 298px;
                input {
                    width: 242px + $searchform-extra-width;
                }
                &.searchform-cats {
                    input {
                        width: 112px + $searchform-extra-width;
                    }
                }
            }
        }
    }
    .searchform-popup {
        display: inline-block;
        position: relative;

        .search-toggle {
            cursor: pointer;
            display: none;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            position: relative;
            z-index: 112;

            @media #{$screen-normal} {
                display: block;
            }
        }
    }
    .show-menu-search {
        .searchform-popup {
            position: absolute;
            @if $rtl == 1 {
                right: 0;
            } @else {
                left: 0;
            }
            top: 0;
            bottom: 0;
            height: 30px;
            margin: auto;

            @media #{$screen-normal} {
                position: relative;
                @if $rtl == 1 {
                    right: 0;
                } @else {
                    left: 0;
                }
            }
        }
    }
    .search-popup {
        .search-toggle {
            display: inline-block;
        }
        .searchform {
            border-width: 5px;
            border-radius: $searchform-border-large;
            width: 478px;
            display: none;
            position: absolute;
            @if $rtl == 1 {
                right: -30px;
            } @else {
                left: -30px;
            }
            top: 35px;
            z-index: 111;
            box-shadow: $menu-narrow-box-shadow;

            @media #{$screen-large} {
                width: 378px;
            }

            &:before {
                display: block;
            }
        }
    }

    &.search-md {
        .search-popup {
            .searchform {
                width: 408px;

                @media #{$screen-large} {
                    width: 348px;
                }
            }
        }
    }

    &.search-sm {
        .search-popup {
            .searchform {
                width: 358px;

                @media #{$screen-large} {
                    width: 298px;
                }
            }
        }
    }

    .header-left {
        &.search-popup {
            .searchform-popup {
                @if $rtl == 1 {
                    right: 0;
                } @else {
                    left: 0;
                }
            }
            .searchform {
                @if $searchform-border == 0 {
                    top: -6px;
                } @else {
                    top: -10px;
                }
                @if $rtl == 1 {
                    right: 40px;
                } @else {
                    left: 40px;
                }

                &:before {
                    border-bottom-color: transparent;
                    @if $rtl == 1 {
                        border-left-color: inherit;
                        right: -23px;
                    } @else {
                        border-right-color: inherit;
                        left: -23px;
                    }
                    @if $searchform-border == 0 {
                        top: 5px;
                    } @else {
                        top: 9px;
                    }
                }
            }
        }

        @media #{$screen-normal} {
            .searchform-popup {
                @if $rtl == 1 {
                    right: 0;
                } @else {
                    left: 0;
                }
            }
            .searchform {
                @if $searchform-border == 0 {
                    top: -6px;
                } @else {
                    top: -10px;
                }
                @if $rtl == 1 {
                    right: 40px;
                } @else {
                    left: 40px;
                }

                &:before {
                    border-bottom-color: transparent;
                    @if $rtl == 1 {
                        border-left-color: inherit;
                        right: -23px;
                    } @else {
                        border-right-color: inherit;
                        left: -23px;
                    }
                    @if $searchform-border == 0 {
                        top: 5px;
                    } @else {
                        top: 9px;
                    }
                }
            }
        }
    }

    .header-right {
        &.search-popup {
            .searchform {
                @if $rtl == 1 {
                    right: auto;
                    left: -27px;
                } @else {
                    left: auto;
                    right: -27px;
                }
                &:before {
                    @if $rtl == 1 {
                        right: auto;
                        left: 27px;
                    } @else {
                        left: auto;
                        right: 27px;
                    }
                }
            }
        }

        @media #{$screen-normal} {
            .searchform {
                @if $rtl == 1 {
                    right: auto;
                    left: -27px;
                } @else {
                    left: auto;
                    right: -27px;
                }
                &:before {
                    @if $rtl == 1 {
                        right: auto;
                        left: 27px;
                    } @else {
                        left: auto;
                        right: 27px;
                    }
                }
            }
        }
    }

    .header-left,
    .header-center,
    .header-right {
        @media #{$screen-medium} {
            &,
            &.search-popup {
                .searchform {
                    width: 338px;

                    input {
                        width: 282px + $searchform-extra-width;
                    }

                    &.searchform-cats {
                        input {
                            width: 150px + $searchform-extra-width;
                        }
                    }
                }
            }
        }

        @media #{$screen-small} {
            &,
            &.search-popup {
                .searchform {
                    width: 288px;

                    input {
                        width: 236px + $searchform-extra-width;
                    }
                    &.searchform-cats {
                        input {
                            width: 120px + $searchform-extra-width;
                            padding: 0 15px;
                        }

                        select {
                            width: 116px;
                            @if $rtl == 1 {
                                padding: 0 5px 0 0;
                            } @else {
                                padding: 0 0 0 5px;
                            }
                        }
                    }
                }
                .searchform-popup {
                    position: absolute;
                    @if $rtl == 1 {
                        right: 45px;
                    } @else {
                        left: 45px;
                    }
                    top: 6px;
                    bottom: auto;

                    .searchform {
                        border-width: 3px;
                        @if $rtl == 1 {
                            left: auto;
                            right: -30px;
                        } @else {
                            right: auto;
                            left: -30px;
                        }
                        top: 35px;

                        &:before {
                            width: 14px;
                            border-width: 7px;
                            @if $rtl == 1 {
                                right: 34px;
                                left: auto;
                            } @else {
                                left: 34px;
                                right: auto;
                            }
                            top: -23px;
                            border-color: transparent;
                            border-bottom-color: inherit;
                        }
                    }
                }

                .autocomplete-suggestions {
                    border-top-width: 3px;
                }
            }
        }
    }
}

/* Header Contact Block */
#header {
    .header-contact {
        margin: 5px 0;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;

        p {
            margin-bottom: 0;
        }
        a {
            font-size: .8571em;
        }
        .gap {
            margin: 0 12px;
        }
        i {
            display: inline-block;
            margin: 0 5px;
        }

        .nav-top {
            a,
            span {
                font-size: 0.9em;
                padding: 6px 10px;
            }

            i {
                position: relative;
                top: 1px;
                @if $rtl == 1 {
                    margin-left: 6px;
                    margin-right: 0;
                } @else {
                    margin-right: 6px;
                    margin-left: 0;
                }
            }

            span {
                display: block;
                line-height: 14px;
                margin-bottom: 2px;
                margin-top: 5px;
            }
        }
    }

    .header-top {
        .header-contact {
            margin: 0;

            font-size: 1.15em;

            a,
            span {
                font-size: 1em;
            }
        }
    }
}

/* Social Links */
#header {
    .share-links {
        display: inline-block;
        @if $rtl == 1 {
            margin: 5px 15px 5px 0;
        } @else {
            margin: 5px 0 5px 15px;
        }
        vertical-align: middle;

        > a {
            @include transition (all 0.3s ease);
            box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.3);
        }
    }
    .header-top {
        .share-links {
            @if $rtl == 1 {
                margin: 0 -5px 0 5px;
            } @else {
                margin: 0 5px 0 -5px;
            }
            font-size: 1.4545em;

            > a {
                width: 1.75em;
                height: 2em;
                margin: 0;
                background: transparent;
                box-shadow: none;
            }
        }
    }
}

/* Mini Cart */
#mini-cart {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    bottom: 50%;
    @if $rtl == 1 {
        left: 0;
    } @else {
        right: 0;
    }
    height: 44px;
    margin: -22px auto;

    .cart-head {
        position: relative;
        cursor: pointer;
        margin-top: 0;
        min-width: 50px;
        text-align: center;
    }
    .minicart-icon {
        font-size: 36px;
        vertical-align: middle;
        display: inline-block;
    }
    .cart-items {
        position: absolute;
        font-size: 15px;
        font-weight: 600;
        bottom: 10px;
        left: 0;
        right: 0;
        top: 11px;
        text-align: center;
        display: inline-block;

        .items-loading {
            width: 16px;
            height: 16px;
            display: inline-block;
            background: transparent url(../images/ajax-loader@2x.gif) no-repeat scroll center center / 16px 16px;
            margin-top: -4px;
            vertical-align: middle;
        }
    }

    &.minicart-box {
        width: 68px;
        height: 60px;
        text-align: center;
        border: 1px solid #e6e6e6;
        margin: -30px auto;

        .cart-head {
            margin-top: 11px;
        }
    }

    &.minicart-inline {
        font-size: 0.7857em;
        width: auto;
        height: auto;
        position: relative;
        top: auto;
        bottom: auto;
        @if $rtl == 1 {
            margin: 3px 7px 3px 0;
        } @else {
            margin: 3px 0 3px 7px;
        }
        border-radius: $border-base;

        .minicart-icon {
            font-size: 1.2727em;
            vertical-align: top;
        }
        .cart-head {
            padding: 0 10px;
            line-height: 26px;
            height: 26px;
            white-space: nowrap;
            margin-top: 1px;
            margin-bottom: -1px;
        }
        .cart-items {
            font-size: 1em;
            @if $rtl == 1 {
                margin-right: 3px;
            } @else {
                margin-left: 3px;
            }
            position: relative;
            top: -1px;
        }
        .cart-popup {
            margin-top: 8px;

            &:before {
                @if $rtl == 1 {
                    left: 18px;
                } @else {
                    right: 18px;
                }
            }
        }
    }

    @media #{$screen-small} {
        #header & {
            font-size: .8462em;
            width: auto;
            height: auto;
            position: absolute;
            @if $rtl == 1 {
                left: 15px;
            } @else {
                right: 15px;
            }
            top: 9px;
            bottom: auto;
            margin: 0;
            border-radius: $border-base;
            border-width: 0;

            .minicart-icon {
                font-size: 1.2727em;
                vertical-align: baseline;
            }
            .cart-head {
                padding: 0 10px;
                line-height: 26px;
                height: 26px;
                margin: 0;
                white-space: nowrap;
            }
            .cart-items {
                font-size: 1em;
                @if $rtl == 1 {
                    margin-right: 3px;
                } @else {
                    margin-left: 3px;
                }
                position: relative;
                top: -3px;
                vertical-align: middle;
            }
            .cart-popup {
                margin-top: 8px;

                &:before {
                    @if $rtl == 1 {
                        left: 18px;
                    } @else {
                        right: 18px;
                    }
                }
            }
        }
    }

    .cart-popup {
        width: 340px;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;

        @if $rtl == 1 {
            left: 0;
            right: auto;
        } @else {
            left: auto;
            right: 0;
        }
        padding: 0;
        border-radius: $border-medium;
        border: none;
        border-top: 10px solid #ccc;
        box-shadow: $menu-narrow-box-shadow;

        &:before {
            content: '';
            position: absolute;
            top: -17px;
            @if $rtl == 1 {
                left: 17px;
            } @else {
                right: 17px;
            }
            border-left: 8px solid transparent !important;
            border-right: 8px solid transparent !important;
            border-bottom: 8px solid #ccc;

            .header-minicart-box & {
                @if $rtl == 1 {
                    left: 25px;
                } @else {
                    right: 25px;
                }
            }
        }

        .widget_shopping_cart_content {
            @if $dark == 1 {
                background: $color-dark-3;
            } @else {
                background: #fff;
            }
            border-radius: $border-medium;
            margin-top: -5px;
            padding: 15px;
        }

        @media #{$screen-medium} {
            width: 290px;
        }
    }

    .widget_shopping_cart {
        li.empty {
            text-align: center;
            padding: 10px 0;
        }
        .buttons {
            margin-bottom: 0;
        }
        .cart-loading {
            height: 64px;
            width: 100%;
            background: transparent url(../images/ajax-loader@2x.gif) no-repeat scroll center center / 16px 16px;
            @include opacity(0.6);
        }
    }
    .cart_list {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;

        &.scroll-scrolly_visible {
            li {
                @if $rtl == 1 {
                    padding-left: 20px;
                } @else {
                    padding-right: 20px;
                }
            }
        }
    }
}

/* Main Menu */
.main-menu-wrap {
    @media #{$screen-normal} {
        display: none;
    }

    .mega-menu {
        > li.menu-item {
            > a,
            > h5 {
                padding: 10px 13px;
            }

            &.has-sub {
                &:hover {
                    > a,
                    > h5 {
                        margin-bottom: -1px;
                        padding-bottom: 11px;
                }
            }
        }
        }
    }

    #main-menu {
        .mega-menu {
            .menu-custom-block {
                padding: 0;
                margin: 0;

                a,
                span {
                    padding: 10px 13px 9px;
                    font-weight: $font-weight-bold;
                }

                .tip {
                    top: -5px;
                }
            }
        }
    }
}
#main-menu {
    position: relative;

    @media #{$screen-small} {
        display: inline !important;
    }

    .mega-menu {
        border-radius: $border-medium;

        @media #{$screen-normal} {
            display: none;
        }
    }

    #header .header-main .container & {

        .mega-menu {
            @if $rtl == 1 {
                text-align: right;
            } @else {
                text-align: left;
            }
            background: transparent;

            > li.menu-item {
                @if $rtl == 1 {
                    margin: 1px 2px 1px 0;
                } @else {
                    margin: 1px 0 1px 2px;
                }

                &:first-child {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }

    &.centered {
        .mega-menu {
            text-align: center;
            > li.menu-item {
                float: none;
                display: inline-block;
                margin: 0 -1px;
            }
        }
    }

    .header-center.show-menu-search & {
        @if $rtl == 1 {
            padding-right: 35px;
        } @else {
            padding-left: 35px;
        }

        @media #{$screen-normal} {
            @if $rtl == 1 {
                padding-right: 0;
            } @else {
                padding-left: 0;
            }
        }
    }
    .header-left.show-menu-search & {
        @if $rtl == 1 {
            padding-right: 40px;
        } @else {
            padding-left: 40px;
        }

        @media #{$screen-normal} {
            @if $rtl == 1 {
                padding-right: 0;
            } @else {
                padding-left: 0;
            }
        }
    }

    .menu-custom-block {
        padding: 10px 0 9px;
        line-height: 21px;
        font-weight: $font-weight-semibold;
        font-size: .8571em;
        @if $rtl == 1 {
            margin-right: -10px;
        } @else {
            margin-left: -10px;
        }

        a,
        span {
            display: inline-block;
            padding: 0 15px;
            position: relative;
        }

        a {
            text-transform: uppercase;
        }

        .tip {
            color: #fff;
            display: inline-block;
            font-size: 9px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            border-radius: $border-small;
            line-height: 1;
            padding: 2px;
            position: absolute;
            top: -14px;
            @if $rtl == 1 {
                left: 10px;
                margin-right: 10px;
            } @else {
                right: 10px;
                margin-left: 10px;
            }

            &.hot {
                background-color: #eb2771;

                .tip-arrow:before {
                    color: #eb2771;
                }
            }

            .tip-arrow:before {
                display: inline-block;
                font-family: "Elusive-Icons";
                font-size: 5px;
                font-style: normal;
                position: absolute;
                width: auto;
                height: auto;
                margin: auto;
                top: auto;
                bottom: -3px;
                content: $el-var-caret-down;
                @if $rtl == 1 {
                    right: 2px;
                    text-align: left;
                } @else {
                    left: 2px;
                    text-align: right;
                }
            }
        }

        .fa {
            text-align: center;
        }
        .fa,
        .avatar {
            @if $rtl == 1 {
                margin-left: 5px;
            } @else {
                margin-right: 5px;
            }
        }
        .avatar img {
            margin-top: -5px;
            margin-bottom: -4px;
        }
    }
}

// Mobile Header
#header {
    @media #{$screen-normal} {
        .contact-gap {
            display: none;
        }
    }

    @media #{$screen-medium} {
        .header-top {
            display: none;
        }
        .header-contact {
            display: none;
        }
        .switcher-wrap {
            display: none;
        }
        .gap {
            display: none;
        }
    }

    @media #{$screen-small} {
        .header-main .container {
            display: block;
            padding-top: 28px;
            padding-bottom: 15px;
            > * {
                display: inline !important;
                padding: 0 !important;
                position: static !important;

                #main-menu {
                    display: inline;
                    position: static;
                }
            }
        }
    }
}

// Main Toggle Menu
#main-toggle-menu {
    position: relative;

    @media #{$screen-normal} {
        overflow: hidden;
    }

    .menu-title {
        color: #fff;
        cursor: pointer;
        background: #303030;
        font-size: .8571em;
        font-weight: $font-weight-bold;
        line-height: 20px;
        padding: 10px 15px;
        margin: 0;
        text-transform: uppercase;
        position: relative;
        @include transition($transition);

        &:hover {
            background-color: #555;
        }

        .toggle {
            display: inline-block;
            font-family: "FontAwesome";

            @if $rtl == 1 {
                margin: 0 0 0 5px;
            } @else {
                margin: 0 5px 0 0;
            }

            &:before {
                content: $fa-var-navicon;
            }
        }
    }

    .toggle-menu-wrap {
        display: none;
        position: absolute;
        @if $rtl == 1 {
            right: 0;
        } @else {
            left: 0;
        }
        top: 100%;
        width: 100%;
        background: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, .4);

        > ul {
            border-bottom: 5px solid #303030;
        }
    }

    &.closed {
        .toggle-menu-wrap {
            display: none;
        }
    }

    &.show-always {
        .menu-title {
            background: #303030;
            cursor: default;
        }

        .toggle-menu-wrap {
            height: auto !important;
            display: block !important;
        }
    }

    .sidebar-menu {
        > li.menu-item {
            &:last-child {
                &:hover {
                    border-radius: 0;

                    .right-sidebar & {
                        border-radius: 0;
                    }
                }
            }
        }
    }
}

// Mobile Menu
#header {
    .mobile-toggle {
        cursor: pointer;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: none;

        @media #{$screen-normal} {
            display: inline-block;
        }

        @media #{$screen-small} {
            position: absolute;
            @if $rtl == 1 {
                right: 15px;
            } @else {
                left: 15px;
            }
            top: 6px;
        }
    }
}

