/* Buttons */

button {
    border: 1px solid #ccc;
}

.btn-icon i {
    @if $rtl == 1 {
        margin-left: 10px;
    } @else {
        margin-right: 10px;
    }
}

.btn-icon-right i {
    @if $rtl == 1 {
        margin-left: 0;
        margin-right: 10px;
    } @else {
        margin-right: 0;
        margin-left: 10px;
    }
}

.btn-flat {
    display: inline-block;
}