/* Owl Carousel */
.owl-carousel {
    position: relative;

    .owl-wrapper-outer {
        border-radius: $border-base;
    }
    .thumbnail,
    .img-thumbnail {
        max-width: $thumbnail-slide-width;

        img {
            width: 100%;
        }
    }
    .img-responsive {
        display: inline-block;
    }
}

.owl-theme .owl-controls {
    margin-top: 20px;
    .owl-buttons div {
        border-radius: $border-base;
        border-bottom: 2px solid transparent;
        filter: alpha(opacity = 100);
        opacity: 1;
        padding: 1px 9px;
        margin: 2px;
    }
    .owl-buttons {
        div {
            background: transparent;
            border-radius: 0;
            position: absolute;
            top: 50%;
            font-family: "FontAwesome";
            font-size: 1.2857em;
        }
        .owl-prev {
            @if $rtl == 1 {
                right: 0;
            } @else {
                left: 0;
            }
            &:before {
                @if $rtl == 1 {
                    content: $fa-var-chevron-right;
                } @else {
                    content: $fa-var-chevron-left;
                }
            }
        }
        .owl-next {
            @if $rtl == 1 {
                left: 0;
            } @else {
                right: 0;
            }
            &:before {
                @if $rtl == 1 {
                    content: $fa-var-chevron-left;
                } @else {
                    content: $fa-var-chevron-right;
                }
            }
        }
    }
    .owl-page {
        span {
        }
    }
}

.owl-item.loading {
    .img-thumbnail {
        min-height: 100px;
        visibility: hidden;
    }
}

/* Responsive */
@media (max-width: 479px) {



}

/* Slick Slider */
.slick-slider {
    .slick-dots li{
        @include opacity(0.5);

        &.slick-active,
        &:hover {
            @include opacity(1);
        }
    }
    .slick-prev {
        @if $rtl == 1 {
            right: 10px;
        } @else {
            left: 10px;
        }
        text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
    }
    .slick-next {
        @if $rtl == 1 {
            left: 10px;
        } @else {
            right: 10px;
        }
        text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
    }

    @media #{$screen-medium} {
        .slick-prev,
        .slick-next {
            display: none !important;
        }
    }

    &.dots-inner {
        ul.slick-dots {
            position: absolute !important;
            bottom: 10px !important;
        }
    }
}

[dir="rtl"] .slick-prev:before,
[dir="rtl"] .slick-next:before {
    display: none;
}

[dir="rtl"] .slick-prev i:before {
    content: "\e60d";
}
[dir="rtl"] .slick-next i:before {
    content: "\e60c";
}

@mixin animate-spin {
    -moz-animation: spin .8s infinite linear;
    -o-animation: spin .8s infinite linear;
    -webkit-animation: spin .8s infinite linear;
    animation: spin .8s infinite linear;
    display: inline-block;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.owl-item.loading,
.yith-wcan-loading{
    position: relative;
}
#fancybox-loading div {
    background-image: none;
    display: none;
}
.owl-item.loading,
.yith-wcan-loading,
.master-slider .ms-loading-container .ms-loading,
.master-slider .ms-slide .ms-slide-loading,
#fancybox-loading,
.blueimp-gallery > .slides > .slide-loading,
.slick-slider .slick-loading .slick-list,
.ult-carousel-wrapper > div:first-child > .ult-item-wrap:first-child,
#infscr-loading .infinite-loading {
    background-image: none;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    @include opacity(1);

    &:before {
        content: " ";
        display: inline-block !important;
        border-width: 3px 5px 2px 0;
        width: 32px;
        height: 32px;
        @include animate-spin;
        border-image: none;
        border-radius: 20px;
        border-style: solid;
        border-bottom-color: transparent !important;
        vertical-align: middle;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}