/* Featured Box */
.featured-box {
    @if $dark == 1 {
        background: $color-dark-4;
        border-bottom: 1px solid $color-dark-4;
        border-left: 1px solid $color-dark-4;
        border-right: 1px solid $color-dark-4;
    } @else {
        background: #F5F5F5;
        @include background(linear-gradient(to bottom, #FFF 1%, #F9F9F9 98%) repeat scroll 0 0 rgba(0, 0, 0, 0));
        border-bottom: 1px solid #DFDFDF;
        border-left: 1px solid #ECECEC;
        border-right: 1px solid #ECECEC;
    }
    @include box-sizing(border-box);
    border-radius: $border-strong;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    min-height: 100px;
    position: relative;
    text-align: center;
    z-index: 1;

    &.align-left {
        @if $rtl == 1 {
            text-align: right;
        } @else {
            text-align: left;
        }
    }
    &.align-center {
        text-align: center;
    }
    &.align-right {
        @if $rtl == 1 {
            text-align: left;
        } @else {
            text-align: right;
        }
    }
    &.align-justify {
        text-align: justify;
    }

    h2,
    h3,
    h4,
    .aio-icon-header h3.aio-icon-title {
        cursor: default;
        font-size: 1.3em;
        font-weight: 400;
        letter-spacing: -0.7px;
        line-height: 1.42857;
        margin-top: 5px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .box-content {
        border-radius: $border-strong;
        border-top: 4px solid #33B8FF;
        position: relative;
        top: -1px;
        padding: 30px 30px 10px 30px;
    }
    .learn-more {
        display: block;
        margin-top: 10px;
    }

    .aio-icon-box {
        margin-top: 15px;
        margin-bottom: 25px;
    }
}