/* Headings */
h1, h2, h3, h4, h5, h6 {
    @if $dark == 1 {
        color: #fff;
    } @else {
        color: $color-dark;
    }
    font-weight: 200;
    letter-spacing: -1px;
    margin: 0;
    text-transform: none;
}

h1 {
    font-size: 2.4em;
    line-height: 44px;
    margin: 0 0 44px 0;
}

h2 {
    font-size: 2.0em;
    font-weight: 300;
    line-height: 42px;
    margin: 0 0 32px 0;
}

h3 {
    font-size: 1.7em;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin:0 0  33px 0;
}

h4 {
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 27px;
    margin: 0 0 14px 0;
}

h5 {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 18px;
    margin: 0 0 14px 0;
}

h6 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 18px;
    margin: 0 0 14px 0;
}

h1 {
    &.big {
        font-size: 4.2em;
        line-height: 54px;
    }
    &.short {
        margin-bottom: 15px;
    }
}

h2.short {
    margin-bottom: 15px;
}

h3.short,
h4.short,
h5.short,
h6.short {
    margin-bottom: 9px;
}

h1.shorter,
h2.shorter,
h3.shorter,
h4.shorter,
h5.shorter,
h6.shorter {
    margin-bottom: 0;
}

h1.tall,
h2.tall,
h3.tall,
h4.tall,
h5.tall,
h6.tall {
    margin-bottom: 33px;
}

h1.taller,
h2.taller,
h3.taller,
h4.taller,
h5.taller,
h6.taller {
    margin-bottom: 44px;
}

h1.spaced,
h2.spaced,
h3.spaced,
h4.spaced,
h5.spaced,
h6.spaced {
    margin-top: 22px;
}

h1.more-spaced,
h2.more-spaced,
h3.more-spaced,
h4.more-spaced,
h5.more-spaced,
h6.more-spaced {
    margin-top: 44px;
}

h1.dark,
h2.dark,
h3.dark,
h4.dark,
h5.dark {
    color: $color-dark;
}

h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white {
    color: #FFF;
}

h1.text-shadow,
h2.text-shadow,
h3.text-shadow,
h4.text-shadow,
h5.text-shadow,
h6.text-shadow {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

h2 .inverted {
	min-height: 60px;
}

/* Responsive */
@media (max-width: 479px) {

	h2 {
        line-height: 40px;
	}

}

@media (max-width: 767px) {

	h1.big {
        font-size: 3.2em;
        line-height: 42px;
	}

}

.heading-bold {
    font-weight: 600 !important;

    strong {
        font-weight: 800 !important;
    }
}

.page-title {
    margin-top: 0;
}