
img {
    @include user-select(none);
    -webkit-user-drag: none;
    -moz-user-drag: none;
}

.thumbnail,
.img-thumbnail {
    &.full {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

/* Thumbnails */
.img-thumbnail {
    border-radius: $border-strong;
    position: relative;
    .zoom {
        border-radius: 100%;
        bottom: 4px;
        cursor: pointer;
        color: #FFF;
        display: block;
        height: 30px;
        padding: 0;
        position: absolute;
        @if $rtl == 1 {
            left: 4px;
        } @else {
            right: 4px;
        }
        text-align: center;
        width: 30px;
        @include opacity(0);
        @include transition(all 0.3s);
        i {
            font-size: 14px;
            line-height: 28px;
        }
    }
    .link {
        @include transition (all 0.3s);
        color: #fff;
        display: inline-block;
        font-size: 25px;
        height: 50px;
        line-height: 50px;
        position: absolute;
        @if $rtl == 1 {
            border-radius: 0 0 25px 0;
            left: -100px;
        } @else {
            border-radius: 0 0 0 25px;
            right: -100px;
        }
        text-align: center;
        top: -100px;
        width: 50px;
        i {
            font-size: 24px;
            @if $rtl == 1 {
                right: 3px;
            } @else {
                left: 3px;
            }
            position: relative;
            top: -4px;
        }
    }
    &:hover {
        .zoom {
            @include opacity(1);
        }
        .link {
            @if $rtl == 1 {
                left: 0;
            } @else {
                right: 0;
            }
            top: 0;
        }
    }
    .inner {
        overflow: hidden;
        position: relative;
    }
}

.thumbnail {
    .zoom {
        border-radius: 100%;
        bottom: 4px;
        cursor: pointer;
        color: #FFF;
        display: block;
        height: 30px;
        padding: 0;
        position: absolute;
        @if $rtl == 1 {
            left: 4px;
        } @else {
            right: 4px;
        }
        text-align: center;
        width: 30px;
        @include opacity(0);
        @include transition(all 0.3s);
        i {
            font-size: 14px;
            line-height: 28px;
        }
    }
    &:hover {
        .zoom {
            @include opacity(1);
        }
    }
}

.gallery-row {
    margin: 0 -4px;
}

.img-opacity-effect {
    a {
        img {
            border-radius: $border-thick;
            @include transition(opacity 0.2s ease-in-out 0s);
            overflow: hidden;
        }
        img:hover {
            @include opacity(.9);
        }
    }
}

/* Responsive */
@media (max-width: 991px) {

}
