/* Miscellaneous */
body a {
    outline: none !important;
}

li {
    line-height: 24px;
}

.inline-block {
    display: inline-block;
}

.center {
    text-align: center;
}

.push-bottom {
    margin-bottom: 35px;
}

.push-top {
    margin-top: 35px;
}

.block-nowrap {
    display: inline-block;
    white-space: nowrap;

    @media #{$screen_small} {
        display: inline;
    }
}

.block-inline {
    display: inline-block;

    @media #{$screen_small} {
        display: inline;
    }
}

.pt-left {
    @if $rtl == 1 {
        float: right !important;
    } @else {
        float: left !important;
    }
}

.pt-right {
    @if $rtl == 1 {
        float: left !important;
    } @else {
        float: right !important;
    }
}

.bold {
    font-weight: bold;
}

.inverted {
    color: #FFF;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.ms-btn, .ms-btn:hover, .ms-btn:active {
    text-decoration: none;
}

/* Clearfix */
.clearfix {
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* Divider Line */
hr {
    @if $dark == 1 {
        @include background-image(linear-gradient(left, transparent, rgba(255, 255, 255, 0.15), transparent));
    } @else {
        @include background-image(linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent));
    }
    border: 0;
    height: 1px;
    margin: 22px 0;
    &.short {
        margin: 11px 0;
    }
    &.tall {
        margin: 44px 0;
    }
    &.taller {
        margin: 66px 0;
    }
    &.solid {
        @if $dark == 1 {
            background: rgba(255, 255, 255, 0.15);
        } @else {
            background: rgba(0, 0, 0, 0.15);
        }
    }
    &.light {
        @if $dark == 1 {
            @include background-image(linear-gradient(left, transparent, rgba(255, 255, 255, 0.15), transparent));
        } @else {
            @include background-image(linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent));
        }
    }
    &.invisible {
        background: none;
    }
}

.porto-separator {
    margin: 0 0 22px;
    &.short {
        margin: -11px 0 11px;
    }
    &.tall {
        margin: 22px 0 44px;
    }
    &.taller {
        margin: 44px 0 66px;
    }

    .separator-line {
        margin: 0 auto;

        &.align_left {
            @if $rtl == 1 {
                margin: 0 0 0 auto;
            } @else {
                margin: 0 auto 0 0;
            }
        }
        &.align_center {
            margin: 0 auto;
        }
        &.align_right {
            @if $rtl == 1 {
                margin: 0 auto 0 0;
            } @else {
                margin: 0 0 0 auto;
            }
        }
    }

    .separator-line-50 {
        width: 50%;
    }
    .separator-line-60 {
        width: 60%;
    }
    .separator-line-70 {
        width: 70%;
    }
    .separator-line-80 {
        width: 80%;
    }
    .separator-line-90 {
        width: 90%;
    }
}

.alert {
    a {
        text-decoration: none;
    }
}

.m-b-none {
    margin-bottom: 0 !important;
}

.br-none {
    border-radius: 0 !important;
}

.br-normal {
    border-radius: $border-normal !important;
}

.br-thick {
    border-radius: $border-thick !important;
}

.color-white {
    color: $color-white !important;

    a {
        color: $color-white !important;
    }
}

table {
    width: 100%;

    p {
        margin: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

embed, iframe, object, video {
    max-width: 100%;
    vertical-align: middle;
}

ul, ol {
    margin-bottom: 25px;
}

th,
td {
    padding: 8px;
}

dt,
dd {
    padding: 8px 0;
}