
.nav-pills > li {
    margin-bottom: 2px;
}

/* Navs */
ul {
    &.nav-list.primary > li {
        margin: 0;
        padding: 0;
        a {
            @include transition (all 0.3s);
            @if $dark == 1 {
                border-bottom: 1px solid $color-dark-4;
            } @else {
                border-bottom: 1px solid #EDEDDE;
            }
            padding: 8px 0;
            &:before {
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                @if $rtl == 1 {
                    @if $dark == 1 {
                        border-right: 4px solid #555;
                    } @else {
                        border-right: 4px solid #333;
                    }
                } @else {
                    @if $dark == 1 {
                        border-left: 4px solid #555;
                    } @else {
                        border-left: 4px solid #333;
                    }
                }
                margin-left: 5px;
                margin-right: 5px;
                position: relative;
            }
        }
    }
}