/* Section Title */
.section-title {
    font-size: 1.1429em;
    line-height: 1.4;
    font-weight: $font-weight-bold;
    color: $color-widget-title;
    text-transform: uppercase;
    margin-bottom: 1.25em;
    letter-spacing: normal;
}

