
/* Porto Concept */
.porto-concept {
    @if $dark == 1 {
        background: transparent url(../images/concept-dark.png) no-repeat center 0;
    } @else {
        background: transparent url(../images/concept.png) no-repeat center 0;
    }
    width: 100%;
    overflow: hidden;
    strong {
        display: block;
        font-family: $font-secondary;
        font-size: 2.1em;
        font-weight: normal;
        position: relative;
        margin-top: 30px;
    }
    .row {
        position: relative;
    }
    .process-image {
        @if $dark == 1 {
            background: transparent url(../images/concept-item-dark.png) no-repeat 0 0;
        } @else {
            background: transparent url(../images/concept-item.png) no-repeat 0 0;
        }
        width: 160px;
        height: 175px;
        margin: 135px auto 0 auto;
        padding-bottom: 50px;
        position: relative;
        z-index: 1;
        img {
            border-radius: 150px;
            margin: 7px 8px;
        }
    }
    .our-work {
        margin-top: 52px;
        font-size: 2.6em;
    }
    .project-image {
        @if $dark == 1 {
            background: transparent url(../images/concept-item-dark.png) no-repeat 100% 0;
        } @else {
            background: transparent url(../images/concept-item.png) no-repeat 100% 0;
        }
        width: 350px;
        height: 420px;
        @if $rtl == 1 {
            margin: 15px -30px 0 0;
        } @else {
            margin: 15px 0 0 -30px;
        }
        padding-bottom: 45px;
        position: relative;
        z-index: 1;
    }
    .sun {
        @if $dark == 1 {
            background: transparent url(../images/concept-icons-dark.png) no-repeat 0 0;
        } @else {
            background: transparent url(../images/concept-icons.png) no-repeat 0 0;
        }
        width: 60px;
        height: 56px;
        display: block;
        position: absolute;
        @if $rtl == 1 {
            right: 10%;
        } @else {
            left: 10%;
        }
        top: 35px;
    }
    .cloud {
        @if $dark == 1 {
            background: transparent url(../images/concept-icons-dark.png) no-repeat 100% 0;
        } @else {
            background: transparent url(../images/concept-icons.png) no-repeat 100% 0;
        }
        width: 116px;
        height: 56px;
        display: block;
        position: absolute;
        @if $rtl == 1 {
            right: 57%;
        } @else {
            left: 57%;
        }
        top: 35px;
    }
}

/* Responsive */
@media (max-width: 991px) {

    .porto-concept {
        background: none;
        .project-image {
            margin: 60px auto 0 auto;
        }
        .process-image {
            margin-top: 60px;
        }
    }

}

@media (max-width: 479px) {

    .porto-concept {
        .project-image {
            background-position: 0 0;
            @if $rtl == 1 {
                margin-right: auto;
            } @else {
                margin-left: auto;
            }
            max-width: 160px;
            max-height: 220px;
        }
        .fc-slideshow {
            max-height: 145px;
            max-width: 145px;
            img {
                max-height: 145px;
                max-width: 145px;
            }
        }
    }
}

/* Porto Map Section */
.porto-map-section {
    @if $dark == 1 {
        background: transparent url(../images/map-dark.png) center 0 no-repeat;
    } @else {
        background: transparent url(../images/map.png) center 0 no-repeat;
    }
    padding-top: 164px;
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;

    .map-content {
        @if $dark == 1 {
            background-color: rgba(33, 38, 45, 0.8);
            border-top: 5px solid rgba(40, 45, 54, 0.8);
        } @else {
            background-color: rgba(244, 244, 244, 0.8);
            border-top: 5px solid rgba(241, 241, 241, 0.8);
        }
        padding: 50px 15px 30px;
        min-height: 400px;
        margin-top: 0;

        article.post,
        .post-item {
            .post-date .day {
                background-color: #fff;
            }
        }
    }
}