/* Timeline */
section.timeline {
    width: 74%;
    margin: 50px 13% 0;
    position: relative;
    @if $rtl == 1 {
        float: right;
    } @else {
        float: left;
    }
    padding-bottom: 120px;

    .column2 & {
        width: 100%;
        margin: 50px 0 0;
    }

    &:after {
        background: rgb(80,80,80);
        background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
        background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: -60px;
        left: 0;
        right: 0;
        margin: auto;
        width: 3px;
        z-index: 0;
        filter: alpha(opacity = 35);
        opacity: 0.35;
    }
    .timeline-date {
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
        position: relative;
        display: block;
        clear: both;
        width: 200px;
        height: 45px;
        padding: 5px;
        @if $dark == 1 {
            border: 1px solid $color-dark-3;
            background: $color-dark-3;
            text-shadow: none;
        } @else {
            border: 1px solid #E5E5E5;
            background: #FFF;
            text-shadow: 0 1px 1px #fff;
        }
        margin: 0 auto 10px;
        border-radius: $border-base;
        z-index: 1;
        h3 {
            display: block;
            text-align: center;
            text-transform: uppercase;
            color: #757575;
            font-size: 0.9em;
            line-height: 32px;
            margin: 2px 0 0;
        }
    }
    .timeline-title {
        @if $dark == 1 {
            background: $color-dark-3;
        } @else {
            background: #F4F4F4;
        }
        padding: 12px;
        h4 {
            padding: 0;
            margin: 0;
            color: #171717;
            font-size: 1.4em;
        }
        a {
            color: #171717;
        }
        .timeline-title-tags {
            color: #B1B1B1;
            font-size: 0.9em;
            a {
                color: #B1B1B1;
                font-size: 0.9em;
            }
        }
    }
    .timeline-box {
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
        border-radius: $border-base;
        margin: 20px 3% 10px;
        padding: 10px;
        position: relative;
        width: 44%;
        @if $rtl == 1 {
            float: right;
        } @else {
            float: left;
        }
        z-index: 1;
        margin-bottom: 30px;
        @if $dark == 1 {
            border: 1px solid $color-dark-3;
            background: $color-dark-3;
        } @else {
            border: 1px solid #E5E5E5;
            background: #FFF;
        }
        &.left {
            clear: both;
            &:before {
                @if $dark == 1 {
                    box-shadow: 0 0 0 3px $color-dark-3, 0 0 0 6px $color-dark-3 !important;
                    background: $color-dark-3;
                } @else {
                    box-shadow: 0 0 0 3px #FFF, 0 0 0 6px #E5E5E5;
                    background: #E5E5E5;
                }
                border-radius: 50%;
                content: "";
                display: block;
                height: 7px;
                @if $rtl == 1 {
                    margin-left: -8px;
                    left: -6%;
                } @else {
                    margin-right: -8px;
                    right: -6%;
                }
                position: absolute;
                top: 22px;
                width: 8px;
            }
            &:after {
                @include transform(rotate(45deg));
                @if $dark == 1 {
                    background: $color-dark-3;
                    @if $rtl == 1 {
                        border-right: 1px solid $color-dark-3;
                    } @else {
                        border-left: 1px solid $color-dark-3;
                    }
                    border-top: 1px solid $color-dark-3;
                } @else {
                    @if $rtl == 1 {
                        border-left: 1px solid #E5E5E5;
                    } @else {
                        border-right: 1px solid #E5E5E5;
                    }
                    background: #FFF;
                    border-top: 1px solid #E5E5E5;
                }
                content: "";
                display: block;
                height: 14px;
                position: absolute;
                @if $rtl == 1 {
                    left: -8px;
                } @else {
                    right: -8px;
                }
                top: 20px;
                width: 14px;
                z-index: 0;
            }
        }
        &.right {
            @if $rtl == 1 {
                clear: left;
                float: left;
            } @else {
                clear: right;
                float: right;
            }
            margin-top: 40px;
            &:before {
                border-radius: 50%;
                @if $dark == 1 {
                    box-shadow: 0 0 0 3px $color-dark-3, 0 0 0 6px $color-dark-3 !important;
                    background: $color-dark-3;
                } @else {
                    box-shadow: 0 0 0 3px #FFF, 0 0 0 6px #E5E5E5;
                    background: #E5E5E5;
                }
                content: "";
                display: block;
                height: 7px;
                @if $rtl == 1 {
                    margin-right: -8px;
                    right: -6%;
                } @else {
                    margin-left: -8px;
                    left: -6%;
                }
                position: absolute;
                top: 32px;
                width: 8px;
            }
            &:after {
                @include transform(rotate(45deg));
                @if $dark == 1 {
                    @if $rtl == 1 {
                        border-right: 1px solid $color-dark-3;
                    } @else {
                        border-left: 1px solid $color-dark-3;
                    }
                    background: $color-dark-3;
                    border-bottom: 1px solid $color-dark-3;
                } @else {
                    @if $rtl == 1 {
                        border-right: 1px solid #E5E5E5;
                    } @else {
                        border-left: 1px solid #E5E5E5;
                    }
                    background: #FFF;
                    border-bottom: 1px solid #E5E5E5;
                }
                @if $rtl == 1 {
                    right: -8px;
                } @else {
                    left: -8px;
                }
                content: "";
                display: block;
                height: 14px;
                position: absolute;
                top: 30px;
                width: 14px;
                z-index: 0;
            }
        }
        .img-thumbnail {
            border-radius: 0;
            padding: 0;
            border: 0;
            img {
                border-radius: 0;
                padding: 0;
                border: 0;
            }
        }
        .thumb-info {
            @if $rtl == 1 {
                float: right;
            } @else {
                float: left;
            }
            margin-bottom: -5px;
        }
        .owl-carousel {
            border-radius: 0;
            padding: 0;
            border: 0;
            box-shadow: none;

            .owl-wrapper-outer {
                border-radius: 0;
            }
        }
    }
}

/* Responsive */
@media #{$screen-medium} {

    .column2 section.timeline {
        width: 74%;
        margin: 50px 13% 0;
    }

    section.timeline .timeline-box {
        float: none;
        clear: both;
        right: auto;
        left: auto;
        margin: 25px auto;
        max-width: 80%;
        width: auto;

        .column2 & {
            max-width: 80%;
        }
        &.right {
            float: none;
            clear: both;
            right: auto;
            left: auto;
            margin: 25px auto;
            max-width: 80%;
            width: auto;
            .column2 & {
                max-width: 80%;
            }
        }
        &.left:after, &.right:after, &.left:before, &.right:before {
            display: none;
        }
    }
}

@media #{$screen-small} {

    section.timeline {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;

        .column2 & {
            margin-left: 0;
            margin-right: 0;
            width: auto;
        }
        .timeline-box {
            margin: 15px auto;
            max-width: 90%;
            .column2 & {
                max-width: 90%;
            }
            &.right {
                margin: 15px auto;
                max-width: 90%;
                .column2 & {
                    max-width: 90%;
                }
            }
        }
    }

}


