/* Toggles */
.toggle {
    margin: 10px 0 0;
    position: relative;
    clear: both;
    > {
        input {
            cursor: pointer;
            filter: alpha(opacity = 0);
            height: 45px;
            margin: 0;
            opacity: 0;
            position: absolute;
            width: 100%;
            z-index: 2;
        }
        label {
            @include transition (all .15s ease-out);
            @if $dark == 1 {
                background: $color-dark-4;
            } @else {
                background: #F4F4F4;
            }
            @if $rtl == 1 {
                border-right: 3px solid #CCC;
                padding: 12px 10px 12px 20px;
            } @else {
                border-left: 3px solid #CCC;
                padding: 12px 20px 12px 10px;
            }
            border-radius: $border-normal;
            display: block;
            font-size: 1.1em;
            min-height: 20px;
            position: relative;
            cursor: pointer;
            font-weight: 400;
            &:-moz-selection {
                background: none;
            }
            i {
                &.fa-minus {
                    display: none;
                }
                &.fa-plus {
                    display: inline-block;
                }
            }
            &:selection {
                background: none;
            }
            &:before {
                border: 6px solid transparent;
                @if $rtl == 1 {
                    border-right-color: inherit;
                    left: 4px;
                } @else {
                    border-left-color: inherit;
                    right: 4px;
                }
                content: '';
                margin-top: -6px;
                position: absolute;
                top: 50%;
            }
            &:hover {
                @if $dark == 1 {
                    background: $color-dark-3;
                } @else {
                    background: #f5f5f5;
                }
            }
            + p {
                color: #999;
                display: block;
                overflow: hidden;
                @if $rtl == 1 {
                    padding-right: 30px;
                } @else {
                    padding-left: 30px;
                }
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 25px;
            }
            i {
                font-size: 0.7em;
                @if $rtl == 1 {
                    margin-left: 8px;
                } @else {
                    margin-right: 8px;
                }
                position: relative;
                top: -1px;
            }
        }
        .toggle-content {
            display: none;
            > p {
                margin-bottom: 0;
                padding: 10px 0;
            }
        }
    }
    &.active {
        i {
            &.fa-minus {
                display: inline-block;
            }
            &.fa-plus {
                display: none;
            }
        }
        > label {
            @if $dark == 1 {
                background: $color-dark-3;
            } @else {
                background: #F4F4F4;
            }
            border-color: #CCC;
            &:before {
                border: 6px solid transparent;
                border-top-color: #FFF;
                margin-top: -3px;
                @if $rtl == 1 {
                    left: 10px;
                } @else {
                    right: 10px;
                }
            }
        }
        > p {
            white-space: normal;
        }
    }
    > p.preview-active {
        height: auto;
        white-space: normal;
    }
}