
/* Visual Composer Grid */
body {
    .vc_row {
        margin-left: -($grid-gutter-width / 2);
        margin-right: -($grid-gutter-width / 2);

        &.wpb_row {
            margin-bottom: 0;
        }
    }

    .vc_col-xs-1, .vc_col-sm-1, .vc_col-md-1, .vc_col-lg-1,
    .vc_col-xs-2, .vc_col-sm-2, .vc_col-md-2, .vc_col-lg-2,
    .vc_col-xs-3, .vc_col-sm-3, .vc_col-md-3, .vc_col-lg-3,
    .vc_col-xs-4, .vc_col-sm-4, .vc_col-md-4, .vc_col-lg-4,
    .vc_col-xs-5, .vc_col-sm-5, .vc_col-md-5, .vc_col-lg-5,
    .vc_col-xs-6, .vc_col-sm-6, .vc_col-md-6, .vc_col-lg-6,
    .vc_col-xs-7, .vc_col-sm-7, .vc_col-md-7, .vc_col-lg-7,
    .vc_col-xs-8, .vc_col-sm-8, .vc_col-md-8, .vc_col-lg-8,
    .vc_col-xs-9, .vc_col-sm-9, .vc_col-md-9, .vc_col-lg-9,
    .vc_col-xs-10, .vc_col-sm-10, .vc_col-md-10, .vc_col-lg-10,
    .vc_col-xs-11, .vc_col-sm-11, .vc_col-md-11, .vc_col-lg-11,
    .vc_col-xs-12, .vc_col-sm-12, .vc_col-md-12, .vc_col-lg-12 {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
    }
    .vc_non_responsive .vc_row .vc_col-sm-1,
    .vc_non_responsive .vc_row .vc_col-sm-2,
    .vc_non_responsive .vc_row .vc_col-sm-3,
    .vc_non_responsive .vc_row .vc_col-sm-4,
    .vc_non_responsive .vc_row .vc_col-sm-5,
    .vc_non_responsive .vc_row .vc_col-sm-6,
    .vc_non_responsive .vc_row .vc_col-sm-7,
    .vc_non_responsive .vc_row .vc_col-sm-8,
    .vc_non_responsive .vc_row .vc_col-sm-9,
    .vc_non_responsive .vc_row .vc_col-sm-10,
    .vc_non_responsive .vc_row .vc_col-sm-11,
    .vc_non_responsive .vc_row .vc_col-sm-12 {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
    }
}

/* Visual Composer Buttons */
.vc_row {
    &.bg-width50 {
        .upb_row_bg {
            width: 50% !important;
            min-width: 50% !important;

            @media #{$screen-medium} {
                display: none;
            }
        }
    }
    &.bg-ml50 {
        .upb_row_bg {
            margin-left: 50%;
        }
    }
}

body {
    .btn-inverse {
        @include button-variant(#fff, #333, #2d2d2d);
    }

    .btn {
        display: inline-block;
        margin: 0;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        border-radius: $border-base;
    }
    .cart-actions .button,
    .checkout-button,
    #place_order,
    .btn-lg,
    .btn-group-lg > .btn,
    input.submit.btn-lg, input.btn.btn-lg[type="submit"], input.button.btn-lg[type="submit"] {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: $border-medium;
    }
    .btn-sm,
    .btn-group-sm > .btn  {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: $border-thin;
    }
    .btn-md,
    .btn-group-md > .btn  {
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        border-radius: $border-base;
    }
    .btn-xs,
    .btn-group-xs > .btn  {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: $border-thin;
    }
    .btn-block {
        display: block;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
}

/* Visual Composer Alert */
body {
    .wpb_alert {
        padding: 15px;
        .messagebox_text {
            background-image: none;
            @if $rtl == 1 {
                padding-right: 0;
            } @else {
                padding-left: 0;
            }
        }
    }
}

/* Visual Composer Slider */
body {
    .wpb_gallery .wpb_flexslider .flex-control-nav {
        bottom: -50px;
    }
}

/* Featured Box */
.wpb_text_column {
    p {
        line-height: inherit;
    }
    &.featured {
        font-size: 1.6em;
        line-height: 1.5em;
    }
    &.short {
        margin-bottom: 0;
    }
    &.tall {
        margin-bottom: 20px;
    }
    &.taller {
        margin-bottom: 40px;
    }
    .alternative-font {
        display: inline-block;
        margin-top: -15px;
        position: relative;
        top: 3px;
        margin-bottom: -6px;
    }
}

/* Visual Composer Single Image */
div.wpb_single_image {
    .vc_single_image-wrapper {
        display: inline-block;
        max-width: 100%;
        &.vc_box_rounded,
        &.vc_box_shadow {
            border-radius: $border-strong;

            img {
                border-radius: $border-medium;
            }
        }
        &.vc_box_border,
        &.vc_box_outline,
        &.vc_box_shadow_border {
            border-radius: $border-strong;
            padding: 4px;

            img {
                border-radius: $border-medium;
                @if $dark == 1 {
                    border-color: $color-dark-3;
                } @else {
                    border-color: #ddd;
                }
            }
        }
        &.vc_box_border_circle,
        &.vc_box_outline_circle,
        &.vc_box_shadow_border_circle {
            padding: 4px;
        }
        &.vc_box_shadow_border,
        &.vc_box_shadow_border_circle {
            @if $dark == 1 {
                background: $color-dark-3;
            } @else {
                background: #fff;
            }
        }
        &.vc_box_shadow_3d {

            img {
                border-radius: $border-medium;
                margin-bottom: -4px;
            }
        }
        &.vc_box_outline.vc_box_border_grey,
        &.vc_box_outline_circle.vc_box_border_grey {
            @if $dark == 1 {
                background: $color-dark-3;
                border-color: $color-dark-3;
            } @else {
                background: #fff;
                border-color: #ddd;
            }
        }
    }

    .porto-vc-zoom {
        display: inline-block;
        position: relative;
        max-width: 100%;

        .zoom-icon {
            color: #fff;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            position: absolute;
            padding: 0;
            line-height: 28px;
            display: block;
            bottom: 8px;
            @if $rtl == 1 {
                left: 8px;
            } @else {
                right: 8px;
            }
            text-align: center;

            &:before {
                font-family: "FontAwesome";
                content: $fa-var-search;
            }
        }
    }
}

/* Visual Composer Flickr */
.wpb_content_element {
    &.wpb_flickr_widget {
        margin-bottom: 15px;
    }
}

/* Visual Composer Separator */
.vc_separator h4 {
    margin-top: 0;
    font-size: 1.1429em;
    font-weight: 700;
    text-transform: uppercase;
}

.vc_text_separator {
    margin-bottom: 25px;
    border: none;
}

.vc_separator.vc_separator_align_left h4 {
    @if $rtl == 1 {
        padding: 0 0 0 0.8em;
    }
}

.vc_separator .vc_sep_holder {
    &.vc_sep_holder_l {
        .vc_sep_line {
            border: none;
            @if $dark == 1 {
                @if $rtl == 1 {
                    @include background-image(linear-gradient(right, transparent, rgba(255, 255, 255, 0.15)));
                } @else {
                    @include background-image(linear-gradient(left, transparent, rgba(255, 255, 255, 0.15)));
                }
            } @else {
                @if $rtl == 1 {
                    @include background-image(linear-gradient(right, transparent, rgba(0, 0, 0, 0.15)));
                } @else {
                    @include background-image(linear-gradient(left, transparent, rgba(0, 0, 0, 0.15)));
                }
            }
        }
    }
    &.vc_sep_holder_r {
        .vc_sep_line {
            border: none;
            @if $dark == 1 {
                @if $rtl == 1 {
                    @include background-image(linear-gradient(left, transparent, rgba(255, 255, 255, 0.15)));
                } @else {
                    @include background-image(linear-gradient(right, transparent, rgba(255, 255, 255, 0.15)));
                }
            } @else {
                @if $rtl == 1 {
                    @include background-image(linear-gradient(left, transparent, rgba(255, 255, 255, 0.15)));
                } @else {
                    @include background-image(linear-gradient(right, transparent, rgba(0, 0, 0, 0.15)));
                }
            }
        }
    }
}

/* Visual Composer Heading */
.vc_custom_heading {
    &.heading-m-none {
        > * {
            margin-bottom: 0;
        }
    }
    &.big {
        h1 {
            font-size: 4.2em;
            line-height: 54px;
        }
    }
    &.short {
        h1 {
            margin-bottom: 15px;
        }
        h2 {
            margin-bottom: 15px;
        }
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 9px;
        }
    }
    &.shorter {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0;
        }
    }
    &.tall {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 33px;
        }
    }
    &.taller {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 44px;
        }
    }
    &.spaced {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 33px;
        }
    }
    &.more-spaced {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 44px;
        }
    }
}

/* Visual Composer Message Box */

/* Visual Composer Others */
.overlay-show {
    margin-bottom: 30px;
}

.tab-pane,
.panel-body {
    > *:last-child {
        margin-bottom: 0;
    }
}

/* Ultimate Addon Info Box */
.wpb_wrapper {
    .top-icon {
        .ult-just-icon-wrapper {
            margin-bottom: 25px;
        }
    }
    .aio-icon-header h3.aio-icon-title {
        font-size: 1.4em;
        font-weight: 400;
        letter-spacing: normal;
        text-transform: none;
    }
    .aio-icon-read {
        padding: 10px 0;
    }
}

.info-box-small-wrap {
    .aio-icon-box {
        margin-bottom: 15px;
    }
    .aio-icon-header + .aio-icon-description {
        margin-top: -2px;
    }
}
body {
    .left-icon .aio-icon-left .aio-icon,
    .left-icon .aio-icon-left .aio-icon-img {
        @if $rtl == 1 {
            margin-left: 15px;
        }
    }
}

/* Ultimate Addon Modal */
h3.ult_modal-title {
    text-transform: none;
}

/* Ultimate Addon Advanced Carousel */
/* add default style because removed in the latest version */
/*Slider Buttons Customization*/
.ult-carousel-wrapper button.circle-border,
.ult-carousel-wrapper button.circle-bg {
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
}
.ult-carousel-wrapper button.square-border,
.ult-carousel-wrapper button.square-bg {
    border-radius: 0px !important;
}
.ult-carousel-wrapper button.slick-disabled {
    opacity: 0.5;
    cursor: auto;
}
/*Slider Basics*/
.ult-carousel-wrapper,
.ult-carousel-wrapper * {
    -webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ult-carousel-wrapper {
    position: relative;
    margin-bottom: 35px;
}
.ult-carousel-wrapper .wpb_content_element {
    margin-bottom: 0;
}
/*Horizontal Arrows*/
.ult-carousel-wrapper.ult_horizontal .slick-prev,
.ult-carousel-wrapper.ult_horizontal .slick-next,
.ult-carousel-wrapper.ult_full_width .slick-prev,
.ult-carousel-wrapper.ult_full_width .slick-next {
    position: absolute;
    top: 50%;
    margin: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ult-carousel-wrapper.ult_full_width .slick-next {
    right: 20px;
}
.ult-carousel-wrapper.ult_full_width .slick-prev {
    left: 20px;
}
/*Horizontal Navigation Dots*/
.ult-carousel-wrapper.ult_horizontal ul.slick-dots,
.ult-carousel-wrapper.ult_full_width ul.slick-dots {
    position: absolute;
    bottom: -35px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 99;
}
.ult-carousel-wrapper.ult_full_width .slick-slide.slick-active {
    z-index: 9;
}
/*Vertical Arrows*/
.ult-carousel-wrapper.ult_vertical {
    padding: 50px 0;
}
.ult-carousel-wrapper.ult_vertical .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.ult-carousel-wrapper.ult_vertical button.slick-prev,
.ult-carousel-wrapper.ult_vertical button.slick-next {
    left: 50%;
    margin: 0;
    -webkit-transform: translateX(-50%) rotate(90deg);
    -moz-transform: translateX(-50%) rotate(90deg);
    -o-transform: translateX(-50%) rotate(90deg);
    -ms-transform: translateX(-50%) rotate(90deg);
    transform: translateX(-50%) rotate(90deg);
}
.ult-carousel-wrapper.ult_vertical button.slick-prev {
    top: -45px;
}
.ult-carousel-wrapper.ult_vertical button.slick-next {
    top: auto;
    bottom: -40px;
}
/*Vertical Navigation Dots*/
.ult-carousel-wrapper.ult_vertical ul.slick-dots {
    position: absolute;
    left: -25px;
    top: 50%;
    list-style: none;
    display: table !important;
    text-align: center;
    padding: 0;
    margin: 0;
    height: auto;
    float: none;
    width: 25px;
    vertical-align: middle;
    z-index: 99;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ult-item-wrap.slick-slide.animated {
    opacity: 1 !important;
}
body {
    .ult-carousel-wrapper {
        .m-b-none {
            margin-bottom: -35px !important;
        }
    }

    .ult-carousel-wrapper.ult_horizontal ul.slick-dots,
    .ult-carousel-wrapper.ult_full_width ul.slick-dots,
    .slick-dots {
        position: relative;
        bottom: -5px;
        margin-top: 10px;
        li {
            margin: 0 3px;
        }
    }

    .sidebar {
        .ult-carousel-wrapper.ult_horizontal ul.slick-dots,
        .ult-carousel-wrapper.ult_full_width ul.slick-dots,
        .slick-dots {
            margin-top: 3px;
        }
    }

    .sidebar {
        .ult-carousel-wrapper {
            margin-bottom: 0;
        }
    }

    .slick-slide img {
        display: inline;
    }
}

.ult-carousel-wrapper > div:first-child {
    position: relative; display: block; margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; -webkit-tap-highlight-color: transparent;

    > .ult-item-wrap {
        display: none;

        &:first-child {
            display: block;
            position: relative;
            min-height: 200px;

            > * {
                @include opacity(0);
            }
        }
    }
    &.slick-initialized {
        > .ult-item-wrap {
            display: block;

            &:first-child {
                position: static;
                min-height: 0;

                &:before {
                    display: none;
                }

                > * {
                    @include opacity(1);
                }
            }
        }
    }
}

/* Ultimate Addon Google Map */
.ultimate_google_map {
    min-width: 0 !important;
    width: 100% !important;;
    position: relative !important;
}

.gmap-border {
    border-radius: $border-medium;
    overflow: hidden
}

/* Ultimate Addon Others */
.uvc-type-wrap {
    .ultimate-typed-main,
    .ticker {
        font-weight: bold;
    }
}

.upb_row_bg {
    min-height: 0 !important;
}

.video-cover {
    overflow: hidden !important;
    .upb_video-bg {
        left: 0 !important;
    }
    .upb_video-src {
        position: absolute;
        left: 49% !important;
        top: 49% !important;
        @include transform(translate(-49%, -50%));
    }
}

/* Porto Grid Container */
.porto-grid-container {
    position: relative;

    .porto-grid-item {
        @if $rtl == 1 {
            float: right;
        } @else {
            float: left;
        }
        max-width: 100%;

        > .wpb_single_image {
            margin-bottom: 0;

            .vc_single_image-wrapper:hover {
                background: #000;
                @include transition(opacity 0.35s ease 0s);
            }

            a {
                display: block;
            }

            .vc_single_image-wrapper {
                width: 100%;
                display: block;
            }

            img {
                width: 100%;
                @include transition(opacity 0.35s ease 0s);

                &:hover {
                    @include opacity(.9);
                }
            }
        }
    }
}

/* Porto Links */

.porto-links-block {
    border: 1px solid $widget-border-color;
    border-radius: $border-thick;
    background: $widget-bg-color;

    @media #{$screen-large} {
        font-size: 13px;
    }

    .links-title {
        @if $dark == 1 {
            color: $color-white;
        } @else {
            color: $color-black;
        }
        border-radius: $border-thick $border-thick 0 0;
        background: $widget-title-bg-color;
        border-bottom: 1px solid $widget-border-color;
        font-size: .9286em;
        font-weight: $font-weight-bold;
        line-height: 20px;
        padding: 11px 15px 9px;
        margin: 0;
        text-transform: uppercase;
        position: relative;
        @include transition($transition);

        @media #{$screen-large} {
            line-height: 20px;
            padding: 8px 12px 6px;
        }

        i {
            @if $rtl == 1 {
                margin-left: 5px;
            } @else {
                margin-right: 5px;
            }
        }
    }

    .links-content {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    li.porto-links-item {
        display: block;

        &:first-child {
            > a,
            > span {
                border-top-width: 0;
            }
        }

        > a,
        > span {
            display: block;
            font-size: 1em;
            line-height: 19px;
            padding: 11px 5px;
            margin: 0 10px -1px;
            @if $dark == 1 {
                border-top: 1px solid lighten($dark-bg, 12%);
            } @else {
                border-top: 1px solid #ddd;
            }
            text-decoration: none;

            @media #{$screen-large} {
                padding: 7px 5px;
                line-height: 19px;
                margin: 0 7px -1px;
            }
        }

        i {
            @if $rtl == 1 {
                margin-left: 5px;
            } @else {
                margin-right: 5px;
            }
        }
    }
}

.ultimate-vticker.ticker ul li,
.ultimate-vticker.ticker-down ul li {
    text-align: center !important;
}

