
/* Widget */
.widget {
    margin-bottom: 30px;
    margin-top: 30px;
    @include clearfix();

    &:first-child {
        margin-top: 0;
    }
    .widgettitle,
    .widget-title {
        margin-bottom: 15px;
        font-size: 1.1429em;
        margin-top: 0;

        &,
        a {
            line-height: 1.4;
            font-weight: $font-weight-bold;
            color: $color-widget-title;
            text-transform: uppercase;
            text-decoration: none;
        }

        img {
            @if $rtl == 1 {
                margin-left: 3px;
            } @else {
                margin-right: 3px;
            }
            margin-top: -2px;
        }
    }

    > div > ul,
    > ul {
        font-size: .9286em;
        @if $dark == 1 {
            border-bottom: 1px solid $color-dark-3;
        } @else {
            border-bottom: 1px solid #EDEDDE;
        }
        margin-top: -8px;
        margin-bottom: 0;

        > li:first-child {
            border-top-width: 0;
        }

        li {
            position: relative;
            margin: 0;
            padding: 7px 0;
            line-height: 24px;
            @if $dark == 1 {
                border-top: 1px solid $color-dark-3;
            } @else {
                border-top: 1px solid #EDEDDE;
            }
            @include transition (all 0.3s);

            p {
                margin-bottom: 0;
            }

            > a {
                text-decoration: none;
            }

            > ul,
            > ol {
                margin-top: 8px;
                margin-bottom: -8px;
                @if $rtl == 1 {
                    margin-right: -5px;
                } @else {
                    margin-left: -5px;
                }
            }
        }
    }

    ul,
    ol {
        list-style: none;
        padding: 0;
    }

    select {
        max-width: 100%;
        font-size: .9em;
    }

    .rss-date,
    .post-date,
    .comment-author-link {
        display: inline;
        font-size: .9em;
    }
    .rss-date,
    .post-date {
        display: block;
    }
    .rss-date {
        margin-bottom: 3px;
    }

    .rssSummary {
        font-size: .95em;
        line-height: 1.42857;
    }

    cite {
        display: block;
        font-size: .9em;
        @if $rtl == 1 {
            text-align: left;
        } @else {
            text-align: right;
        }
    }

    .view-more {
        padding: 12px;
    }

    .owl-theme .owl-controls {
        margin-bottom: -10px;
    }

    .slick-dots {
        margin-bottom: -5px;
    }
}

.widget_recent_entries,
.widget_recent_comments,
.widget_pages,
.widget_meta,
.widget_nav_menu > div,
.widget_archive,
.widget_categories,
.widget_rss {
    > ul li {
        @if $rtl == 1 {
            padding: 7px 15px 7px 0;
        } @else {
            padding: 7px 0 7px 15px;
        }
        &:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            @if $rtl == 1 {
                @if $dark == 1 {
                    border-right: 4px solid #555;
                } @else {
                    border-right: 4px solid #333;
                }
                margin-right: -11px;
                margin-left: 5px;
            } @else {
                @if $dark == 1 {
                    border-left: 4px solid #555;
                } @else {
                    border-left: 4px solid #333;
                }
                margin-left: -11px;
                margin-right: 5px;
            }
        }
    }
}

.widget_calendar {
    caption {
        color: $color-widget-title;
        font-weight: 700;
        text-align: center;
        margin-bottom: 8px;
    }
    table {
        width: 100%;
        font-size: .9286em;
        th,
        td {
            text-align: center;
            vertical-align: middle;
        }
        td#prev {
            @if $rtl == 1 {
                text-align: right;
            } @else {
                text-align: left;
            }
            padding: 8px 0;
        }
        td#next {
            @if $rtl == 1 {
                text-align: left;
            } @else {
                text-align: right;
            }
            padding: 8px 0;
        }
    }
}

// Widget text

.widget.widget_text {
    ul,
    li {
        border-width: 0;
        padding: 0;
        margin: 0;

        p {
            margin-bottom: 10px;
        }
    }
}

// Widget tag cloud
.widget {
    .tagcloud {
        margin-top: -.3846em;
        margin-bottom: -.3846em;
        a {
            @if $rtl == 1 {
                margin: .3846em 0 .3846em .3846em;
            } @else {
                margin: .3846em .3846em .3846em 0;
            }
            @if $dark == 1 {
                border: 1px solid $color-dark-4;
                background: $color-dark-4;
            } @else {
                border: 1px solid $input-border-color;
                background: #efefef;
            }
            border-radius: $border-thin;
            padding: .3846em;
            line-height: 1.2;
            display: inline-block;
            text-decoration: none;
            font-size: .8571em !important;

            &:hover {
                color: $color-white;
            }
        }
    }
}

/* Flickr Widget */
.flickr_badge_image {
    &,
    .wpb_content_element & {
        float: none;
        margin: 10px 5px 20px;
        display: inline-block;
        @if $dark == 1 {
            border: 1px solid $color-dark-3;
            background: $color-dark-3;
        } @else {
            border: 1px solid #ddd;
            background: #fff;
        }
        border-radius: $border-base;
        padding: 4px;
        width: auto;
        height: auto;
        @include transition($image-transition);

        img {
            width: 75px;
            height: 75px;
        }
    }
}

/* Wysija Widget */
.widget.widget_wysija {
    h3 {
        margin-bottom: 10px;
    }
    p {
        font-size: .9286em;
        margin-bottom: 10px;
    }
    .wysija-paragraph,
    .wysija-checkbox-label,
    .wysija-checkbox-paragraph {
        font-size: 1em;
    }
    .wysija-paragraph label,
    .wysija-checkbox-label {
        font-size: .9286em;
    }
    .wysija-checkbox-label {
        margin-bottom: 0;
    }
    .formError {
        position: static !important;
        .formErrorContent {
            width: 100%;
            line-height: 1.4;
            padding: 5px 0;
            background: none;
            border: none;
            color: #eb340e;
        }
    }
    .wysija-paragraph {
        .formError {
            .formErrorContent {
                padding: 5px 0 10px;
            }
        }
    }
    .widget_wysija_cont {
        .updated,
        .message,
        .error,
        .xdetailed-errors {
            border: none;
            background: transparent;
            padding: 0;
            margin: 0;
            color: inherit;
            line-height: inherit;
        }
        .updated,
        .message {
            color: #3c763d;
        }
        .error,
        .xdetailed-errors {
            color: #eb340e;
        }
    }
    .wysija-input {
        width: 100%;
        max-width: 262px;
    }

    .sidebar & {
        @if $dark == 1 {
            background: $color-dark-4;
            border-bottom: 1px solid $color-dark-4;
            border-left: 1px solid $color-dark-4;
            border-right: 1px solid $color-dark-4;
        } @else {
            background: #F5F5F5;
            @include background(linear-gradient(to bottom, #FFF 1%, #F9F9F9 98%) repeat scroll 0 0 rgba(0, 0, 0, 0));
            border-bottom: 1px solid #DFDFDF;
            border-left: 1px solid #ECECEC;
            border-right: 1px solid #ECECEC;
        }
        @include box-sizing(border-box);
        border-radius: $border-strong;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        min-height: 100px;
        position: relative;
        text-align: center;
        z-index: 1;

        .box-content {
            position: relative;
            top: -1px;
            border-radius: $border-strong;
            border-top: 3px solid #33B8FF;
            border-top-width: 4px;
            padding: 30px 25px 25px 25px;
        }

        .wysija-input {
            text-align: center;
        }

        .wysija-submit {
            margin: 20px auto 0;
        }
    }
}

.wysija-msg {
    .updated,
    .message {
        color: #3c763d;
    }
    .error,
    .xdetailed-errors {
        color: #eb340e;
    }
    ul {
        list-style: none;
        @if $rtl == 1 {
            padding-right: 0;
        } @else {
            padding-left: 0;
        }
        margin-bottom: 10px;
        font-weight: 600;
    }
}

// Widget Twitter Tweets
.widget.twitter-tweets {
    .fa {
        clear: both;
        font-size: 1.5em;
        position: relative;
        top: 3px;
    }
    .meta {
        color: #999;
        display: block;
        font-size: 0.9em;
        padding-top: 3px;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border-width: 0;

        li {
            border-width: 0;
            padding: 20px 0 0;

            &:first-child {
                padding-top: 0;
            }
        }
    }
}
.twitter-account {
    color: #FFF;
    display: block;
    font-size: 0.9em;
    margin: -15px 0 5px;
    filter: alpha(opacity = 55);
    opacity: 0.55;
    &:hover {
        filter: alpha(opacity = 100);
        opacity: 1;
    }
}

// Widget Contact Info
.widget.contact-info {
    ul,
    li {
        border-width: 0;
        margin: 0;
        padding: 0;
    }
    li {
        a:hover {
            text-decoration: underline;
        }
    }
    p {
        margin-bottom: 10px;
    }
    i {
        text-align: center;
        width: 16px;
        top: -2px;
        @if $rtl == 1 {
            margin: 7px 0 0 6px;
        } @else {
            margin: 7px 6px 0 0;
        }
        font-size: 1.2em;
    }
    .contact-details {
        span {
            display: block;
            @if $rtl == 1 {
                padding-right: 25px;
            } @else {
                padding-left: 25px;
            }
            line-height: 18px;
            padding-bottom: 10px;

            .footer-2 & {
                display: inline;
                @if $rtl == 1 {
                    padding-right: 0;
                } @else {
                    padding-left: 0;
                }
            }
        }
    }
}

// Widget Follow Us
#footer .widget.follow-us,
.widget.follow-us {
    .share-links {
        a {
            border-radius: 100%;
            background: #fff;
            width: 30px;
            height: 30px;
            font-size: 14px;
        }
        .share-twitter {
            &:hover { color: #fff; background: #1aa9e1; }
        }
        .share-facebook {
            &:hover { color: #fff; background: #3b5a9a; }
        }
        .share-linkedin {
            &:hover { color: #fff; background: #0073b2; }
        }
        .share-rss {
            &:hover { color: #fff; background: #ff8201; }
        }
        .share-googleplus {
            &:hover { color: #fff; background: #dd4b39; }
        }
        .share-pinterest {
            &:hover { color: #fff; background: #cc2127; }
        }
        .share-youtube {
            &:hover { color: #fff; background: #c3191e; }
        }
        .share-instagram {
            &:hover { color: #fff; background: #7c4a3a; }
        }
        .share-skype {
            &:hover { color: #fff; background: #00b0f6; }
        }
        .share-email {
            &:hover { color: #fff; background: #dd4b39; }
        }
        .share-vk {
            &:hover { color: #fff; background: #6383a8; }
        }
        .share-xing {
            &:hover { color: #fff; background: #1a7576; }
        }
        .share-tumblr {
            &:hover { color: #fff; background: #304e6c; }
        }
        .share-reddit {
            &:hover { color: #fff; background: #ff4107; }
        }
    }
}

#mailpoet_checkout_field {
    input[type="checkbox"],
    input[type="radio"] {
        position: static;
        margin-left: 0;
    }
}