
.tm-extra-product-options .tm-epo-field-label {
    font-size: 16px;
    font-weight: $font-weight-normal;
    line-height: 27px;
}

.tm-collapse {
    background-image: none;
    background-color: transparent;
    border: 1px solid $widget-border-color;
    border-radius: $border-base;
    padding: 0;

    .tm-section-label {
        @if $dark == 1 {
            background: $color-dark-3;
        } @else {
            background: #f5f5f5;
        }
        border-radius: $border-thin;
        padding: 10px 15px;

        .tm-arrow {
            @if $rtl == 1 {
                left: 10px;
                right: auto;
            } @else {
                right: 10px;
            }
        }
    }

    .tm-collapse-wrap {
        padding: 15px;
        margin: 0;
    }
}

.tm-description {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tm-extra-product-options ul.tmcp-elements li.tmcp-field-wrap {
    padding: 5px 0 0;
}

.tm-box {
    padding: 10px 15px;
    @if $dark == 1 {
        border: 1px solid $color-dark-3;
    } @else {
        border: 1px solid #ddd;
    }
    border-radius: $border-base;
    margin: 15px 0 0;
}

.tm-epo-totals {
    padding-top: 0;
}

.tm-extra-product-options-totals {
    margin-bottom: 0;

    dt {
        margin-top: 10px;
    }

    dt,
    dd {
        margin-bottom: 5px;
    }

    .amount {
        &.options,
        &.subscription-fee,
        &.final {
            font-weight: $font-weight-semibold;
            line-height: 1;
        }

        &.options,
        &.subscription-fee {
            font-size: 2em;
        }

        &.final {
            font-size: 2.5714em;
        }
    }
}

.tm-cart-edit-options {
    font-size: 11px;
    @if $rtl == 0 {
        margin-left: auto;
        margin-right: 10px;
    } @else {
        margin-left: 10px;
    }
}


