
// Footer

#footer {
    background-color: @footer_bg_color;
    background-repeat: @footer_bg_repeat;
    background-size: @footer_bg_size;
    background-attachment: @footer_bg_attachment;
    background-position: @footer_bg_position;
    background-image: @footer_bg_image;
    color: @footer_text_color;
    .gradient(@footer_bg_from, @footer_bg_to, @footer_bg_gradient);

    p,
    .widget > div > ul li, .widget > ul li {
        color: @footer_text_color;
    }

    a,
    a:hover {
        color: @footer_link_color;
    }

    h1, h2, h3, h4, h5, h6, .widgettitle, .widget-title {
        color: @footer_heading_color;

        a {
            color: @footer_heading_color;
        }
    }

    .footer-ribbon {
        background: @skinColor;
        font-family: @alt_font_family;
        font-weight: @alt_font_weight;
    }

    .footer-ribbon:before {
        .ribbonBorderColor() when (@rtl = 1) {
            border-left-color: darken(@skinColor, 15%);
        }
        .ribbonBorderColor() when not (@rtl = 1) {
            border-right-color: darken(@skinColor, 15%);
        }
        .ribbonBorderColor;
    }

    .widget {
        .tagcloud {
            a {
                border-color: fade(@footer_text_color, 30%);

                &:hover {
                    border-color: @skinColor;
                    background-color: @skinColor;
                }
            }
        }

        > div > ul,
        > ul {
            border-color: fade(@footer_text_color, 30%);

            li {
                border-color: fade(@footer_text_color, 30%);
            }
        }
    }

    .post-item-small {
        border-color: fade(@footer_text_color, 30%);
    }

    .footer-bottom {
        background-color: @footer_bottom_bg_color;
        background-repeat: @footer_bottom_bg_repeat;
        background-size: @footer_bottom_bg_size;
        background-attachment: @footer_bottom_bg_attachment;
        background-position: @footer_bottom_bg_position;
        background-image: @footer_bottom_bg_image;
        .gradient(@footer_bottom_bg_from, @footer_bottom_bg_to, @footer_bottom_bg_gradient);

        p,
        .widget > div > ul li, .widget > ul li {
            color: @footer_bottom_text_color;
        }

        a,
        a:hover {
            color: @footer_bottom_link_color;
        }
    }

    .widget.follow-us {
        .share-links {
            a {
                background: @footer_social_bg_color;
                color: @footer_social_link_color;
            }
        }
    }

    a.tooltip-icon {
        border-color: @footer_link_color;
        color: @footer_link_color;
    }
}

.footer-wrapper {
    &.fixed {
        #footer {
            .footer-bottom {
                .backgroundOpacity(@footer_bottom_bg_color, @footer_opacity);
            }
        }
    }
}
#footer-boxed {
    &,
    & .container {
        .containerBoxedWidth();
        .calcContainerWidth(@calc_footer_width);
    }
}

html #topcontrol:hover {
    i {
        //color: @skinColor;
    }
}