
/* Single Post */
.single-post article {
    border-bottom: 0;
    margin-bottom: 0;
}

/* Post Slideshow */
.post-slideshow {
    text-align: center;
}

/* Post */
.entry-title {
    margin-top: 0;
}
.sub-title {
    text-transform: uppercase;
}
article.post,
.post-item {
    .post-date {
        @if $rtl == 1 {
            float: right;
            margin-left: 10px;
        } @else {
            float: left;
            margin-right: 10px;
        }
        text-align: center;
        width: 40px;

        .month {
            border-radius: 0 0 $border-small $border-small;
            box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
            color: #FFF;
            font-size: 0.9em;
            padding: 0 0 2px;
            display: block;
        }
        .day {
            @if $dark == 1 {
                background: $color-dark-3;
            } @else {
                background: #F4F4F4;
            }
            border-radius: $border-small $border-small 0 0;
            display: block;
            font-size: 16px;
            font-weight: 500;
            font-weight: bold;
            padding: 10px 0;
        }

        .sticky {
            background: #62b959;
            border-radius: $border-small;
            box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
            color: #FFF;
            font-size: 0.9em;
            padding: 2px 0 0;
            margin-top: 5px;
            display: block;
        }

        .format {
            border-radius: $border-small;
            box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
            color: #FFF;
            font-size: 1.2857em;
            padding: 0;
            line-height: 40px;
            margin-top: 5px;
        }
    }
    .read-more {
        display: inline-block;
    }
}

article {
    &.post {
        h2 a,
        h4 a {
            text-decoration: none;
        }

        .post-meta {
            font-size: 0.9em;
            margin-bottom: 7px;

            body.single-post & {
                margin-bottom: 20px;
            }
            > span {
                display: inline-block;
                @if $rtl == 1 {
                    padding-left: 8px;
                } @else {
                    padding-right: 8px;
                }
            }
            i {
                @if $rtl == 1 {
                    margin-left: 3px;
                } @else {
                    margin-right: 3px;
                }
            }
        }

        .post-image {
            margin-bottom: 15px;
            &.single {
                margin-bottom: 30px;
            }
        }
    }
    &.post-full,
    &.post-large {
        @if $rtl == 1 {
            margin-right: 60px;
        } @else {
            margin-left: 60px;
        }

        h2.entry-title {
            margin-bottom: 5px;
        }

        .post-image,
        .post-date {
            @if $rtl == 1 {
                margin-right: -60px;
            } @else {
                margin-left: -60px;
            }
        }

        @media #{$screen-small} {
            @if $rtl == 1 {
                margin-right: 0;
            } @else {
                margin-left: 0;
            }
            .post-image,
            .post-date {
                @if $rtl == 1 {
                    margin-right: 0;
                } @else {
                    margin-left: 0;
                }
            }
        }
    }
    &.post-large-alt {
        @if $rtl == 1 {
            margin-right: 60px;
        } @else {
            margin-left: 60px;
        }

        h2 {
            margin-bottom: 5px;
        }

        .post-date {
            @if $rtl == 1 {
                margin-right: -60px;
            } @else {
                margin-left: -60px;
            }
        }

        @media #{$screen-small} {
            @if $rtl == 1 {
                margin-right: 0;
            } @else {
                margin-left: 0;
            }
            .post-date {
                @if $rtl == 1 {
                    margin-right: 0;
                } @else {
                    margin-left: 0;
                }
            }
            .post-image {
                @if $rtl == 1 {
                    margin-right: 60px;
                } @else {
                    margin-left: 60px;
                }
            }
        }
    }

    &.post-grid,
    &.post-timeline {
        .owl-theme .owl-controls {
            margin-top: 5px;
        }
        .post-image {
            margin-bottom: 5px;
            &.single {
                margin-bottom: 15px;
            }
        }
    }
}

/* Post Block */
.post-gap {
    margin: 45px 0 0 0;
}
.post-gap-small {
    margin: 15px 0 0 0;
}
.post-block,
.post-share,
article.post .comment-respond,
article.portfolio .comment-respond {
    @if $dark == 1 {
        border-top: 1px solid $color-dark-3;
    } @else {
        border-top: 1px solid #DDD;
    }
    margin: 15px 0 0 0;
    padding: 20px 0 15px 0;

    h3 {
        font-size: 1.8em;
        font-weight: 200;
        margin: 0 0 20px;

        i {
            @if $rtl == 1 {
                margin-left: 7px;
            } @else {
                margin-right: 7px;
            }
        }
    }
}

/* Post Share */
.post-share {
    padding-bottom: 0;
    h3 {
        display: inline-block;
        margin-bottom: 10px;
        @if $rtl == 1 {
            margin-left: 15px;
        } @else {
            margin-right: 15px;
        }
        margin-top: 5px;
        text-transform: none;
    }
    .share-links {
        display: inline-block;
        margin-top: -5px;
    }
}

/* Post Author */
.post-author {
    margin: 15px 0 0 0;
    img {
        height: auto;
        max-width: 80px;

        @media #{$screen-medium} {
            max-width: 60px;
        }
    }
    p {
        font-size: 0.9em;
        line-height: 22px;
        margin: 0;
        padding: 0;
        .name {
            font-size: 1.1em;
            a {
                text-decoration: none;
            }
        }
    }
    .img-thumbnail {
        display: inline-block;
        @if $rtl == 1 {
            float: right;
            margin-left: 20px;
        } @else {
            float: left;
            margin-right: 20px;
        }

        @media #{$screen-medium} {
            @if $rtl == 1 {
                margin-left: 12px;
            } @else {
                margin-right: 12px;
            }
        }
    }
}

/* Post Comments */
.post-comments {
    margin-top: 45px;
}

ul.comments {
    list-style: none;
    margin: 0;
    padding: 0;

    ul.children {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    ul.children > li,
    > li {
        clear: both;
        @if $rtl == 1 {
            padding: 10px 115px 0 0;
        } @else {
            padding: 10px 0 0 115px;
        }
        img.avatar {
            height: auto;
            max-width: 80px;
        }
        a {
            text-decoration: none;
        }
        .img-thumbnail {
            @if $rtl == 1 {
                margin-right: -115px;
            } @else {
                margin-left: -115px;
            }
            position: absolute;
        }
        .comment-body {
            margin-bottom: 10px;
        }
        .pull-right {
            span {
                @if $rtl == 1 {
                    margin-right: 5px;
                } @else {
                    margin-left: 5px;
                }
            }
        }
    }
    .comment-arrow {
        border-bottom: 15px solid transparent;
        @if $dark == 1 {
            @if $rtl == 1 {
                border-left: 15px solid $color-dark-3;
            } @else {
                border-right: 15px solid $color-dark-3;
            }
        } @else {
            @if $rtl == 1 {
                border-left: 15px solid #F4F4F4;
            } @else {
                border-right: 15px solid #F4F4F4;
            }
        }
        @if $rtl == 1 {
            right: -15px;
        } @else {
            left: -15px;
        }
        border-top: 15px solid transparent;
        height: 0;
        position: absolute;
        top: 28px;
        width: 0;
    }
    .comment-block {
        @if $dark == 1 {
            background: $color-dark-3;
        } @else {
            background: #F4F4F4;
        }
        border-radius: $border-normal;
        padding: 20px 20px 35px;
        position: relative;
        p {
            font-size: 0.9em;
            line-height: 21px;
            margin: 0;
            padding: 0;
        }
        .comment-by {
            display: block;
            font-size: 1em;
            line-height: 21px;
            margin: 0;
            padding: 0 0 5px 0;

            span {
                display: inline-block;
                @if $rtl == 1 {
                    margin-right: 8px;
                } @else {
                    margin-left: 8px;
                }
            }
        }
        .date {
            color: #999;
            font-size: 0.9em;
            margin-top: 5px;
        }
    }
    @media #{$screen-medium} {
        ul.children {
            @if $dark == 1 {
                @if $rtl == 1 {
                    border-right: 8px solid $color-dark-3;
                } @else {
                    border-left: 8px solid $color-dark-3;
                }
            } @else {
                @if $rtl == 1 {
                    border-right: 8px solid #ddd;
                } @else {
                    border-left: 8px solid #ddd;
                }
            }
            @if $rtl == 1 {
                padding-right: 10px;
            } @else {
                padding-left: 10px;
            }
        }
        ul.children > li,
        > li {
            padding: 0;

            .comment-body {
                @if $dark == 1 {
                    background: $color-dark-3;
                } @else {
                    background: #f4f4f4;
                }
                border-radius: $border-normal;
                padding: 10px;
                @include clearfix();
            }
            .img-thumbnail {
                @if $rtl == 1 {
                    float: right;
                    margin: 0 0 10px 12px;
                } @else {
                    float: left;
                    margin: 0 12px 10px 0;
                }
                position: static;
            }
            img.avatar {
                max-width: 60px;
            }
        }
        .comment-block {
            position: static;
            padding: 0;
        }
        .comment-arrow {
            display: none;
        }
    }
}

/* Leave a Comment */
article {
    .comment-respond {
        margin-top: 25px;
        padding-top: 45px;
        padding-bottom: 0;
        h3 {
            margin: 0 0 40px;
        }
        input[type="submit"] {
            font-size: 1.2857em;
            padding: .5556em .8889em;
            border-radius: $border-thick;
            line-height: 1.33;
        }
    }
    #cancel-comment-reply-link {
        @if $rtl == 1 {
            margin-right: 10px;
        } @else {
            margin-left: 10px;
        }
    }
}

/* Related Posts */
.related-posts {
    margin-top: 35px;

    h3 {
        font-weight: 200;
    }
}

.post-carousel {
    .post-slide {
        @include clearfix();
    }

    h4 {
        margin-bottom: 7px;
    }
    &.owl-theme .owl-controls {
        margin-top: 0;
    }

    .post-item {
        margin: 0 ($grid-gutter-width / 2);
        .post-date {
            @if $rtl == 1 {
                float: right;
                margin: 3px 0 8px 10px;
            } @else {
                float: left;
                margin: 3px 10px 8px 0;
            }
        }
        .post-excerpt {
            margin-bottom: 10px;
        }
    }
}

.post-item-small {
    margin: 0 ($grid-gutter-width / 2);
    padding: 15px 0;
    @include clearfix();
    @if $dark == 1 {
        border-top: 1px solid $color-dark-3;
    } @else {
        border-top: 1px solid #ececec;
    }

    &:first-child {
        padding-top: 0;
        border-top-width: 0;
    }

    .post-image {
        @if $rtl == 1 {
            float: right;
            margin: 0 0 0 10px;
        } @else {
            float: left;
            margin: 0 10px 0 0;
        }
        img {
            width: 50px;
            height: auto;
        }
    }
    .post-date {
        font-size: .9286em;
    }
}

.entry-content {
    margin: 30px 0;
}